button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.yulibao-content a {
    color: #2db7f5;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.yulibao-content .info {
    height: 260px;
}
.yulibao-content .profit {
    width: 650px;height: 260px;padding: 30px 30px 40px;float: left;
}
.yulibao-content .rate-warp {
    width: 250px;height: 260px;padding: 30px 40px;float: right;
}
.profit .profit-total .total-title {
    font-size: 14px;
    color: #999;
    line-height: 14px;
    text-align: left;
}
.profit .profit-total .total-money {
    position: relative;
    font-size: 48px;
    color: #ff832e;
    line-height: 48px;
    text-align: left;
    margin-top: 20px;
}
.profit .profit-total .total-money .rollin {
    left: 350px;
    /*background: #00c2c2;
    color: #fff;*/
    color: #00c2c2;
}
.profit .profit-total .total-money .rollout {
    left: 418px;
    color: #00c2c2;
}
.profit .profit-total .total-money .rollin, .profit .profit-total .total-money .rollout {
    position: absolute;
    top: 10px;
    border-radius: 2px;
    width: 68px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}
.profit .profit-total .frozen-money {
    margin-top: 15px;
    height: 24px;
    border-bottom: 1px solid #eee;
}
.profit .profit-total .frozen-money.disable .wrap {
    display: none;
}
.profit .profit-total .frozen-money .title {
    float: left;
    font-size: 14px;
    color: #999;
    line-height: 14px;
    text-align: left;
}
.profit .profit-total .frozen-money .money {
    float: left;
    font-size: 14px;
    color: #333;
    line-height: 14px;
}
.profit .profit-earn {
    margin-top: 30px;
}
.profit .profit-earn .earn-day {
    float: left;
    width: 48%;
    height: 50px;
    border-right: 1px solid #eee;
}
.profit .profit-earn .earn-title {
    font-size: 14px;
    color: #999;
    line-height: 14px;
    text-align: left;
}
.profit .profit-earn .earn-money {
    font-size: 24px;
    color: #333;
    line-height: 24px;
    text-align: left;
    margin-top: 10px;
}
.profit .profit-earn .earn-total {
    float: right;
    width: 52%;
    height: 50px;
    padding-left: 40px;
}
.rate-warp {
    display: inline-block;
    width: 270px;
    height: 260px;
    padding: 30px 40px;
    border-radius: 2px;
    float: right;
}
.rate-warp .rate-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 95px;
    height: 83px;
}
.rate-warp .seven-days-rate {
    height: 104px;
    border-bottom: 1px solid #eee;
    text-align: left;
}
.rate-warp .title {
    font-size: 14px;
    color: #999;
    line-height: 14px;
}
.rate-warp .rate-value {
    font-size: 24px;
    color: #333;
    line-height: 24px;
    margin-top: 10px;
}
.rate-warp .seven-days-rate .rate-tendency {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #00c2c2;
    line-height: 14px;
}
.rate-warp .wan-earn-rate {
    padding-top: 30px;
}
.portal-detail-search {
    width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 15px;
    border: 1px solid #d5d5d5;
    position: relative;
    z-index: 11;
    border-radius: 2px;
    background-color: #fff;
}
.portal-detail-search-nav {
    list-style: none;
    position: relative;
    overflow: hidden;
    position: absolute;
    height: 40px;
    top: -40px;
    left: -1px;
    z-index: 10;
}
.portal-detail-search-nav li {
    float: left;
    font-size: 14px;
    color: #383838;
    width: 138px;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 39px;
    cursor: pointer;
}
.portal-detail-search-nav li div {
    height: 39px;
    line-height: 38px;
    background-color: #f8f8f8;
    position: absolute;
    width: 138px;
    bottom: 0;
    border: 1px solid #d5d5d5;
    border-radius: 0;
    border-left: 0;
    border-bottom-width: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.portal-detail-search-nav li.active div {
    border: 1px solid #d5d5d5;
    border-top: 2px solid #00c2c2;
    border-radius: 0;
    border-bottom-width: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
    height: 39px;
    line-height: 37px;
}
.portal-detail-search .portal-detail-search-header {
    height: 70px;
    line-height: 70px;
}
.portal-detail-search .left {
    float: left;
}
.portal-detail-search .portal-detail-search-header-time {
    margin-left: 10px;
}
.portal-detail-search .portal-detail-search-header-text {
    font-size: 14px;
    margin: 0 10px;
}
.ant-calendar-picker {
    position: relative;
    display: inline-block;
    outline: none;
    font-size: 12px;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.portal-detail-search .portal-detail-search-header .ant-input {
    border-radius: 0;
    width: 110px;
    height: 40px;
}
.portal-detail-search .ant-calendar-picker-input {
    color: #d3d3d3;
}
.ant-input {
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    width: 100%;
    height: 28px;
    cursor: text;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    -webkit-transition: border .2s cubic-bezier(.645,.045,.355,1),background .2s cubic-bezier(.645,.045,.355,1),box-shadow .2s cubic-bezier(.645,.045,.355,1);
    transition: border .2s cubic-bezier(.645,.045,.355,1),background .2s cubic-bezier(.645,.045,.355,1),box-shadow .2s cubic-bezier(.645,.045,.355,1);
}
.portal-detail-search .ant-calendar-picker-icon {
    width: 18px;
    height: 20px;
    margin-top: -10px;
}
.ant-calendar-picker-icon {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    width: 12px;
    height: 12px;
    line-height: 12px;
    right: 8px;
    color: #999;
    top: 50%;
    margin-top: -6px;
}
.portal-detail-search .ant-calendar-picker-icon:after {
    /*content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAUCAYAAACAl21KAAAABGdBT…KPY6mO6zif+7+DP/1kahjDFK7VcSwDU5juc2hfdH9sx38A21GH7BlfgVIAAAAASUVORK5CYII=);*/
}
.ant-calendar-picker-icon:after {
    /*content: "\E654";*/
    font-family: anticon;
    font-size: 12px;
    color: #999;
    display: inline-block;
    line-height: 1;
    vertical-align: bottom;
}
.portal-detail-search .portal-detail-search-header-select {
    margin-left: 20px;
}
.portal-detail-search .portal-detail-search-header .ant-select {
    margin-top: -2px;
}
.ant-select {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    color: #666;
    font-size: 12px;
}
.portal-detail-search .portal-detail-search-header .ant-select-selection {
    border-radius: 0;
    width: 200px;
    height: 40px;
}
.ant-select-selection--single {
    height: 28px;
    cursor: pointer;
}
.ant-select-selection {
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.portal-detail-search .ant-select-selection--single .ant-select-selection__rendered {
    padding-right: 35px;
}
.portal-detail-search .portal-detail-search-header .ant-select-selection__rendered {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #d3d3d3;
}
.ant-select-selection--single .ant-select-selection__rendered {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 24px;
    line-height: 26px;
}
element.style {
    outline: none;
}
:root .ant-select-arrow {
    -webkit-filter: none;
    filter: none;
    font-size: 12px;
}
.ant-select-arrow {
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    position: absolute;
    top: 50%;
    right: 8px;
    line-height: 1;
    margin-top: -5px;
    display: inline-block;
    font-size: 12px;
    font-size: 8px\9;
    -webkit-transform: scale(.66666667) rotate(0deg);
    transform: scale(.66666667) rotate(0deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod="auto expand",M11=1,M12=0,M21=0,M22=1);
    zoom: 1;
}
.portal-detail-search .portal-detail-search-header-button {
    width: 68px;
    height: 30px;
    border-radius: 1px;
    background-color: #00c2c2;
    border: 0;
    line-height: 30px;
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
}
.portal-detail-search .portal-detail-search-header-button:hover {
    background-color: #00a8a8;
    border-color: #00a8a8;
}
.ant-form-horizontal .ant-form-item, .clearfix, .layout-fixed, .layout-fluid, .row {
    zoom: 1;
}
.portal-detail-search .ant-spin-container, .portal-detail-search .ant-spin-nested-loading, .portal-detail-search .ant-table {
    width: 100%;
}
.ant-table {
    font-size: 12px;
    color: #666;
}
.ant-table-body {
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.ant-table table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    text-align: left;
    border-radius: 6px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.ant-table tr {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.portal-detail-search .ant-table th:first-child {
    text-align: left;
    padding-left: 20px;
}
.portal-detail-search .ant-table th:first-child, .portal-detail-search .ant-table th:last-child {
    border-radius: 0;
}
.portal-detail-search .ant-table .search-date {
    width: 200px;
}
.portal-detail-search .ant-table th {
    text-align: right;
    padding-right: 20px;
}
.ant-table th:first-child {
    border-radius: 6px 0 0 0;
}
.portal-detail-search .ant-table td:first-child {
    text-align: left;
    padding-left: 20px;
}
.ant-table td, .ant-table th {
    padding: 16px 8px;
}
.ant-table th {
    background: #f3f3f3;
    font-weight: 700;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}
.portal-detail-search .ant-table .search-amount {
    width: 300px;
    color: #383838;
}
.portal-detail-search .ant-table td {
    text-align: right;
    padding-right: 20px;
    border: 0;
    font-size: 14px;
    color: #a5a5ac;
}
.ant-table td, .ant-table th {
    padding: 16px 8px;
}
.ant-table td {
    border-bottom: 1px solid #e9e9e9;
}
.portal-detail-search .hide {
    display: none;
}
.portal-detail-search .receipt {
    color: #00c2c2;
    font-style: normal;
    cursor: pointer;
    margin-right: 10px;
}
.hide {
    display: none!important;
}
.portal-detail-search .detail-linker {
    color: #00c2c2;
    cursor: pointer;
}
.portal-detail-pagination {
    margin: 20px auto;
    overflow: hidden;
}
.portal-detail-pagination .ant-btn-primary:first-child {
    margin-right: 20px;
}
.portal-detail-pagination .hidden {
    display: none;
}
.portal-detail-pagination .ant-btn-primary {
    float: right;
    margin-right: 10px;
}
.ant-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    padding: 4px 11px;
    font-size: 12px;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative\0;
    color: #666;
    background-color: #f4f4f4;
    border-color: #d9d9d9;
}
.ant-btn, .ant-btn:active, .ant-btn:focus {
    outline: 0;
}
.ant-btn-primary {
    border-color: #00c2c2;
    background-color: #00c2c2;
}
.ant-btn {
    width: 110px;
    background-color: #00c2c2;
    border-radius: 3px;
    padding: 4px 0;
    color: #fff;
}
.ant-btn:hover {
    background-color: #00a8a8;
    border-color: #00a8a8;
}
.ant-btn-primary.active, .ant-btn-primary:active, .ant-btn-primary:hover {
    color: #fff;
}
.ant-table tr:hover {
    background: #eaf8fe;
}