<div class="div-width-100 top-box">
    <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="./img/operator.png" alt="">
      系统权限树
    </h1>

    <table class="table table-striped table-hover table-bordered big-input">
        <tbody>
          <tr>
            <td>提示</td>
            <td>
              <div class="alert alert-success no-margin-bottom">请点击菜单进入API关联界面</div>
            </td>
          </tr>
          <tr>
            <td width="30%">系统菜单</td>
            <td width="70%" class="div-text-left">
              <div class="menuList"></div>
            </td>
          </tr>
        </tbody>
    </table>


</div>
