  <div id="container" class="container-fluid div-center">
        <div class="row-fluid">
            <div id="content" class="div-width-100">
                <div id="fund_search_way" class="row-fluid">
                    <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/fast_money.png" alt="">编辑
                    </h1>
                    <table class="table table-striped table-bordered table-hover">
			            <tbody>
			              <tr>
			                 <td width="20%">委托企业:</td>
			                <td width="30%" class="div-text-left">
			                    <span ng-bind="detailParamInfo.coreCustName"></span>
			                </td>
			                
			              </tr>
			              <tr>
			                <td><strong class="red">*</strong> 佣金年利率(%):</td>
			                <td class="div-text-left">
			                    <input type="text" style="width: 88% !important;" ng-model="detailParamInfo.interestRate">
			                </td>
			              </tr>             
			              <tr>
			                <td><strong class="red">*</strong> 商业发票税率(%):</td>
			                <td class="div-text-left">
			                  <input type="text" style="width: 88% !important;" ng-model="detailParamInfo.taxRate">
			                </td>
			              </tr>
			              <tr>
			              	<td colspan="2" style="border-top:1px solid #ddd;">
			              		提示: <br>
			              		1、调整佣金利率不会影响已生成的账单; <br>
			              		2、调整发票税率不会影响已开具的发票;
			              	</td>
			              </tr>                  
			            </tbody>
       			 </table>
         <div class="center-buttons">
          <button class="btn btn-primary" ng-click="editinfoList($event.target);">提交</button>
          <button class="btn btn-primary" bt-close-modal="">返回</button>
        </div>
            </div>                 
        </div>
      </div>
    </div>