<div class="div-width-90 detail-box div-center">
    
    <!-- 营业执照 -->
    <div class="div-center div-width div-margin-top">
    <form action="" id="" class="form-horizontal ng-pristine ng-valid">
      <div class="div-center div-width div-margin-top">
        <table class="table table-striped table-bordered table-hover info-list" ng-box-active="licenseInfo.onlyLook=false">
            <caption class="table-caption table-caption-green clearFix">
              <span class="title-left">营业执照</span>
            </caption>
          <tbody>
          <tr>
            <td width="20%">企业名称</td>
            <td width="30%"><span ng-bind="licenseInfo.custName"></span></td>
            <td width="20%">企业类型</td>
            <td width="30%" class="div-text-left">
              <select ng-model="licenseInfo.corpType">
                <option ng-repeat="item in corpTypes" value="{{item.value}}" ng-bind="item.name" ng-selected="licenseInfo.corpType == item.value"></option>
              </select>
            </td>
          </tr>
          <tr>
            <td>注册号</td>
            <td class="div-text-left"><input type="text" ng-model="licenseInfo.regNo"></td>
            <td>住所</td>
            <td class="div-text-left"><input type="text" ng-model="licenseInfo.address"></td>
          </tr>
          <tr>
            <td>组织机构代码证号</td>
            <td class="div-text-left"><input type="text" ng-model="licenseInfo.orgCode"></td>
            <td>法定代表人</td>
            <td class="div-text-left"><input type="text" ng-model="licenseInfo.lawName"></td>
          </tr>
          <tr>
            <td>税务登记证号</td>
            <td class="div-text-left"><input type="text" ng-model="licenseInfo.taxNo"></td>
            <td>经营范围</td>
            <td class="div-text-left"><input type="text" ng-model="licenseInfo.businScope"></td>
          </tr>
          <tr>
            <td>注册资本</td>
            <td class="div-text-left"><input type="text" ng-model="licenseInfo.regCapital"></td>
            <td>实收资本</td>
            <td class="div-text-left"><input type="text" ng-model="licenseInfo.paidCapital"></td>
            
          </tr>
          <tr>
            <td>成立日期</td>
            <td class="div-text-left"><input type="text" bt-date="licenseInfo.setupDate"></td>
            <td>营业期限</td>
            <td class="div-text-left double-date">
              <input type="text" id="business_start_date" bt-date="licenseInfo.startDate" bt-max-date="business_end_date">
               至 
               <input type="text" id="business_end_date" bt-date="licenseInfo.endDate" bt-min-date="business_start_date">
            </td>
          </tr>
          <tr>
            <td>登记机关</td>
            <td class="div-text-left"><input type="text" ng-model="licenseInfo.regBranch"></td>
            <td>制证日期</td>
            <td class="div-text-left"><input type="text" bt-date="licenseInfo.certifiedDate"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>


      <!-- 附件信息列表 -->
      <table class="table table-striped table-hover table-bordered">
          <caption class="table-caption table-caption-green clearFix">
            <span class="title-left">附件列表</span>
            <button class="btn btn-info btn-right" ng-show="!onlyLook" ng-click="openUploadDropdown($event,'licenseAttachTypes','licenseUploadList');">+新增附件</button>
          </caption>
        <thead>
          <tr class="result-head-gray">
            <td width="30%">附件类型</td>
            <td width="40%">附件名称</td>
            <td width="30%">操作</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="file in licenseUploadList" ng-repeat-end ng-class="{even:$even}">
             <td ng-bind="file.fileInfoType|kindf:'CustBusinLicenseAttachment' "></td>
             <td>
                <a href=""><span ng-bind="file.fileName"></span></a>
             </td>
             <td>
                <a href="{{file.id|downf}}">下载</a>  
                <a href="" ng-show="!onlyLook" ng-click="deleteAttach(file.id,'license')">删除</a>
             </td>
           </tr>
        </tbody>
      </table>


      <div>
          <div class="center-buttons" ng-show="!onlyLook">
             <!-- <button class="btn btn-primary" ng-click="">暂存</button> -->
             <button class="btn btn-primary" ng-click="addChange($event.target,'license');">申请变更</button>
           </div>
      </div>

    </div>

     <!-- 变更记录 -->
    <!-- <div bt-include="temp/changeRecord.html" ></div> -->
    <div  class="div-center div-width div-margin-top" ng-show="!onlyLook">
      <table class="table table-striped table-hover change-list">
          <caption class="table-caption clearFix">
            <span class="title-left">变更记录</span>
          </caption>
        <thead>
          <tr class="result-head-gray">
            <td width="20%">申请时间</td>
            <td width="15%">审批状态</td>
            <td width="20%">审批时间</td>
            <td width="15%">审批结果</td>
            <td width="15%">审批意见</td>
            <td width="15%">操作</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="change in licenseChangeList" ng-repeat-end ng-class="{even:$even}">
            <td ng-bind="change.regDate + ' ' + change.regTime"></td>
            <td ng-bind="change.businStatus|kindf:'ChangeApplyBusinStatus'"></td>
            <td ng-bind="change.auditDate + ' ' + change.auditTime"></td>
            <td ng-class="{true:'red',false:'green'}[change.auditResult!=0]">
                <span ng-show="change.auditResult!=''" ng-bind="change.auditResult==0?'成功':'未通过'"></span>
                <span ng-show="change.auditResult==''"></span>
            </td>
            <td ng-bind="change.auditReason"></td>
            <td><a href="" ng-click="showChangeDetail(change,'license');">查看变更详情</a></td>
          </tr>
        </tbody>
        <tfoot>
            <td colspan="6">
              <div bt-pagination conf="licenseChangeListPage" func="queryChangeList(false,'license');" ></div>
            </td>
        </tfoot>
      </table>
    </div>
</div> 
