<div class="div-width-90 detail-box div-center">

    <div class="div-center div-width div-margin-top">

     <!-- 贸易记录 -->

      <table class="table table-striped table-hover table-bordered">
        <caption class="table-caption table-caption-green clearFix">
           <span class="title-left">模板下载</span>
        </caption>
        
        <tbody>
        <tr>
          <td width="50%">贸易记录模板:</td>
          <td width="50%">
            <a ng-href="{{'tradeRecordInfo'|kindf:'BusinessInfoDownload' }}">下载</a>
          </td>
            <!-- <button type="button" class="btn btn-primary" ng-click="openUpload($event,'','模板文件','','import_box')">+上传模板</button> -->
        </tr>
        </tbody>
      </table>

     <table class="table table-striped table-hover">
         <caption class="table-caption table-caption-green clearFix table-caption-noborder">
           <span class="title-left">贸易记录</span>
           <button class="btn btn-info btn-right" ng-show="!onlyLook" ng-click="openAddBox('tradeRecord');">+添加贸易记录</button>
         </caption>
       <thead>
         <tr class="result-head-gray">
           <td width="20%">序号</td>
           <td width="20%">数据开始时间</td>
           <td width="20%">数据结束时间</td>
           <td width="20%">操作</td>
         </tr>
       </thead>
       <tbody>
          <tr ng-repeat="item in tradeRecordList" ng-repeat-end ng-class="{even:$even}">
           <td ng-bind="$index+1"></td>
           <td ng-bind="item.startDate"></td>
           <td ng-bind="item.endDate"></td>
           <td>
             <a  href="{{item.fileList[0].id|downf}}" >下载</a>
             <a href="" ng-show="!onlyLook" ng-click="deleteRecord(item,'tradeRecord');">删除</a>
           </td>
         </tr>
       </tbody>
       <tfoot>
            <td colspan="4">
              <div bt-pagination conf="tradeRecordPage" func="queryOperateList(false,'tradeRecord')" ></div>
            </td>
        </tfoot>
     </table>

    </div>
    
</div> 
