 <div id="container" class="container-fluid div-center">
        <div class="row-fluid">
            <div id="content" class="div-width-100">
                <div id="fund_search_way" class="row-fluid">
                    <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/fast_money.png" alt="">付款指令清单
                    </h1>
                    <table class="table table-condensed div-width-70 div-center search-table">                   
                      <tr>
                        <td>付款日期:</td>
                        <td class="div-text-left">
                          <input type="text" id="begin_date" bt-date="searchData.requestPayDate">
                          <!-- <input type="text" id="end_date" bt-date="searchData.LTEregDate"> -->
                        </td>
                      </tr>                      
                      <tr>                        
                        <td width="25%">状态:</td>
                        <td width="75%" class="div-text-left">
                          <select ng-model="searchData.businStatus">
                            <option value="">----所有----</option>
                            <option ng-repeat="item in statusList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.businStatus == item.value"></option>                            
                          </select>
                        </td>                        
                      </tr> 
                      
                      
                    </table>
                    <div class="center-buttons">
                      <button class="btn btn-primary btn-bg-middle" ng-click="searchList();">查询</button>
                    </div>
                </div>

            <div id="search_info" class="row-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="reqQuota">
                        <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/operator.png" alt="">
                        付款指令列表
                        </h1>
                        <div ng-include="'template/prePay_1/purchaser/temp/orderList.html'"></div>
        
                    </div>
                 
              </div>
          </div>
          <div class="center-buttons">
            <button class="btn btn-primary" ng-click="lookHisttory()">查看下载历史</button>
            <button class="btn btn-primary" ng-click="goBack()">返回</button>
          </div>
    </div>
    <!-- 下载历史 -->
    <div id="history_box"   bt-roll-modal="template/prePay_1/purchaser/temp/history.html" bt-z-index="9991"></div>
    


