<!DOCTYPE html>
<html>
  <head>
    <title>融资还款查询</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11" />
    <!-- LXUI -->
    <link rel="stylesheet" href="https://static.qiejf.com/better/l/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://static.qiejf.com/better/scf2/css/supplier/manager/repayFinance.css">
    <script type="text/javascript" src="https://static.qiejf.com/better/l/seajs/sea.js"></script>
    <script type="text/javascript" src="https://static.qiejf.com/better/base/config_ng.js"></script>

  </head>
  <body id="body">
  	<div id="container" class="container-fluid div-center">
  		<div class="row-fluid">
  			<div id="content" ng-controller="mainController" class="span12">

          <div id="fund_search_way" class="row-fluid">
            <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/fast_money.png" alt="">融资还款查询
            </h1>
           <table class="table table-condensed div-width-70 div-center search-table">
              <tr>
                <td width="25%">选择机构:</td>
                <td width="75%" class="div-text-left">
                  <select ng-model="searchData.custNo" ng-change="changeCust();">
                    <option ng-repeat="item in custList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.custNo == item.value"></option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>核心企业:</td>
                <td class="div-text-left">
                  <select ng-model="searchData.coreCustNo">
                    <option ng-repeat="item in coreCustList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.coreCustNo == item.value"></option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>保理公司:</td>
                <td class="div-text-left">
                  <select ng-model="searchData.factorNo">
                    <option ng-repeat="item in factorList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.factorNo == item.value"></option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>放款日期:</td>
                <td class="div-text-left date">
                  <input type="text" id="begin_date" bt-date="searchData.GTEactualDate">-
                  <input type="text" id="end_date" bt-date="searchData.LTEactualDate">
                </td>
              </tr>
            </table>
            <div class="center-buttons">
              <button class="btn btn-primary btn-bg-middle" ng-click="searchList();">查询</button>
            </div>
          </div>

          <div id="search_info" class="row-fluid">
            <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/flow_money.png" alt="">
              融资还款列表
            </h1>
            <table class="div-width-100 table table-striped table-hover search-result">
              <thead>
                <tr class="result-head result-head-consense">
                  <td width="10%">融资编号</td>
                  <td width="15%">核心企业</td>
                  <td width="15%">保理公司</td>
                  <td width="10%">融资类型</td>
                  <td width="10%">放款日期</td>
                  <td width="10%">到期日期</td>
                  <td width="10%">实际融资金额</td>
                  <!-- <td width="10%">贷款利息</td>
                  <td width="10%">已还本金</td>
                  <td width="10%">已还利息</td>
                  <td width="10%">剩余本金</td>
                  <td width="10%">剩余利息</td> -->
                  <td width="10%">状态</td>
                  <td width="10%">操作</td>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="item in infoList" ng-repeat-end ng-class="{even:$even}" >
                  <td ng-bind="item.requestNo"></td>
                  <td class="red" ng-bind="item.coreCustName"></td>
                  <td class="red" ng-bind="item.factorName"></td>
                  <td ng-bind="item.requestType|kindf:'RaiseCapitalType'"></td>
                  <td ng-bind="item.actualDate"></td>
                  <td ng-bind="item.endDate"></td>
                  <td class="red" ng-bind="item.confirmBalance|moneyFilter"></td>
                  <!-- <td ng-bind="item.payPlan.shouldInterestBalance|moneyFilter"></td>
                  <td ng-bind="item.payPlan.alreadyPrincipalBalance|moneyFilter"></td>
                  <td ng-bind="item.payPlan.alreadyInterestBalance|moneyFilter"></td>
                  <td ng-bind="item.payPlan.surplusPrincipalBalance|moneyFilter"></td>
                  <td ng-bind="item.payPlan.surplusInterestBalance|moneyFilter"></td> -->
                  <td ng-bind="item.tradeStatus|kindf:'FlowTypeDic'"></td>
                  <td>
                    <a href="#" ng-click="showInfoDetail(item);">详情</a><br>
                    <a href="#" ng-show="currRole=='supplier' " ng-click="notifyPay(item);">提醒还款</a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <td colspan="14">
                  <div bt-pagination conf="listPage" func="queryList(false);"></div>
                </td>
              </tfoot>
            </table>

          </div>


        <!-- 融资详情 -->
        <div id="fix_operator_info_box" bt-roll-modal="temp/detailFinance.html" bt-z-index="9991"></div>
        <!-- 订单签约 -->
        <!-- <div id="sign_contract_box" bt-roll-modal="temp/signContract.html" bt-z-index="9991"></div> -->
        <!-- 展期信息 -->
        <!-- <div id="fix_extension_info_box" bt-roll-modal="temp/extenInfo.html" bt-z-index="9992"></div> -->
        <!-- 豁免信息 -->
        <!-- <div id="fix_intexem_info_box" bt-roll-modal="temp/intExem.html" bt-z-index="9992"></div> -->
        <!-- 新增催收记录 -->
        <!-- <div id="fix_collrecord_info_box" bt-roll-modal="temp/addCollRecord.html" bt-z-index="9992"></div> -->
        <!-- 新增记事本信息 -->
        <!-- <div id="fix_note_info_box" bt-roll-modal="temp/addNote.html" bt-z-index="9992"></div> -->
        <!-- 查看协议详情 -->
        <div id="look_agree_info_box" bt-roll-modal="temp/showAgreeInfo.html" bt-z-index="9992" bt-max-width="900px"></div>

        <!-- 订单详情 -->
        <div id="proof_order_detail_box" bt-roll-modal="../../commonTemp/orderDetailShow.html" bt-z-index="9993"></div>
        <!-- 票据详情 -->
        <div id="proof_draft_detail_box" bt-roll-modal="../../commonTemp/draftDetailShow.html" bt-z-index="9993"></div>
        <!-- 应收详情 -->
        <div id="proof_recieve_detail_box" bt-roll-modal="../../commonTemp/recieveDetailShow.html" bt-z-index="9993"></div>
        <!-- 发票详情 -->
        <!-- <div id="invoice_detail_box" bt-roll-modal="../../commonTemp/detailTemp/invoiceDetail.html"></div> -->
        <!-- 合同详情 -->
        <!-- <div id="contract_detail_box" bt-roll-modal="../../commonTemp/detailTemp/contractDetail.html"></div> -->
        <!-- 运输单据详情 -->
        <!-- <div id="transport_detail_box" bt-roll-modal="../../commonTemp/detailTemp/transportDetail.html"></div> -->


  			</div>
  		</div>

  	</div>





	<!-- 引用js文件 -->
	<script type="text/javascript">
    // For development
      if (isBTTest) {
        seajs.use("scf2/js/supplier/manager/repayFinance");
      }
      // For production
      else {
        seajs.use("scf2/dist/supplier/manager/repayFinance");
      }
  </script>
  </body>
</html>
