<div class="row-fluid">
      <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/flow_money.png" alt="">
        客户关系列表
        <!-- <small class="small-select">
              <span>客户名称</span>
              <select ng-model="searchData.custNo" ng-change="queryList();">
                <option ng-repeat="item in custList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.custNo == item.value"></option>
              </select>
        </small> -->
      </h1>
      <table class="table table-condensed div-width-70 div-center search-table">
                    <tr>
                        <td>企业名称:</td>
                        <td class="div-text-left date">

                          <select ng-model="searchData.custNo" ng-change="queryList();">
                            <option ng-repeat="item in custList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.custNo == item.value"></option>
                          </select>

                        </td>
                      </tr>    
                      <tr>
						<td width="25%">客户类型:</td>
						<td width="75%" class="div-text-left">
							<select ng-model="searchData.relationType" ng-change="queryList();">
                            <option value="">----所有----</option>
                            <option ng-repeat="item in companyRoleList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.relationType == item.value"></option>                            
              </select>
						</td>
                    </tr>  
            
                    
				</table>
      <table class="div-width-100 table table-striped table-hover search-result">
        <thead>
          <tr>
            <td class="modi-group" colspan="6">
              <a href="javascript:void(0);" ng-click="openRelationInfo();"><button class="btn btn-info" >新增关联</button></a>
            </td>
          </tr>
          <tr class="result-head">
            <td width="15%">客户类型</td>
            <td width="45%">客户名称</td>
            <td width="10%">状态</td>
            <td width="15%">添加时间</td>
            <td width="15%">操作</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in custRelationList" ng-repeat-end ng-class="{even:$even}" >
            <td >
              <span ng-show="custType=='SUPPLIER_USER'" ng-bind="item.relateType|kindf:'SupplierStatus'"></span>
              <span ng-show="custType=='SELLER_USER'" ng-bind="item.relateType|kindf:'SellerStatus'"></span>
              <span ng-show="custType=='CORE_USER'" ng-bind="item.relateType|kindf:'CoreStatus'"></span>
            </td>
            <td>
              <span ng-show="custType=='SUPPLIER_USER'" ng-bind="item.relateCustname"></span>
              <span ng-show="custType=='SELLER_USER'" ng-bind="item.relateCustname"></span>
              <span ng-show="custType=='CORE_USER'" ng-bind="item.custName"></span>
            </td>
            <td>
                <a href="javascript:void(0);" ng-bind="item.businStatus|kindf:'OpenFactorFinancingStatus'" ng-show="item.relateType === '0'||item.relateType === '2'||item.relateType === '3'" ng-click="openFactorInfo(item);"></a>
                <span class="deep-gray" ng-hide="item.relateType === '0'||item.relateType === '2'||item.relateType === '3'" ng-bind="item.businStatus|kindf:'OpenFactorFinancingStatus'"></span>
            </td>
            <td ng-bind="item.regDate"></td>
            <td>
              <a href="javascript:void(0);" ng-show="item.relateType=='1'" ng-click="edit_customer($event.target,item);">配置融资产品</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td colspan="5">
            <div bt-pagination conf="listPage" func="queryList();"></div>
          </td>
        </tfoot>
      </table>

  </body>
