
<div id="alldiv" class="row-fluid">

    <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="./img/operator.png" alt="">
      选择关联客户类型
    </h1>

    <div id="mainContent" class="row-fluid div-center ">
            
        <div >
          <label for="core" class="margin-20"><input type="radio" id="core" name="way"> 核心企业</label> 
        </div>  

        <div>
          <label for="fac" class="margin-20"><input type="radio" id="fac" name="way"> 保理机构</label> 
        </div>
        <div>
          <label for="fac" class="margin-20"><input type="radio" id="fac" name="way"> 保理机构</label> 
        </div>

    </div>
        
    <div class="center-buttons" >
        <button class="btn btn-primary" ng-click="">下一步</button>
    </div>


        <!-- 附件上传 start -->
    <div bt-upload conf="uploadConf"></div>

    
</div>

