<!DOCTYPE html>
<html>

<head>
    <title>黑名单管理</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11" />
    <!-- LXUI -->
    <link rel="stylesheet" href="https://static.qiejf.com/better/l/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://static.qiejf.com/better/scf2/css/sfccom/manager/blackList.css">
    <script type="text/javascript" src="https://static.qiejf.com/better/l/seajs/sea.js"></script>
    <script type="text/javascript" src="https://static.qiejf.com/better/base/config_ng.js"></script>
</head>

<body id="body">
    <div id="container" class="container-fluid div-center">
        <div class="row-fluid">
            <div id="content" ng-controller="mainController" class="div-width-100">
                <div id="fund_search_way" class="row-fluid">
                    <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/fast_money.png" alt="">黑名单查询
                    </h1>
                    <table class="table table-condensed div-width-70 div-center search-table">
                      <tr>
                        <td>录入日期:</td>
                        <td class="div-text-left date">
                          <input type="text" id="begin_date" bt-date="searchData.GTEregDate">-
                          <input type="text" id="end_date" bt-date="searchData.LTEregDate">
                        </td>
                      </tr>
                      <tr>
                        <td width="25%">状态:</td>
                        <td width="75%" class="div-text-left">
                        <select ng-model="searchData.businStatus">
                          <option value="">---所有状态---</option>
                          <option ng-repeat="item in statusList" ng-selected="searchData.businStatus==item.value" ng-bind="item.name" 
                          value="{{item.value}}" ng-option-filter></option>
                        </select>
                        </td>
                      </tr>  
                    </table>
                    <div class="center-buttons">
                      <button class="btn btn-primary btn-bg-middle" ng-click="searchList();">查询</button>
                    </div>
                </div>

            <div id="search_info" class="row-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="reqQuota">
                        <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/operator.png" alt="">
                        黑名单列表
                        </h1>
                        <!-- 搜索工具栏 -->
                        <form class="form-inline">  
                            <label><button type="button" class="btn btn-info" ng-click="addInfoBox();">+添加黑名单</button></label>
                            <label><button type="button" class="btn btn-info" ng-click="importBlackList();">+导入黑名单</button></label>
                        </form>
                        <table class="div-width-100 table table-striped table-hover search-result main-list">
                            <thead>
                                <tr class="font-size-12 info-title">
                                    <td>被执行人姓名/名称</td>
                                    <td>证件号码</td>
                                    <td>录入日期</td>
                                    <td>激活日期</td>
                                    <td>状态</td>
                                    <td>操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-class="{even:$even}" ng-repeat="item in infoList" ng-repeat-end >
                                    <td ng-bind="item.name"></td>
                                    <td ng-bind="item.identNo"></td>
                                    <td ng-bind="item.regDate"></td>
                                    <td ng-bind="item.activateDate"></td>
                                    <td ng-bind="item.businStatus"></td>
                                    <td>
                                        <a href="javascript:void(0);" ng-click="editInfoBox(item);">详情维护</a>
                                        <a href="javascript:void(0);" ng-click="delInfo($event.target,item);">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <td colspan="6">
                                    <div bt-pagination conf="listPage" func="queryList(false)"></div>
                                </td>
                            </tfoot>
                        </table>
                    </div>


                <!-- 温馨提示END -->
                <!-- 模板区域 -->
                <!-- 新增黑名单模板 -->
                <div id="add_box" bt-roll-modal="temp/addBlackList.html" bt-z-index="9991"></div>
                <!-- 修改黑名单模板 -->
                <div id="edit_box" bt-roll-modal="temp/modifyBlackList.html" bt-z-index="9991"></div>
                <!-- 黑名单导入 -->
                <div id="import_box" bt-roll-modal="temp/importBlackList.html" bt-z-index="9991"></div>
                <!-- 附件上传 start -->
                <div bt-upload conf="uploadConf"></div>

            </div>
        </div>
    </div>
    <!-- 引用js文件 -->
    <!--[if lt IE 9]>
      <script type="text/javascript">seajs.use('p/js/common/IErequire');</script>
  <![endif]-->
    <script type="text/javascript">
    // For development
      if (isBTTest) {
        seajs.use("scf2/js/sfccom/manager/blackList1");
      }
      // For production
      else {
        seajs.use("scf2/dist/sfccom/manager/blackList1");
      }
    </script>
</body>

</html>
