@charset "UTF-8";
/* 用户资料页面样式文件 */
@import "common/base";
@import "common/bootstrapplus";
@import "common/tooltip";

#container{
	@include init;
	@include deep-blue-border;
	@include plus-ie-btn;
	@include line-checkbox;
	@include td-line-checkbox;
	@include line-hover;
	@include div-width(100%);
	@include plus-ie-table;
	@include plus-ie-css3;
}

#content{
	@include plus-nav-tabs;
	@include center-buttons;
	@include td-input-width(95%);
	@include td-pack-align(center,middle);
	@include content-title;
	@include div-line;
	@include div-text-align;


	.plus-info{
		.lab-inf{
			margin-left:20px;
			font-size:16px;
			color:gray;
		}
		select{
			margin-bottom:0;
			*position:relative;
			*top:3px;
		}
		margin:0;
	}
}

#fund_info{
	border:{
		top:1px solid #8e8e8e;
		bottom:1px solid #8e8e8e;
	}
	min-height:80px;
	.left-info{
		border-right:1px solid #8e8e8e;
	}
	margin-bottom:15px;
	table{
		width:100%;
	}

	.info-title{
		color:rgb(116, 93, 61);
		font-family:宋体;
		text-align:left;
		font-size:14px;
		height:50px;
		vertical-align:middle;
		img{
			width:20px;
			height:20px;
			margin-right:10px;
		}
	}

	.info-content{
		text-align:center;
		line-height:55px;
		height:55px;
		color: rgb(214, 41, 70);
		display: inline;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 48px;
	}
}

#fund_fast_way{
	.fast-buttons{
		margin:15px 0 20px 0;
		li{
			display:inline-block;
			background-color:#BDB093;
			text-align:center;
			float:left;
			width:18%;
			margin-right:1.8%;
			height:50px;
			line-height:50px;
			font-size:14px;
			color:white;
			cursor:pointer;
			&:hover{
				color:#9F9F9F;
			}
			img{
				width:20px;
				height:20px;
				margin-right:5px;
			}
		}
	}
}










