<!DOCTYPE html>
<html>
  <head>
    <title>设置交易密码</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11" />
    <!-- LXUI -->
    <link rel="stylesheet" href="https://static.qiejf.com/better/l/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://static.qiejf.com/better/scf2/css/wechat/cust/setPassword.css">
    <script type="text/javascript" src="https://static.qiejf.com/better/l/seajs/sea.js"></script>
    <script type="text/javascript" src="https://static.qiejf.com/better/base/config_ng.js"></script>

  </head>
  <body id="body">
  	<div id="container" class="container-fluid div-center">
  		<div class="row-fluid">
  			<div id="content" ng-controller="mainController" class="span12">

          <div id="fund_search_way" class="row-fluid">
            <h1 class="content-title-1 content-title-condensed"><img src="../../../img/info-title-icon.png" alt="">设置交易密码</h1>

            <form action="#" id="register_form" class="div-width-100">

            <table class="table table-condensed div-width-70 div-center search-table">
              <tr>
                <td width="30%">登录密码:</td>
                <td width="70%" class="div-text-left">
                <input type="password" name="" ng-model="info.loginPassword" >
                </td>
              </tr> 
              <tr>
                <td>交易密码:</td>
                <td class="div-text-left">
                <input type="password" name="" ng-model="info.newPassword" >
                </td>
              </tr>
              <tr>
                <td>确认密码:</td>
                <td class="div-text-left">
                <input type="password" name="" ng-model="info.okPassword">
                </td>
              </tr>
              
            </table>
            </form>
            <div class="center-buttons">
              <button class="btn btn-primary btn-bg-middle" id="register_btn" ng-click="savePwd($event.target);" >提交</button>
            </div>

             <!-- 温馨提示 -->
            <div id="warm_prompt_box" class="div-width-100">
              <h1 class="prompt-title">
                <img class="prompt-icon" src="../../../img/warm_prompt.png" alt="">
                温馨提示
              </h1>
              <div class="warm-prompt-content">
                <p>1.交易密码仅供微信端办理业务时使用。</p>
                <p>2.平台不会已任何方式向您索取密码。</p>
                <p>3.平台不承担因个人疏忽泄露密码造成的任何损失。</p>
              </div>
            </div>
             <!-- 温馨提示END -->
          </div>
        </div>
      </div>
    </div>

          

	<!-- 引用js文件 -->
	<!--[if lt IE 9]>
	    <script type="text/javascript">seajs.use('p/js/common/IErequire');</script>
	<![endif]-->
	<script type="text/javascript">
    // For development
      if (isBTTest) {
        seajs.use("scf2/js/wechat/cust/setPassword");
      }
      // For production
      else {
        seajs.use("scf2/js/wechat/cust/setPassword");
      } 
  </script>
  </body>
</html>