<div class="top-box">
  <h1 class="content-title-1 content-title-condensed content-title-blue div-margin-bottom-none"><img src="img/operator.png" alt="">
    客户电子印章制作
  </h1>

  <div class="row-fluid">
      <table class="table table-condensed div-width-70 div-center search-table">
        <tr>
          <td>上传日期:</td>
          <td class="div-text-left date">
            <input type="text" id="begin_date" bt-date="searchData.GTEoriginDate" bt-max-date="end_date">-
            <input type="text" bt-min-date="begin_date" id="end_date" bt-date="searchData.LTEoriginDate">
          </td>
        </tr>
        <tr>
          <td width="25%">客户名称:</td>
          <td width="75%" class="div-text-left">
            <input type="text" ng-model="searchData.LIKEcustName" style="width: 50% !important;">
          </td>
        </tr>
        <tr>
          <td width="25%">状态:</td>
          <td width="75%" class="div-text-left">
          <select ng-model="searchData.businStatus">
            <option value="">---所有状态---</option>
            <option ng-repeat="item in statusList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.businStatus == item.value"></option>
          </select>
          </td>
        </tr>
      </table>
      <div class="center-buttons">
        <button class="btn btn-primary btn-bg-middle" ng-click="queryList(true);">查询</button>
      </div>

    <table class="div-width-100 table table-striped table-hover search-result main-list">
        <thead>
          <tr>
              <td class="modi-group" colspan="6">
               <button class="btn btn-info" ng-click="newSeal();">新增</button>
              </td>
            </tr>
            <tr class="result-head">
              <td width="40%">客户名称</td>
              <td width="20%">印章名称</td>
              <td width="15%">上传日期</td>
              <td width="15%">状态</td>
              <td width="10%">操作</td>
            </tr>
        </thead>
        <tbody>
          <tr ng-class="{even:$even}" ng-repeat="item in infoList" ng-repeat-end>
            <td ng-bind="item.custName"></td>
            <td ng-bind="item.name"></td>
            <td ng-bind="item.originDate"></td>
            <td ng-bind="item.businStatus|kindf:'ContractStamperBusinStatus'"></td>
            <td>
              <a ng-if="item.businStatus == '00'" href="javascript:void(0);" ng-click="makeSeal(item);">印章制作</a>
              <a ng-if="item.businStatus != '00'" href="javascript:void(0);" ng-click="lookSeal(item);">查看详情</a>
             <!--  <span ng-show="file.id">
              <a href="javascript:void(0);" ng-show='!custInfo.businStatus || custInfo.businStatus==4' ng-click="openUpload($event,file.fileInfoType,file.fileDescription,'attachList')">查看详情</a>
            </span> -->
            </td>
          </tr>
        </tbody>
        <tfoot>
            <td colspan="5">
                <div bt-pagination conf="listPage" func="queryList(false)"></div>
            </td>
        </tfoot>
    </table>

  </div>
</div>

<!-- 模态框 -->
<div id="cEsealDetail_box" bt-roll-modal="template/2_3/contract/eseal/temp/cEsealDetail.html" bt-z-index="9991"></div>
<div id="cEsealNew_box" bt-roll-modal="template/2_3/contract/eseal/temp/cEsealNew.html" bt-z-index="9991"></div>
<div id="cEsealMake_box" bt-roll-modal="template/2_3/contract/eseal/temp/cEsealMake.html" bt-z-index="9991"></div>
