@charset "UTF-8";
/* 待收页面样式文件 */
@import "common/base";
@import "common/bootstrapplus";
@import "common/tooltip";
@import "common/pie";
@import "common/pages";
@import "supplier/manager/temp/detailFinance";
@import "supplier/manager/temp/extenInfo";
@import "supplier/manager/temp/intExem";


#container{
	@include init;
	@include deep-blue-border;
	@include plus-ie-btn;
	@include line-checkbox;
	@include td-line-checkbox;
	@include line-hover;
	@include div-width(100%);
	@include plus-ie-table;
	@include plus-ie-css3;
	@include Spage_plugin;
}

#content{
	@include plus-nav-tabs;
	@include center-buttons;
	@include td-input-width(95%);
	@include td-pack-align(center,middle);
	@include content-title;
	@include div-line;
	@include div-text-align;
	@include double-check;
}


#fund_search_way,#repay_serach_way{
	.content-title-1{
		border-bottom:2px solid #248AC9;
	}
	.search-table{
		margin-top:15px;
		// margin-left:30px;
		select,input{
			margin:0;
		}
		select{
			width:52%!important;
			padding:0;
			*position:relative;
			*top:4px;
		}
		input{
			width:50%!important;
		}
		.date{
			input{
				width:22.5%!important;
			}
		}
		@include double-check;
	}
	.center-buttons{
		margin-top:15px;
		margin-bottom:10px;
	}
}

#search_info{
	min-height:400px;
	position:relative;
}

//文件上传
#upload_fac_box{
	position:absolute;
	top:52px;
	left:0;
	z-index:99999;
	background:white;
	#upload_fac_page{
		height:230px;
	}
	.center-buttons{
		margin:0;
	}
}

#upload_plus_box,#upload_edit_plus_box{
	position:absolute;
	left:0;
	top:0;
	z-index:99999;
	background:white;
	.upload-detail-box{
		width:820px;
		h1{
			// margin-top:300px;
		}
	}
	iframe{
		height:230px;
	}
	.center-buttons{
		margin:0;
	}
}

#search_info,#serch_repay_info{
	.search-result{
		.modi-group{
			text-align:left!important;
			vertical-align:middle;
			.btn{
				margin-left:20px;
			}
		}
		.result-head{
			font-size:12px;
			background:#F9CC9D;
		}
		
	}
	.recieve-table{
		.btn-td-group{
			.btn{
				margin-left:10px;
				margin-right:10px;
			}
		}
	}
	.content-title-1{
		border-bottom:2px solid #248AC9;
		position:relative;
		.search-info{
			display:inline-block;
			*zoom:1;
			*display:inline;
			height:50px;
			line-height:50px;
			margin-left:30px;
			input{
				margin-bottom:0;
			}
			.btn-group{
				height:30px;
				line-height:30px;
				position:relative;
				bottom:1px;
			}
			.dropdown-toggle{
				min-width:0;
			}
			.dropdown-menu{
				min-width:107px;
			}
		}
	}
}

#fix_operator_info_box,#fix_edit_info_box{
	@include detailFinance;
}

#fix_extension_info_box{
	@include extenInfo;
}

#fix_intexem_info_box{
	@include intExem; 
}




//附件列表下拉帘样式
#upload_list_box{
	position:absolute;
	left:0;
	top:0;
	z-index:9999;
	background:white;
	.detail-box{
		.content-title-1{
			border-bottom:2px solid #248AC9;
		}
	}
	.center-buttons{
		.btn{
			min-height:20px!important;
		}
	}

	table{
		margin-top:15px;
		margin-bottom:25px;
		thead td{
			background-color: rgb(223, 240, 216);
			font-weight:bold;
			color:rgb(0, 136, 204);
		}
	}
}
