<div id="container" class="container-fluid div-center">
        <div class="row-fluid">
            <div id="content" class="div-width-100">
                <div id="fund_search_way" class="row-fluid">
                    <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/fast_money.png" alt="">更新供应商报价
                    </h1>
                    <table class="table table-condensed div-width-70 div-center search-table" id="validate">                     
                      <tr>
                        <td width="30%">供应商:</td>
                        <td class="div-text-left">
                          <select ng-model="info.custNo">                            
                            <option ng-repeat="item in custList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.custNo == item.value"></option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                          <td>应付账款提前支付折扣率:</td>  
                          <td><input type="text" ng-model="info.coreCustRate" class="ng-pristine ng-valid" style="width:48% !important">&nbsp;%</td>     
                      </tr>
                      <tr>
                          <td></td>
                          <td>
                              <i style="font-size: 12px">支付折扣率不能超过30%</i>
                          </td>
                      </tr>
                      
                    </table>
                    <div class="center-buttons">
                      <button class="btn btn-primary btn-bg-middle" ng-click="doConfirm($event.target,info);">添加</button>
                      <button class="btn btn-primary btn-bg-middle" bt-close-modal>返回</button>
                    </div>
                </div>
            </div>

            
        </div>
</div>