  <!-- 资产登记查询结果 -->
  <table id="order_list_table" class="div-width-100 table table-striped table-hover search-result main-list table-bordered">
      <caption class="table-caption table-caption-green clearFix">
        <span  class="title-left">添加其他信息</span>     
      </caption>
      <tbody>
        <tr>
             <td width="30%">签署主题:</td>
             <td width="70%" class="div-text-left">
                 <input type="text">
             </td>
         </tr>
         <tr>
             <td width="30%">签约截止日期:</td>
             <td width="70%" class="div-text-left">
                 <input type="text" bt-date="searchData.GTEorderDate">
             </td>
         </tr>
         <tr>
             <td width="30%">备注:</td>
             <td width="70%" class="div-text-left">
                 <textarea style="margin: 0px 0px 10px;max-height: 151px;max-width: 581px; min-height: 151px;min-width: 581px;" placeholder="添加备注信息(200个字以内)" maxlength="200"></textarea>
             </td>
         </tr>
      </tbody>      
   </table>
   