<!-- 终极融资批复 -->
<table id="list_table_1" class="table table-striped table-hover table-bordered" ng-if="tempObj.list_table_1==1">
      <caption class="table-caption table-caption-green clearFix">
        <span class="title-left">融资批复</span>        
      </caption>
      <thead>
        <tr class="result-head-gray">
          <td width="10%">合同编号</td>
          <td width="15%">合同名称</td>
          <td width="15%">签约发起时间</td>
          <td width="15%">签约截止时间</td>
          <td width="15%">签署方式</td>
          <td width="15%">合同状态</td>              
          <td width="15%">签署状态</td>           
        </tr>
      </thead>
      <tbody>
        <!-- <tr ng-repeat="item in assetInfo.basedataMap.receivableList" ng-repeat-end="" ng-class="{even:$even}" class="ng-scope">
          <td class="ng-binding" ng-bind="item.refNo"></td>
          <td ng-bind="item.receivableNo" class="ng-binding"></td>
          <td ng-bind="item.balance |moneyFilter" class="ng-binding"></td>
          <td ng-bind="item.surplusBalance |moneyFilter" class="ng-binding"></td>
          <td ng-bind="item.endDate" class="ng-binding"></td>
          <td ng-bind="item.invoiceNos" class="ng-binding"></td>             
          <td ng-bind="item.agreeNo"></td>          
       </tr> -->           
      </tbody>
   </table>