<div class="div-center div-width div-margin-top">
<h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/fast_money.png" alt="">应收账款保理融资作废
  </h1>
    <div ng-include="'template/2_3.1/temp/info.html'"></div>
    <div ng-include="'template/2_3.1/temp/publicTable.html'"></div>
    <div ng-include="'template/2_3.1/temp/onlyReadApprove.html'"></div>
    <div class="center-buttons">
        <button class="btn btn-primary" bt-close-modal>放弃</button>    
        <button class="btn btn-primary" ng-click="doCancel($event.target)">作废</button>    
    </div>
</div>