/*!
 * bytter
 */
body,
p,
h1 {
  margin: 0;
}
img {
  vertical-align: middle;
  border: 0;
}
ul {
  margin: 0;
  padding: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999999;
  font-size: 14px;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999999;
  font-size: 14px;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999999;
  font-size: 14px;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999999;
  font-size: 14px;
}
input:not([type="radio"]),
select,
textarea {
  font-size: 14px;
  font-family: inherit;
  padding-left: 8px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid transparent;
  border-color: #cccccc;
}
input:not([type="radio"])[disabled],
select[disabled],
textarea[disabled] {
  background-color: #f5f5f5;
  cursor: not-allowed;
}
input:not([type="radio"]).ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid {
  border-color: #F44336;
}
input:not([type="radio"]).ng-dirty.ng-invalid:focus,
select.ng-dirty.ng-invalid:focus,
textarea.ng-dirty.ng-invalid:focus {
  outline: 0;
}
select option {
  background-color: #ffffff;
}
textarea {
  height: 94px;
  width: 850px;
  line-height: 21px;
  padding-top: 4px;
  padding-right: 8px;
  word-break: break-all;
}
input[type="file"]:focus {
  outline: 0;
}
/* ========================================================================
   工具类: util.less
 ========================================================================== */
.bt-preloader {
  opacity: 0.2 ;
  filter: alpha(opacity=20);
  cursor: pointer;
  background: black;
  position: absolute;
  left: 0;
  top: 0 ;
  z-index: 3000;
  width: 100%;
  height: 100%;
}
.bt-preloader .bt-loading-img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
}
.bt-hidden {
  display: none !important;
}
.bt-red {
  color: red !important;
}
.bt-bule {
  color: #063c94 !important;
}
.bt-date {
  cursor: default;
  background-image: url(../img/datePicker1.png);
  background-position: 98% 7px;
  background-repeat: no-repeat;
}
.bt-date:focus {
  background-image: url(../img/datePicker2.png);
}
.bt-date.ng-dirty.ng-invalid {
  background-image: url(../img/datePicker3.png);
}
.bt-date.middle {
  width: 223px;
}
.bt-date.small {
  width: 221.7px;
}
.bt-search-icon {
  background-image: url(../img/bt-select3.png);
  background-position: 98% 7px;
  background-repeat: no-repeat;
}
.bt-search-icon:focus {
  background-image: url(../img/bt-select1.png);
  outline: 0;
  border-color: #063c95;
}
.bt-search-icon.ng-dirty.ng-invalid {
  background-image: url(../img/bt-select2.png);
}
.bt-search-downdrop {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 4px;
  margin-top: 4px;
  border-color: #063c95;
  min-width: 333px;
}
.bt-search-downdrop li {
  padding: 8px;
  list-style: none;
  height: 32px;
  cursor: pointer;
  font-size: 14px;
}
.bt-search-downdrop li:hover {
  background-color: #e9f3ff;
}
.bt-dropdown-icon {
  vertical-align: middle;
  background-image: url(../img/bt-arrow.png);
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 16px;
  height: 16px;
  background-position: 0 16px;
}
.bt-dropdown-icon.active {
  background-position: 0 0;
}
.bt-float-right {
  float: right;
}
.bt-align-center {
  text-align: center;
}
.bt-align-right {
  text-align: right;
}
.bt-space-8 {
  letter-spacing: 8px;
}
.bt-left-5 {
  margin-left: 5px;
}
.bt-left-8 {
  margin-left: 8px;
}
.bt-vertical-top {
  vertical-align: top;
}
.bt-gray {
  color: #999999;
}
.bt-unvisitable {
  position: absolute;
  border-width: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
.bt-absolute {
  position: absolute;
  color: #063c94;
  font-size: 14px;
}
/* ========================================================================
   布局: layout.less
 ========================================================================== */
html,
body {
  height: auto;
}
/* ========================================================================
   内容区容器: container.less
 ========================================================================== */
.bt-container {
  min-width: 1090px;
  padding: 26px 30px 100px 30px;
}
.bt-container .bt-title-header {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  line-height: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #063c94;
}
.bt-container .bt-container-header {
  background-color: #e6f4fe;
  height: 48px;
  padding-top: 15px;
  padding-right: 20px;
  text-align: right;
  font-size: 14px;
}
.bt-container .bt-title-card {
  padding: 16px 0;
  color: #999;
  font-size: 14px;
}
.bt-container .bt-title-card .icon {
  background-image: url(../img/bt-title-card.png);
  height: 12px;
  width: 12px;
  display: inline-block;
  margin-right: 8px;
}
.bt-container .bt-card-info {
  width: 1030px;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 26px;
}
.bt-container .bt-card-info .bt-card-item {
  line-height: 28px;
  vertical-align: top;
}
.bt-container .bt-card-info .bt-card-item .bt-card-key {
  text-align: right;
}
.bt-container .bt-card-info .bt-card-item .bt-card-value {
  Word-break: break-all;
  padding-left: 8px;
  padding-right: 16px;
}
.bt-container .bt-prompt-header {
  font-size: 14px;
  color: #000;
  line-height: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #999999;
}
.bt-container .bt-prompt-content {
  margin-top: 6px;
  line-height: 24px;
  font-size: 12px;
}
.bt-container .bt-prompt-content p {
  color: #999999;
}
/* ========================================================================
   查询条件表格样式: query.less
 ========================================================================== */
.bt-query-card {
  width: 1030px;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 26px;
}
.bt-query-card .bt-query-item {
  line-height: 28px;
}
.bt-query-card .bt-query-item .bt-query-key {
  padding-bottom: 14px;
  text-align: right;
  white-space: nowrap;
}
.bt-query-card .bt-query-item .bt-query-value {
  padding-bottom: 14px;
  text-aligh: left;
  padding-left: 8px;
}
.bt-query-card .bt-query-item .bt-query-value input,
.bt-query-card .bt-query-item .bt-query-value select {
  height: 28px;
  width: 366px;
}
.bt-query-card .bt-query-item .bt-query-value .bt-query-date {
  width: 172px;
}
.bt-query-card .bt-query-item .bt-query-value .bt-query-cut {
  display: inline-block;
  width: 6px;
  height: 1px;
  background-color: #ccc;
  vertical-align: middle;
  margin: auto 8px;
}
/* ========================================================================
   表格控件: table.less
 ========================================================================== */
.bt-table {
  width: 100%;
  border-spacing: 0;
  font-size: 14px;
  word-break: break-all;
  border-top: 1px solid;
  border-color: #063c94;
  text-align: left;
}
.bt-table .bt-table-check {
  width: auto;
}
.bt-table .bt-table-header {
  background-color: #bad7fe;
}
.bt-table .bt-table-header tr th {
  color: #333;
  font-weight: normal;
}
.bt-table .bt-table-header tr th:first-child {
  padding-left: 14px;
}
.bt-table .bt-table-header tr th:last-child {
  padding-right: 14px;
}
.bt-table tbody tr {
  background-color: #dbf0fc;
}
.bt-table tbody tr td {
  color: #444;
}
.bt-table tbody tr td:first-child {
  padding-left: 14px;
}
.bt-table tbody tr td:last-child {
  padding-right: 14px;
}
.bt-table tbody tr td.bt-align-right {
  text-align: right;
}
.bt-table tbody tr:nth-child(odd) {
  background-color: #ecf8ff;
}
.bt-table tbody tr:hover > td {
  background-color: #cfe5fe;
}
.bt-table tr td,
.bt-table tr th {
  padding: 10px 18px 10px 0px;
  line-height: 21px;
}
.bt-table-page {
  position: relative;
}
a.bt-table-button {
  text-decoration: none;
}
.bt-table-button {
  color: #063c84;
  cursor: pointer;
}
.bt-table-button:hover {
  color: #235fba;
}
.bt-table-hr {
  display: inline-block;
  width: 1px;
  height: 14px;
  margin: 0 4px;
  background-color: #063c84;
  vertical-align: middle;
}
.bt-table-status {
  background-image: url(../img/bt-table-status.png);
  background-position: 0 14px;
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 10px;
}
.bt-table-status.success {
  background-position: 0 42px;
}
.bt-table-status.error {
  background-position: 0 70px;
}
.bt-table-status.default {
  background-position: 0 28px;
}
.bt-table-status.warning {
  background-position: 0 56px;
}
/* ========================================================================
   分页查询: page.less
 ========================================================================== */
.bt-search-page {
  text-align: right;
  margin-top: 24px;
}
.bt-search-page ul li {
  list-style: none;
  /* 将默认的列表符号去掉 */
  padding: 0;
  /* 将默认的内边距去掉 */
  margin-left: 8px;
  display: inline;
  /* 往左浮动 */
}
.bt-search-page ul li .bt-ellipsis {
  background-image: url(../img/pagination-dot.png);
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: middle;
}
/* ========================================================================
   按钮: button.less
 ========================================================================== */
.bt-btn {
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid transparent;
  cursor: pointer;
  color: #333;
  background-color: white;
  border-color: #999;
  min-width: 28px;
  display: inline-block;
  text-align: center;
}
.bt-btn:hover {
  color: #063c94;
  border-color: #063c94;
}
.bt-btn.active {
  background-color: #063c94;
  color: #fff;
}
.bt-btn[disabled] {
  background-color: #eee9e8;
  color: #8c8c89;
  border-color: #999;
  cursor: not-allowed;
}
.bt-small {
  font-size: 14px;
  padding: 3px 6px;
}
a.bt-btn {
  text-decoration: none;
}
.bt-btn-confirm {
  background-color: #063a89;
  height: 28px;
  width: 124px;
  color: antiquewhite;
}
.bt-btn-confirm:hover,
.bt-btn-confirm:focus {
  color: white;
  background-color: #235fba;
}
.bt-btn-confirm[disabled] {
  background-color: #eee9e8;
  color: #8c8c89;
  border-color: #999;
  cursor: not-allowed;
}
.bt-btn-info {
  background-color: #063a89;
  height: 28px;
  padding-left: 24px;
  padding-right: 24px;
  color: antiquewhite;
}
.bt-btn-info.bt-btn-confirm {
  width: 124px;
}
.bt-btn-info:hover,
.bt-btn-info:focus {
  color: white;
  background-color: #235fba;
}
.bt-btn-default {
  height: 28px;
  padding-left: 24px;
  padding-right: 24px;
}
.bt-btn-default:focus {
  color: #063c94;
  border-color: #063c94;
  border: 1px solid;
}
.bt-btn-error {
  background-color: #eee9e8;
  height: 28px;
  padding-left: 24px;
  padding-right: 24px;
  color: fe0100;
}
.bt-btn-error:hover,
.bt-btn-error:focus {
  color: white;
  background-color: #fe0100;
}
/* ========================================================================
   tools提示信息: tipbar.less
 ========================================================================== */
.tipbar-wrap {
  letter-spacing: 2px;
  min-width: 100px;
  min-height: 16px;
  line-height: 16px;
  padding: 6px;
  color: #333;
  display: block;
  font-family: 'trebuchet ms', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #A7A7A7;
  background-color: #fff7e0;
  border-radius: 4px;
  position: absolute;
  left: 30px;
  top: 10px;
  z-index: 500;
}
.tipbar-wrap-arrow-left {
  width: 10px;
  height: 20px;
  background: transparent url(../img/tip-yellow_arrows.png) no-repeat -20px 0;
  position: absolute;
  right: -10px;
  top: 6px;
  z-index: 9998;
}
.bt-dialog {
  box-shadow: 1px 1px 1px #7cadfe;
  word-break: break-all;
  padding: 24px 14px 14px 10px;
  border-radius: 4px;
  background-color: white;
  min-height: 100px;
  position: absolute;
  left: 30px;
  top: 10px;
  max-width: 327px;
  z-index: 500;
  border: 1px solid;
  border-color: #063c94;
}
.bt-dialog .bt-dialog-arrow {
  width: 27px;
  height: 12px;
  background-image: url(../img/bt-dialog-arrow.png);
  position: absolute;
  bottom: -12px;
  right: 30px;
  z-index: 9998;
}
.bt-dialog .bt-dialog-icon {
  margin-left: -22px;
  margin-right: 8px;
  height: 14px;
  width: 14px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/bt-dialog-icon.png);
}
.bt-dialog .bt-dialog-remark {
  color: #999999;
  font-size: 12px;
  padding: 0 0 24px 28px;
}
.bt-dialog .bt-dialog-content {
  margin-left: 22px;
  color: #333333;
  font-size: 14px;
  margin-bottom: 16px;
}
.bt-dialog .bt-dialog-button {
  text-align: right;
}
.bt-dialog .bt-dialog-button .dialog-cancle {
  margin-right: 8px;
}
.bt-pop-close {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 11px;
  height: 11px;
  background-image: url(../img/bt-pop-close.png);
}
.bt-pop-close:hover {
  background-image: url(../img/bt-pop-close-hover.png);
}
/* ========================================================================
   表单: form.less
 ========================================================================== */
.bt-form.bt-dirty input.ng-invalid,
.bt-form.bt-dirty select.ng-invalid,
.bt-form.bt-dirty textarea.ng-invalid {
  border-color: #F44336;
}
.bt-form.bt-dirty input.ng-invalid:focus,
.bt-form.bt-dirty select.ng-invalid:focus,
.bt-form.bt-dirty textarea.ng-invalid:focus {
  outline: 0;
}
.bt-form-two {
  width: 1030px;
}
.bt-form-input {
  padding-bottom: 30px;
}
.bt-form-input.bt-remark {
  padding-bottom: 16px;
  position: relative;
}
.bt-form-input.bt-remark .bt-remark-info {
  font-size: 12px;
  color: #aaa;
  position: absolute;
  right: 8px;
  bottom: 22px;
}
.bt-form-input .upload {
  padding-left: 24px;
  background: url(../img/bt-attach-upload.png) no-repeat left center;
  font-size: 14px;
  height: 25px;
  display: inline-block;
  line-height: 25px;
  margin-bottom: 5px;
  line-height: 24px;
  height: 24px;
}
.bt-form-input .upload-list li {
  font-size: 14px;
  list-style: none;
}
.bt-form-input .upload-list li .icon {
  background: url(../img/bt-attach-singlefile.png) no-repeat left center;
  padding-left: 22px;
}
.bt-form-input .upload-list li .bt-gray {
  margin-left: 4px;
}
.bt-form-input .upload-list li a {
  margin-left: 8px;
}
.bt-form-input .bt-from-danger {
  font-size: 12px;
  position: absolute;
  color: red;
  padding: 8px;
}
.bt-form-input input,
.bt-form-input select {
  width: 333px;
}
.bt-form-input input.half,
.bt-form-input select.half {
  width: 163px;
}
.bt-form-input .bt-form-info {
  font-size: 12px;
  line-height: 21px;
  margin-left: 21px;
  color: #999999;
  background: url(../img/bt-form-info.png) no-repeat left center;
  padding-left: 20px;
}
.bt-form-label {
  font-size: 14px;
  vertical-align: top;
  padding-top: 4px;
  text-align: right;
  padding-right: 4px;
  color: #333333;
  white-space: nowrap;
}
.bt-table-adapt .bt-form-input {
  width: 100%;
}
.bt-table-adapt .bt-form-input textarea {
  width: 100%;
}
/* ========================================================================
   选项卡控件: tabs.less
 ========================================================================== */
.bt-tabs {
  border-bottom: 1px solid #063c94;
  padding: 0 15px;
  margin-bottom: 16px;
}
.bt-tabs li {
  border-radius: 6px 6px 0px 0px;
  display: inline-block;
  height: 32px;
  padding: 0 24px;
  line-height: 32px;
  border: 1px solid #063c94;
  border-bottom: 0;
  cursor: pointer;
}
.bt-tabs li:hover {
  background: #e9f3ff;
}
.bt-tabs li.is-active {
  background: #063c94;
}
.bt-tabs li.is-active > a {
  color: white;
}
.bt-tabs li > a {
  color: #063c84;
  text-decoration: none;
}
/* ========================================================================
   附件上传下载: attach.less
 ========================================================================== */
.bt-attach {
  padding: 0px 16px 0px 16px;
  background-color: #f3faff;
  border-radius: 4px;
  border: 1px solid #bad5ff;
}
.bt-attach .bt-attach-title {
  font-size: 16px;
  border-bottom: 1px solid #dceffd;
  line-height: 40px;
}
.bt-attach .bt-attach-title .upload {
  padding-left: 16px;
  margin-left: 16px;
  background: url(../img/bt-attach-upload.png) no-repeat left center;
}
.bt-attach .bt-attach-title .download {
  padding-left: 16px;
  margin-left: 16px;
  background: url(../img/bt-attach-download.png) no-repeat left center;
}
.bt-attach .bt-attach-content {
  padding-bottom: 24px;
  padding-top: 24px;
}
.bt-attach .bt-attach-content .bt-attach-item {
  display: inline-block;
  width: 212px;
  padding: 0px 20px 28px 0px;
}
.bt-attach .bt-attach-content .bt-attach-item .bt-attach-img {
  width: 75px;
  height: 75px;
  margin-right: 16px;
  vertical-align: top;
  display: inline-block;
  background: url(../img/bt-attach-file.png);
}
.bt-attach .bt-attach-content .bt-attach-item .bt-attach-img.jpg {
  background-position: -375px -150px;
}
.bt-attach .bt-attach-content .bt-attach-item .bt-attach-img.gif {
  background-position: -450px -150px;
}
.bt-attach .bt-attach-content .bt-attach-item .bt-attach-img.png {
  background-position: -525px -150px;
}
.bt-attach .bt-attach-content .bt-attach-item .bt-attach-file {
  font-size: 14px;
  display: inline-block;
}
.bt-attach .bt-attach-content .bt-attach-item .bt-attach-file p {
  width: 92px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 9px;
}
.bt-upload-ing {
  background: url(../img/bt-upload-ing.gif) no-repeat right center;
  padding-right: 26px;
  margin-right: -26px;
  color: #999 !important;
  cursor: not-allowed;
}
.bt-upload-success {
  background: url(../img/bt-upload-success.gif) no-repeat right center;
  padding-right: 26px;
  margin-right: -26px;
  cursor: default;
}
.bt-upload-fail {
  background: url(../img/bt-upload-fail.gif) no-repeat right center;
  padding-right: 26px;
  margin-right: -26px;
}
