<nav class="topnavbar">
    <div class="navbar-header">
        <a href="#">
            <img src="app/img/banner/logo.png" alt="企额金服">
        </a>
    </div>

    <div class="nav-wrapper">
        <ul class="nav">
            <li>
                <a target="_blank" href="http://www.qiejf.com"><img src="app/img/banner/index.jpg" alt="主页"></a>
                <a target="_blank" href="http://www.qiejf.com">首页</a>
                <img src="app/img/banner/yy.jpg" alt="">
            </li>
            <li>
                <a target="_blank" href="frame.html"><img src="app/img/banner/fund.jpg" alt=""></a>
                <a target="_blank" href="frame.html">基金</a>
                <img src="app/img/banner/yy.jpg" alt="">
            </li>
            <li>
                <a target="_blank" href="http://www.qiejf.com/lc.html"><img src="app/img/banner/lc.jpg" alt=""></a>
                <a target="_blank" href="http://www.qiejf.com/lc.html">理财</a>
                <img src="app/img/banner/yy.jpg" alt="">
            </li>
            <li>
                <a target="_blank" href="http://www.qiejf.com/gyljr.html"><img src="app/img/banner/gyl.jpg" alt=""></a>
                <a target="_blank" href="http://www.qiejf.com/gyljr.html">供应链金融</a>
                <img src="app/img/banner/yy.jpg" alt="">
            </li>
            <li>
                <a target="_blank" href="http://www.qiejf.com"><img src="app/img/banner/vip.jpg" alt=""></a>
                <a target="_blank" href="http://www.qiejf.com">会员专区</a>
                <img src="app/img/banner/yy.jpg" alt="">
            </li>
            <li>
                <a target="_blank" href="http://www.qiejf.com/about.html"><img src="app/img/banner/about.jpg" alt="">
                </a><a target="_blank" href="http://www.qiejf.com/about.html">关于我们</a>
            </li>
        </ul>
    </div>
</nav>