<!DOCTYPE html>
<html>

<head>
    <title>角色管理</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11" />
    <!-- LXUI -->
    <link rel="stylesheet" href="https://static.qiejf.com/better/l/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://static.qiejf.com/better/scf2/css/qiecom/role/roleList.css">
    <script type="text/javascript" src="https://static.qiejf.com/better/l/seajs/sea.js"></script>
    <script type="text/javascript" src="https://static.qiejf.com/better/base/config_ng.js"></script>
</head>

<body id="body">
    <div id="container" class="container-fluid div-center">
        <div class="row-fluid">
            <div id="content" ng-controller="mainController" class="div-width-100">
                <div id="fund_search_way" class="row-fluid">
                    <h1 class="content-title-1 content-title-condensed"><img src="../../../img/fast_money.png" alt="">角色查询
                    </h1>
                    <table class="table table-condensed div-width-70 div-center search-table">
                      <tr>
                        <td width="30%">角色名称:</td>
                        <td width="70%" class="div-text-left">
                          <input type="text" ng-model="searchData.roleName">
                        </td>
                      </tr>
                    </table>
                    <div class="center-buttons">
                      <button class="btn btn-primary btn-bg-middle" ng-click="searchList();">查询</button>
                    </div>
                </div>

                <div id="search_info" class="row-fluid">
                    <div class="tab-content">
                        <div class="tab-pane active" id="reqQuota">
                            <h1 class="content-title-1 content-title-condensed"><img src="../../../img/operator.png" alt="">
                            角色列表
                            </h1>
                            <!-- 搜索工具栏 -->
                            <form class="form-inline">
                                <label><button type="button" class="btn btn-info" ng-click="addInfoBox();">+添加角色</button></label>
                            </form>
                            <table class="div-width-100 table table-striped table-hover search-result main-list">
                                <thead>
                                    <tr class="font-size-12 info-title">
                                        <td width="25%">角色名称</td>
                                        <td width="25%">角色类型</td>
                                        <td width="20%">角色状态</td>
                                        <td width="30%">操作</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-class="{even:$even}" ng-repeat="item in infoList" ng-repeat-end>
                                        <td><strong ng-bind="item.roleName"></strong></td>
                                        <td class="red" ng-bind="item.roleType|kindf:'RoleType'"></td>
                                        <td class="red" ng-bind="item.businStatus|kindf:'BusinDataStatus'"></td>
                                        <td>
                                            <a href="javascript:void(0);" ng-show="item.def+'' !== '0'" ng-click="editInfoBox(item);">编辑</a>
                                            <a href="javascript:void(0);" ng-click="checkInfoBox(item);">权限分配</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <td colspan="6">
                                        <div bt-pagination conf="listPage" func="queryList(false);"></div>
                                    </td>
                                </tfoot>
                            </table>
                        </div>
                    </div>    
                </div>

                <!-- 温馨提示END -->
                <!-- 模板区域 -->
                <!-- 新增角色模板 -->
                <div id="add_box" bt-roll-modal="temp/addRole.html" bt-z-index="6661"></div>
                <!-- 角色权限分配模板 -->
                <div id="select_box" bt-roll-modal="temp/selectMenu.html" bt-z-index="6661"></div>
            </div>
            
        </div>
    </div>
    <!-- 引用js文件 -->
    <!--[if lt IE 9]>
      <script type="text/javascript">seajs.use('p/js/common/IErequire');</script>
  <![endif]-->
    <script type="text/javascript">
    // For development
      if (isBTTest) {
        seajs.use("scf2/js/qiecom/role/roleList");
      }
      // For production
      else {
        seajs.use("scf2/js/qiecom/role/roleList");
      }
    </script>
</body>

</html>
