
  <!-- 合同审核 -->
  <div id="approve_handle_issue" class="row-fluid top-box">

    <form action="" id="" class="form-horizontal">
      <div class="div-center div-width div-margin-top">
      
        <!-- 合同详情 -->
        <!-- <div bt-include="template/flow/supplierFinance/temp/contractMain.html"></div> -->

        审贷结果
        <table id="loanBox" class="table table-striped table-hover table-bordered table-condensed">
           <caption class="table-caption clearFix">
             <span class="title-left">合同信息</span>
           </caption>
          <tbody>
              <tr>
                <td width="20%">签约流水号:</td>
                <td width="30%" class="div-text-left">
                  <span ng-bind="loanInfo.requestBalance"></span>
                </td>
                <td width="20%">创建时间:</td>
                <td width="30%" class="div-text-left"><span ng-bind="loanInfo.requestBalance"></span></td>
              </tr>
              <tr>
                <td>合同编号:</td>
                <td class="div-text-left">
                  <span ng-bind="loanInfo.requestBalance"></span>
                </td>
                <td>合同名称:</td>
                <td class="div-text-left">
                  <span ng-bind="loanInfo.requestBalance"></span>
                </td>
              </tr>
          </tbody>
        </table>
        <div>
          <span style="float:left">合同签署方:</span>
          <ul class="ml100">
            <li class="lh30">
              <div>
                <span class="mr10">深圳市前海智特保理有限公司</span>
                <span class="mr10">丘比特</span>
                <span>2017-07-18 13:53:52</span>
              </div>              
            </li>
            <li class="lh30">
              <div>
                <span>深圳市前海智特保理有限公司</span>
                <span>丘比特</span>
                <span>2017-07-18 13:53:52</span>
              </div>
            </li>
            <li class="lh30">
              <span>深圳市前海智特保理有限公司</span>
              <span style="color:red">未签署</span>
            </li>
          </ul>
          <a href="" style="float:right">下载合同</a>
        </div>            
        <div class="carousel">
          <h3 style="position:absolute;left:258px;top:17px;">应收账款债权转让通知书</h3>
          <!-- <img src="../../better/byte/app/img/carousel-contact.png" alt=""> -->
          <ul class="carousel-content" id="carousel-thumb-content">
            <li><img src="../../better/byte/app/img/carousel-contact.png" alt=""  draggable="false"></li>
            <li class="bt-hidden"><img src="../../better/byte/app/img/carousel-contact.png" alt=""  draggable="false"></li>
            <li class="bt-hidden"><img src="../../better/byte/app/img/carousel-contact.png" alt=""  draggable="false"></li>
            <li class="bt-hidden"><img src="../../better/byte/app/img/carousel-contact.png" alt=""  draggable="false"></li>
            <li class="bt-hidden"><img src="../../better/byte/app/img/carousel-contact.png" alt=""  draggable="false"></li>
            <li class="bt-hidden"><img src="../../better/byte/app/img/carousel-contact.png" alt=""  draggable="false"></li>
            <li class="bt-hidden"><img src="../../better/byte/app/img/carousel-contact.png" alt=""  draggable="false"></li>
            <li class="bt-hidden"><img src="../../better/byte/app/img/carousel-contact.png" alt=""  draggable="false"></li>
          </ul>
          <ul class="carousel-thumb">
            <li class="active"><img src="/../../better/byte/app/img/carousel-thumb.png" alt="">
            <p class="carousel-p">1</p></li>
            <li><img src="../../better/byte/app/img/carousel-thumb.png" alt="">
            <p class="carousel-p">2</p></li>
            <li><img src="../../better/byte/app/img/carousel-thumb.png" alt="">
            <p class="carousel-p">3</p></li>
            <li><img src="../../better/byte/app/img/carousel-thumb.png" alt="">
            <p class="carousel-p">4</p></li>
            <li><img src="../../better/byte/app/img/carousel-thumb.png" alt="">
            <p class="carousel-p">5</p></li>
            <li><img src="../../better/byte/app/img/carousel-thumb.png" alt="">
            <p class="carousel-p">6</p></li>
            <li><img src="../../better/byte/app/img/carousel-thumb.png" alt="">
            <p class="carousel-p">7</p></li>
            <li><img src="../../better/byte/app/img/carousel-thumb.png" alt="">
            <p class="carousel-p">8</p></li>
          </ul>
        </div>
        
      </div>
    </form>
  </div

    
    
  