<div>
    <div ng-include="'template/2_3.1/temp/flowPublic.html'"></div>
    <div ng-include="'template/2_3.1/temp/onlyReadApprove.html'"></div>
    <div ng-include="'template/2_3.1/temp/resultList.html'"></div>
    <div ng-include="'template/2_3.1/temp/approveList.html'"></div>    
    <div ng-include="'template/2_3.1/temp/approveList1.html'"></div>    
</div>

<!-- 融资批复 -->
<!-- <div id="approveBox" bt-roll-modal="template/2_3.1/temp/approveBox.html" bt-z-index="9991"></div> -->
<!-- 上传组件引用 -->
  <div bt-upload conf="uploadConf" ></div>