<!DOCTYPE html>
<html lang="en">
<head>
	<title>融资录单</title>
	<!-- <base href="https://static.qiejf.com/better/" /> -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11" />

    <link rel="stylesheet" href="https://static.qiejf.com/better/l/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://static.qiejf.com/better/scf2/css/supplier/apply/financeRecFlow.css">
    <script type="text/javascript" src="https://static.qiejf.com/better/l/seajs/sea.js"></script>
    <script type="text/javascript" src="https://static.qiejf.com/better/base/config_ng.js"></script>
</head>
<body>



	<div id="container" class="container-fluid div-center">
		<div class="row-fluid">
		<div id="content" ng-controller="orderEntry" class="span12">

			<div id="finance_order_add_box" class="row-fluid">
				<h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/operator.png" alt="">融资录单</h1>
				<form action="" id="financeApply_form" class="form-horizontal">
					<h2 class="content-title content-title-2 content-back-none first">1.申请信息</h2>
					<div class="div-center div-width">
						<table class="table table-striped table-bordered table-hover table-condensed">
							<tr>
								<td width="30%">融资企业:</td>
								<td class="div-text-left">
									<select name="custNo" id="" ng-model="financeInfo.custNo" ng-change="custSwitch();" ng-disabled="skipForm">
										<option value="">----请选择----</option>
					                    <option ng-repeat="item in financeCustList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="financeInfo.custNo==item.value"></option>
					                </select>
								</td>
							</tr>
							<tr>
								<td width="30%">贷款金额:</td>
								<td width="70%" class="div-text-left">
								<input type="text" name="balance" ng-model="financeInfo.balance" ng-disabled="skipForm">
								&nbsp;&nbsp;<strong class="deep-gray" ng-bind="financeInfo.balance|moneybigf "></strong>
								</td>
							</tr>
							<tr>
								<td width="30%">贷款期限:</td>
								<td class="div-text-left double_box">
								<input type="text" name="period" ng-model="financeInfo.period" ng-disabled="skipForm">
								<select name="" id="" ng-model="financeInfo.periodUnit" ng-disabled="skipForm">
				                    <option ng-repeat="unit in periodUnits" ng-option-filter value="{{unit.value}}" ng-bind="unit.name" ng-selected="financeInfo.periodUnit==unit.value"></option>
				                </select>
								</td>
							</tr>
							<tr>
								<td width="30%">保理公司:</td>
								<td class="div-text-left">
									<select name="factorNo" id="" ng-model="financeInfo.factorNo" ng-change="searchProduct();" ng-disabled="skipForm">
										<option value="">----请选择----</option>
					                    <option ng-repeat="factor in factorList" ng-option-filter value="{{factor.value}}" ng-bind="factor.name" ng-selected="financeInfo.factorNo==factor.value"></option>
					                </select>
								</td>
							</tr>
							<tr>
								<td width="30%">核心企业:</td>
								<td class="div-text-left">
								  <select name="coreCustNo" id="" ng-model="financeInfo.coreCustNo" ng-change="coreCustSwitch();" ng-disabled="skipForm">
									<option value="">----请选择----</option>
				                    <option ng-repeat="core in coreCustList" ng-option-filter value="{{core.value}}" ng-bind="core.name" ng-selected="financeInfo.coreCustNo==core.value"></option>
				                  </select>
								</td>
							</tr>
							<tr>
								<td width="30%">保理产品:</td>
								<td class="div-text-left">
									<select name="productId" id="" ng-model="financeInfo.productId">
									   <option value="">----请选择----</option>
									   <option ng-repeat="item in productList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="financeInfo.productId==item.value"></option>
									</select>
									<a href="#" ng-click="openProductDetail(financeInfo.productId);" >&nbsp;&nbsp;产品详情</a>
								</td>
							</tr>
							<tr>
								<td width="30%">授信类型:</td>
								<td class="div-text-left">
								  <select name="" id="" ng-model="financeInfo.creditMode" ng-change="queryCredit();">
								  	<option value="">----请选择----</option>
				                    <option ng-repeat="mode in creditModes" ng-option-filter value="{{mode.value}}" ng-bind="mode.name" ng-selected="financeInfo.creditMode==mode.value"></option>
				                  </select>
				                  <span class="deep-gray">&nbsp;&nbsp;当前授信余额:</span>
				                  <span class="deep-gray" ng-bind="credit.creditBalance|moneyFilter"></span>
								</td>
							</tr>
							<tr>
								<td width="30%">融资类型:</td>
								<td class="div-text-left">
									<select name="" id="" ng-model="financeInfo.requestType" ng-change="reqTypeChange();" ng-disabled="skipForm">
									   <option ng-repeat="type in requestTypes" ng-option-filter value="{{type.value}}" ng-bind="type.name" ng-selected="financeInfo.requestType==type.value"></option>
									</select>
								</td>
							</tr>
							<tr ng-show="currRole=='agency' ">
								<td width="30%">已交保证金:</td>
								<td width="70%" class="div-text-left"><input type="text" name="" ng-model="financeInfo.bondBalance" ng-disabled="skipForm"></td>
							</tr>
						</table>
					</div>
				</form>
			</div>

			<!-- 关联选择 -->
			<div  id="order_select_box" class="row-fluid">
				<h2 class="content-title content-title-2 content-back-none content-split" ng-bind="currConfig.title"></h2>
				<!-- 结果列表 -->
				<div id="search_info">

					<!-- 订单列表 -->
					<table id="order_list_table" class="div-width-100 table table-striped table-hover" ng-show="currConfig.type=='order'">
					  <thead>
					    <tr class="result-head">
					      <td width="12.5%">订单编号</td>
					      <td width="12.5%">订单金额</td>
					      <td width="12.5%">结算方式</td>
					      <td width="12.5%">核心企业</td>
					      <td width="12.5%">产品名称</td>
					      <td width="12.5%">订单日期</td>
					      <td width="12.5%">是否使用</td>
					      <td width="12.5%">操作</td>
					    </tr>
					  </thead>
					  <tbody>
						  <tr ng-repeat="order in orderList" ng-repeat-end ng-class="{even:$even}">
						    <td ng-bind="order.orderNo"></td>
						    <td class="tab-text-right" ng-bind="order.balance|moneyFilter"></td>
						    <td ng-bind="order.settlement|kindf:'OrderSettleType'"></td>
						    <td ng-bind="order.coreCustName"></td>
						    <td ng-bind="order.goodsName"></td>
						    <td ng-bind="order.orderDate"></td>
						    <td>
						    <input ng-show="!skipForm" name="use_order" type="checkbox" ng-click="checkedSelect($event.target,order.id);" />
						    <input ng-show="skipForm" name="use_order" type="checkbox" checked disabled /></td>
						    <td>
						      <a href="#" ng-click="showfactorProofDetail('order',order)" >查看详情</a>
						    </td>
						  </tr>
					  </tbody>
					</table>

					<!-- 应收账款列表 -->
					<table id="recieve_list_table" class="div-width-100 table table-striped table-hover" ng-show="currConfig.type=='recieve'">
					  <thead>
					    <tr class="result-head">
					      <td width="10%">应收账款编号</td>
					      <td width="10%">债权人</td>
					      <td width="10%">债务人</td>
					      <td width="10%">商品名称</td>
					      <td width="10%">商品价格</td>
					      <td width="10%">采购数量</td>
					      <td width="10%">金额</td>
					      <td width="10%">付款到期日期</td>
					      <td width="10%">是否使用</td>
					      <td width="10%">操作</td>
					    </tr>
					  </thead>
					  <tbody>
						  <tr ng-repeat="item in recieveList" ng-repeat-end ng-class="{even:$even}">
						    <td ng-bind="item.receivableNo"></td>
						    <td ng-bind="item.debtor"></td>
						    <td ng-bind="item.creditor"></td>
						    <td ng-bind="item.goodsName"></td>
						    <td class="tab-text-right" ng-bind="item.unit"></td>
						    <td ng-bind="item.amount"></td>
						    <td class="tab-text-right" ng-bind="item.balance|moneyFilter"></td>
						    <td ng-bind="item.endDate"></td>
						    <td>
							  	<input ng-show="!skipForm" name="use_order" type="checkbox" ng-click="checkedSelect($event.target,item.id);" />
							   	<input ng-show="skipForm" name="use_order" type="checkbox" checked disabled />
						    </td>
						    <td>
						      <a href="#" ng-click="showfactorProofDetail('recieve',item)" >查看详情</a>
						    </td>
						  </tr>
					  </tbody>
					</table>

					<!-- 汇票列表 -->
					<table id="bill_list_table" class="div-width-100 table table-striped table-hover" ng-show="currConfig.type=='bill'">
					  <thead>
					    <tr class="result-head">
		                  <td width="16%">汇票编号</td>
		                  <td width="10%">汇票类型</td>
		                  <td width="10%">流通方式</td>
		                  <td width="12%">票据金额</td>
		                  <td width="12%">开票日期</td>
		                  <!-- <td width="10%">兑付日期</td> -->
		                  <td width="10%">融资标志</td>
		                  <td width="10%">票据状态</td>
		                  <td width="10%">是否使用</td>
		                  <td width="10%">操作</td>
					    </tr>
					  </thead>
					  <tbody>
						  <tr ng-repeat="bill in billList" ng-repeat-end ng-class="{even:$even}">
						    <td ng-bind="bill.billNo"></td>
						    <td ng-bind="bill.billType|kindf:'BillNoteType'"></td>
						    <td ng-bind="bill.billMode|kindf:'BillFlowMode'"></td>
						    <td class="tab-text-right" ng-bind="bill.balance|moneyFilter"></td>
						    <td ng-bind="bill.invoiceDate"></td>
						    <!-- <td ng-bind="bill.cashDate"></td> -->
						    <td ng-bind="bill.financeFlag|kindf:'FinancingMark'"></td>
						    <td ng-bind="bill.businStatus|kindf:'BillNoteStatus'"></td>
						    <td>
						    <input ng-show="!skipForm" name="use_order" type="checkbox" ng-click="checkedSelect($event.target,bill.id);" />
						    <input ng-show="skipForm" name="use_order" type="checkbox" checked disabled />
						    </td>
						    <td>
							    <a href="#" ng-click="showfactorProofDetail('draft',bill)" >查看详情</a>
						    </td>
						  </tr>
					  </tbody>
					</table>
				</div>
			</div>

			<div>
			     <div class="center-buttons">
			       <button class="btn btn-primary" ng-click="addFinanceReq($event.target);">确定录入</button>
			     </div>
			</div>

			<!-- 产品详情 -->
	        <div id="product_detail_box" bt-roll-modal="temp/productDetail.html" bt-z-index="9993"></div>

			<!-- 订单详情 -->
	        <div id="proof_order_detail_box" bt-roll-modal="../../commonTemp/orderDetailShow.html" bt-z-index="9993"></div>
	        <!-- 票据详情 -->
	        <div id="proof_draft_detail_box" bt-roll-modal="../../commonTemp/draftDetailShow.html" bt-z-index="9993"></div>
	        <!-- 应收详情 -->
	        <div id="proof_recieve_detail_box" bt-roll-modal="../../commonTemp/recieveDetailShow.html" bt-z-index="9993"></div>

		</div>
		</div>
	</div>


	<!-- 引用js文件 -->
	<script type="text/javascript">
      // For development
      if (isBTTest) {
        seajs.use("scf2/js/supplier/apply/financeRecFlow");
      }
      // For production
      else {
        seajs.use("scf2/dist/supplier/apply/financeRecFlow");
      }
  </script>
</body>
</html>
