      
<div id="accountPlatRecord" class="top-box">
  <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/operator.png" alt="">
    开户代录
  </h1>
  <div  class="row-fluid div-center div-margin-top">

      <table class="table table-striped table-hover table-bordered table-condensed big-input">
        <thead class="result-td-head result-head-green">
          <tr>
            <td colspan="3">基本资料</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="20%" class="div-text-right">
              <span class="required">*</span>
              <span class="title">申请机构名称:</span>
            </td>
            <td width="40%"><input type="text" ng-model="info.xxxx"></td>
            <td width="40%" class="div-text-left"><span class="info">长度不超过120位，请与法定注册名称一致，请勿使用简称！</span>
            </td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">组织机构代码:</span>
            </td>
            <td><input type="text" ng-model="info.xxxx"></td>
            <td class="div-text-left"><span class="info">组织机构代码长度不超过30位，若用户已取得统一社会信用代码，组织机构代码栏请填写统一社会信用代码</span>
            </td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">税务登记证号码:</span>
            </td>
            <td><input type="text" ng-model="info.xxxx"></td>
            <td class="div-text-left"><span class="info">长度不超过30位</span>
            </td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">营业执照号码:</span>
            </td>
            <td><input type="text" ng-model="info.xxxx"></td>
            <td class="div-text-left"><span class="info">长度不超过30位，由英文字母、数字或汉字组成，若用户已取得统一社会信用代码，营业执照号码栏请填写统一社会信用代码</span>
            </td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">营业执照有效期:</span>
            </td>
            <td class="date">
              <input type="text" bt-date="info.xxxxx">
              <span ng-max-date>长期有效</span>
            </td>
            <td><!-- <span class="info"></span> -->
            </td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">业务联系电话:</span>
            </td>
            <td><input type="text" ng-model="info.xxxx"></td>
            <td class="div-text-left"><span class="info">请填写区号，长度不超过20位</span>
            </td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">传真:</span>
            </td>
            <td><input type="text" ng-model="info.xxxx"></td>
            <td class="div-text-left"><span class="info">请填写区号，长度不超过20位</span>
            </td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">邮政编码:</span>
            </td>
            <td><input type="text" ng-model="info.xxxx"></td>
            <td class="div-text-left"><span class="info">长度为6位，由数字组成</span>
            </td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">办公地址:</span>
            </td>
            <td><input type="text" ng-model="info.xxxx"></td>
            <td class="div-text-left"><span class="info">请正确填写，如有变更，请及时登录系统修改，长度不超过120位</span>
            </td>
          </tr>
        </tbody>
      </table>


      <table class="table table-striped table-hover table-bordered table-condensed big-input">
        <thead class="result-td-head result-head-green">
          <tr>
            <td colspan="3">账户信息</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="20%" class="div-text-right">
              <span class="required">*</span>
              <span class="title">银行账户名称:</span>
            </td>
            <td width="40%"><input type="text" ng-model="info.xxxx"></td>
            <td width="40%" class="div-text-left"><span class="info">长度不超过120位</span></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">银行账号:</span>
            </td>
            <td><input type="text" ng-model="info.xxxx"></td>
            <td class="div-text-left"><span class="info">长度不超过30位，由数字组成</span></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="title">开户许可证核准号:</span>
            </td>
            <td><input type="text" ng-model="info.xxxx"></td>
            <td class="div-text-left"><span class="info">长度不超过30位</span></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">所属银行:</span>
            </td>
            <td>
                <select ng-model="info.bankNo">
                  <option ng-repeat="item in bankList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="info.bankNo == item.value"></option>
                </select>
            </td>
            <td><span class="info"></span></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">开户行全称:</span>
            </td>
            <td>
              <input type="text" ng-model="info.xxxxx">
            </td>
            <td class="div-text-left"><span class="info">长度不超过120位</span></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">开户行所在地:</span>
            </td>
            <td class="double-select">
              <select ng-model="info.provinceNo">
                <option value="">请选择省份</option>
                <option ng-repeat="item in provinceList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="info.provinceNo == item.value"></option>
              </select>
              <select ng-model="info.bankCityno">
                <option value="">请选择城市</option>
                <option ng-repeat="item in cityList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="info.bankCityno == item.value"></option>
              </select>
            </td>
            <td><span class="info"></span></td>
          </tr>
        </tbody>
      </table>


      <table class="table table-striped table-hover table-bordered table-condensed big-input">
        <thead class="result-td-head result-head-green">
          <tr>
            <td colspan="3">法定代表人/负责人信息</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="20%" class="div-text-right">
              <span class="title">姓名:</span>
            </td>
            <td width="40%"><input type="text" ng-model="info.xxxx"></td>
            <td width="40%" class="div-text-left"><span class="info">长度不超过20位</span></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">证件类型:</span>
            </td>
            <td>
              <select ng-model="info.operIdenttype">
                <option value=""></option>
                <option ng-repeat="item in identtypeList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="info.operIdenttype == item.value"></option>
              </select>
            </td>
            <td><span class="info"></span></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">证件号码:</span>
            </td>
            <td>
              <input type="text" ng-model="info.xxxxx">
            </td>
            <td class="div-text-left"><span class="info">请按所选证件类型正确填写号码</span></td>
          </tr>
           <tr>
             <td class="div-text-right">
              <span class="required">*</span>
               <span class="title">证件有效期:</span>
             </td>
             <td class="date">
               <input type="text" bt-date="info.xxxxx">
               <span ng-max-date>长期有效</span>
             </td>
             <td><!-- <span class="info"></span> -->
             </td>
           </tr>
        </tbody>
      </table>

      <table class="table table-striped table-hover table-bordered table-condensed big-input">
        <thead class="result-td-head result-head-green">
          <tr>
            <td colspan="3">经办人信息</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="20%" class="div-text-right">
              <span class="required">*</span>
              <span class="title">姓名:</span>
            </td>
            <td width="40%"><input type="text" ng-model="info.xxxx"></td>
            <td width="40%"></td>
          </tr>
          <tr>
            <td width="20%" class="div-text-right">
              <span class="required">*</span>
              <span class="title">证件类型:</span>
            </td>
            <td width="40%">
              <select ng-model="info.operIdenttype">
                <option value=""></option>
                <option ng-repeat="item in identtypeList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="info.operIdenttype == item.value"></option>
              </select>
            </td>
            <td width="40%"></td>
          </tr>
          <tr>
            <td width="20%" class="div-text-right">
              <span class="required">*</span>
              <span class="title">证件号码:</span>
            </td>
            <td width="40%"><input type="text" ng-model="info.xxxx"></td>
            <td width="40%"></td>
          </tr>
          <tr>
             <td class="div-text-right">
              <span class="required">*</span>
               <span class="title">证件有效期:</span>
             </td>
             <td class="date">
               <input type="text" bt-date="info.xxxxx">
               <span ng-max-date>长期有效</span>
             </td>
             <td></td>
           </tr>
          <tr>
            <td width="20%" class="div-text-right">
              <span class="required">*</span>
              <span class="title">手机号码:</span>
            </td>
            <td width="40%"><input type="text" ng-model="info.xxxx"></td>
            <td width="40%"></td>
          </tr>
          <tr>
            <td width="20%" class="div-text-right">
              <span class="required">*</span>
              <span class="title">电子邮箱:</span>
            </td>
            <td width="40%"><input type="text" ng-model="info.xxxx"></td>
            <td width="40%"></td>
          </tr>
          <tr>
            <td width="20%" class="div-text-right">
              <span class="required">*</span>
              <span class="title">联系电话:</span>
            </td>
            <td width="40%"><input type="text" ng-model="info.xxxx"></td>
            <td width="40%"></td>
          </tr>
          <tr>
            <td width="20%" class="div-text-right">
              <span class="required">*</span>
              <span class="title">传真:</span>
            </td>
            <td width="40%"><input type="text" ng-model="info.xxxx"></td>
            <td width="40%"></td>
          </tr>
        </tbody>
      </table>

      
      <!-- 附件列表 -->
      <table class="table table-striped table-hover table-bordered">
          <caption class="table-caption table-caption-green clearFix">
            <span class="title-left">开户资料清单</span>
          </caption>
          <thead>
          <tr class="result-head-gray">
            <td width="30%">附件类型</td>
            <td width="40%">附件名称</td>
            <td width="30%">操作</td>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td class="div-text-right"><span class="required">*</span>运输单据附件</td>
              <td></td>
              <td>
                <a href="javascript:void(0);" ng-click="openUpload($event,'transportFile','运输单据附件','xxxList');">上传</a>
                <a href="{{item.id|downf}}">下载</a>
                <a href="javascript:void(0);" ng-click="delUploadItem(item,'xxxList');">移除</a>
              </td>
            </tr>
            <tr>
              <td class="div-text-right"><span class="required">*</span>组织机构代码证</td>
              <td></td>
              <td>
                <a href="javascript:void(0);" ng-click="openUpload($event,'transportFile','组织机构代码证','xxxList');">上传</a>
                <a href="{{item.id|downf}}">下载</a>
                <a href="javascript:void(0);" ng-click="delUploadItem(item,'xxxList');">移除</a>
              </td>
            </tr>
            <tr>
              <td class="div-text-right"><span class="required">*</span>税务登记证</td>
              <td></td>
              <td>
                <a href="javascript:void(0);" ng-click="openUpload($event,'transportFile','税务登记证','xxxList');">上传</a>
                <a href="{{item.id|downf}}">下载</a>
                <a href="javascript:void(0);" ng-click="delUploadItem(item,'xxxList');">移除</a>
              </td>
            </tr>
            <tr>
              <td class="div-text-right"><span class="required">*</span>机构信用代码证</td>
              <td></td>
              <td>
                <a href="javascript:void(0);" ng-click="openUpload($event,'transportFile','机构信用代码证','xxxList');">上传</a>
                <a href="{{item.id|downf}}">下载</a>
                <a href="javascript:void(0);" ng-click="delUploadItem(item,'xxxList');">移除</a>
              </td>
            </tr>
            <tr>
              <td class="div-text-right"><span class="required">*</span>银行账户开户许可证</td>
              <td></td>
              <td>
                <a href="javascript:void(0);" ng-click="openUpload($event,'transportFile','银行账户开户许可证','xxxList');">上传</a>
                <a href="{{item.id|downf}}">下载</a>
                <a href="javascript:void(0);" ng-click="delUploadItem(item,'xxxList');">移除</a>
              </td>
            </tr>
            <tr>
              <td class="div-text-right"><span class="required">*</span>经办人身份证-头像面</td>
              <td></td>
              <td>
                <a href="javascript:void(0);" ng-click="openUpload($event,'transportFile','经办人身份证-头像面','xxxList');">上传</a>
                <a href="{{item.id|downf}}">下载</a>
                <a href="javascript:void(0);" ng-click="delUploadItem(item,'xxxList');">移除</a>
              </td>
            </tr>
            <tr>
              <td class="div-text-right"><span class="required">*</span>经办人身份证-国徽面</td>
              <td></td>
              <td>
                <a href="javascript:void(0);" ng-click="openUpload($event,'transportFile','经办人身份证-国徽面','xxxList');">上传</a>
                <a href="{{item.id|downf}}">下载</a>
                <a href="javascript:void(0);" ng-click="delUploadItem(item,'xxxList');">移除</a>
              </td>
            </tr>
            <tr>
              <td class="div-text-right"><span class="required">*</span>经办人身份证-手持证件</td>
              <td></td>
              <td>
                <a href="javascript:void(0);" ng-click="openUpload($event,'transportFile','经办人身份证-手持证件','xxxList');">上传</a>
                <a href="{{item.id|downf}}">下载</a>
                <a href="javascript:void(0);" ng-click="delUploadItem(item,'xxxList');">移除</a>
              </td>
            </tr>
            <tr>
              <td class="div-text-right"><span class="required">*</span>法人身份证-头像面</td>
              <td></td>
              <td>
                <a href="javascript:void(0);" ng-click="openUpload($event,'transportFile','法人身份证-头像面','xxxList');">上传</a>
                <a href="{{item.id|downf}}">下载</a>
                <a href="javascript:void(0);" ng-click="delUploadItem(item,'xxxList');">移除</a>
              </td>
            </tr>
            <tr>
              <td class="div-text-right"><span class="required">*</span>法人身份证-国徽面</td>
              <td></td>
              <td>
                <a href="javascript:void(0);" ng-click="openUpload($event,'transportFile','法人身份证-国徽面','xxxList');">上传</a>
                <a href="{{item.id|downf}}">下载</a>
                <a href="javascript:void(0);" ng-click="delUploadItem(item,'xxxList');">移除</a>
              </td>
            </tr>
            <tr>
              <td class="div-text-right"><span class="required">*</span>法人身份证-手持证件</td>
              <td></td>
              <td>
                <a href="javascript:void(0);" ng-click="openUpload($event,'transportFile','法人身份证-手持证件','xxxList');">上传</a>
                <a href="{{item.id|downf}}">下载</a>
                <a href="javascript:void(0);" ng-click="delUploadItem(item,'xxxList');">移除</a>
              </td>
            </tr>
            <tr>
              <td class="div-text-right"><span class="required">*</span>开户资料包(请阅读提示内容)</td>
              <td></td>
              <td>
                <a href="{{item.id|downf}}">下载</a>
              </td>
            </tr>
        </tbody>
      </table>


    </div>

    
    <div class="center-buttons" >
        <button class="btn btn-primary"  ng-click="ensureOpen($event.target);">提交</button>
        <button class="btn btn-primary"  ng-click="save($event.target);">保存</button>
    </div>


    <!-- 温馨提示 -->
    <div id="warm_prompt_box" class="div-width-100">
      <h1 class="prompt-title">
        <img class="prompt-icon" src="img/warm_prompt.png" alt="">
        温馨提示
      </h1>
      <div class="warm-prompt-content">
        <p>1、上传格式为图片、PDF、RAR、ZIP格式；</p>
        <p>2、请上传：营业执照、组织机构代码证、税务登记证、机构信用代码证、银行账户开户许可证、经办人和法人身份证(头像面、国徽面、手持证件面)，复印件加盖公章或原件扫描件；</p>
        <p>3、您可以按以上要求逐一上传以上开户认证文件 或 将所有资料压缩后选择"开户资料包" 的方式上传。</p>
      </div>
    </div>
    <!-- 温馨提示END -->

    <!-- 附件上传 start -->
    <div bt-upload conf="uploadConf"></div>

</div>
      