<div class="wid wid3 mt10">
	<ul>
    	<li>
            <div class="ci">
            	<input type="text" placeholder="请输入手机号码" class="text" name="">
            </div>
            <a href="javascript:void(0)" class="yzm">获取验证码</a>
        </li>
        <li>
            <div class="ci">
            	<input type="text" placeholder="请输入验证码" class="text" name="">
            </div>
        </li>
    </ul>
</div>
<div class="butn mt10">
    <p><a class="btn" href="#/accountBind">下一步</a></p>
    <div class="mt20">
        <i class="ico ico12"></i>请保证您填写的手机号码能够正常通讯，否则将无法完成注册。
    </div>
</div>