	<div class="wid wid5">
    	<ul class="clearfix">
            <li >
            	<span class="ti">企业名称</span>
            	<div class="ci">
                	{{info.custName}}
                </div>
            </li>
            <li>
            	<span class="ti">经办人</span>
            	<div class="ci">
                	{{info.operName}}
                </div>
            </li>
            <li>
            	<span class="ti">电子邮箱</span>
            	<div class="ci">
                	{{info.operEmail}}  
                </div>
            </li>
            <li>
            	<span class="ti">手机号码</span>
            	<div class="ci">
                	{{info.operMobile}}
                </div>
            </li>
            <li class="clearfix">
                <a href="#/register/show">
                	<span class="ti">查看开户认证文件</span>
                    <i class="ico ico13 fr"></i>
                </a>
            </li>
        </ul>
    </div>
    
    <div>
        <h4 class="text-center margin-tips orange_default">审核中</h4>
        <div class="text-center margin-tips">我们将尽快处理您的请求，企e金服平台将通过短信或邮件进行告知......</div>
    </div>
    
    