<div class="top-box">
  <h1 class="content-title-1 content-title-condensed content-title-blue div-margin-bottom-none"><img src="img/operator.png" alt="">
    贸易合同台账查询
  </h1>

  <div class="row-fluid">
      <table class="table table-condensed div-width-70 div-center search-table">
        <tr>
          <td>签署日期:</td>
          <td class="div-text-left date">
            <input type="text" id="begin_date" bt-date="searchData.GTEsignDate" bt-max-date="end_date">-
            <input type="text" bt-min-date="begin_date" id="end_date" bt-date="searchData.LTEsignDate">
          </td>
        </tr>
        <tr>
          <td width="25%">合同状态:</td>
          <td width="75%" class="div-text-left">
          <select ng-model="searchData.businStatus">
            <option value="">---所有状态---</option>
            <option ng-repeat="item in statusList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.businStatus == item.value"></option>
          </select>
          </td>
        </tr>
      </table>
      <div class="center-buttons">
        <button class="btn btn-primary btn-bg-middle" ng-click="queryList(true);">查询</button>
      </div>
  </div>

  <div>

    <table class="div-width-100 table table-striped table-hover search-result main-list">
        <thead>
            <tr class="result-head">
              <td width="10%">合同编号</td>
              <td width="10%">合同名称</td>
              <td width="15%">买方</td>
              <td width="15%">卖方</td>
              <td width="10%">合同金额</td>
              <td width="10%">生效日期</td>
              <td width="10%">到期日期</td>
              <td width="10%">状态</td>
              <td width="10%">操作</td>
            </tr>
        </thead>
        <tbody>
          <tr ng-class="{even:$even}" ng-repeat="item in infoList" ng-repeat-end>
            <td ng-bind="item.agreeNo"></td>
            <td ng-bind="item.agreeName"></td>
            <td ng-bind="item.buyer"></td>
            <td ng-bind="item.supplier"></td>
            <td ng-bind="item.balance"></td>
            <td ng-bind="item.agreeStartDate"></td>
            <td ng-bind="item.agreeEndDate"></td>
            <td ng-bind="item.businStatus|kindf:'AgreementStandardStatus'"></td>
            <td>
              <a href="javascript:void(0);" ng-click="showPage(item.id)">查看</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
            <td colspan="9">
                <div bt-pagination conf="listPage" func="queryList(true)"></div>
            </td>
        </tfoot>
    </table>

  </div>
</div>
