<div class="search-pop">
    <h3>资产登记</h3>
    <div>
        <strong>提示：请您前往中登网(动产融资统一登记系统)进行登记，并在下方填写填写登记结果。</strong>
    </div>
    <ul>
        <li>
            <span class="text-align-right" width="30%">登记企业:</span>
            <span ng-bind="assReg.registerCustName"></span>
        </li>
        <li>
            <span class="text-align-right" width="30">登记证明编号:</span>
            <span ng-bind="assReg.zdwRegCode"></span> 
            <!-- <span>
                 <input type="text" id="assReg.zdwRegCode" >     
            </span> -->
        </li>
        <li>
            <span class="text-align-right" width="30">登记人:</span>
            <span ng-bind="assReg.registrant"></span>             
        </li>
        <li>
            <span class="text-align-right" width="30">登记日期: </span>
            <span ng-bind="assReg.zdwRegDate"></span>
            <!-- <input type="text" ng-model="info.checkDate" > -->
            <!-- <span class="div-text-left date" style="position:relative;top:8px">
              <input type="text" id="assReg.zdwRegDate" bt-date="assReg.zdwRegDate">              
            </span> -->
        </li>
        
        <li>
            <span class="text-align-right" width="30">附件:</span>
            <span ng-bind="attachList[0].fileName"></span> 
            <!-- <button class="btn btn-info btn-right" ng-click="openUpload($event,'zdwFlie','中登网登记文件','attachList')">+上传</button> -->
        </li>
    </ul>
    <div class="center-buttons">                
        <button class="btn btn-primary" bt-close-modal>退出</button>        
    </div>
</div>

  <!-- 上传组件引用 -->
  <!-- <div bt-upload conf="uploadConf" ></div> -->