<div class="top-box">
  <h1 class="content-title-1 content-title-condensed content-title-blue div-margin-bottom-none"><img src="img/operator.png" alt="">
    <span>标准合同文本上传</span>
    <small class="small-select">
        <span>机构名称</span>
        <select ng-model="searchData.custNo" ng-change="queryList();">
          <option ng-repeat="item in custList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.custNo == item.value"></option>
        </select>
    </small>
  </h1>

  <div class="row-fluid">
      <table class="table table-condensed div-width-70 div-center search-table">
        <tr>
          <td>申请日期:</td>
          <td class="div-text-left date">
            <input type="text" id="begin_date" bt-date="searchData.GTEoriginDate" bt-max-date="end_date">-
            <input type="text" bt-min-date="begin_date" id="end_date" bt-date="searchData.LTEoriginDate">
          </td>
        </tr>
        <tr>
          <td width="25%">状态:</td>
          <td width="75%" class="div-text-left">
          <select ng-model="searchData.textAuditStatus">
            <option value="">---所有状态---</option>
            <option ng-repeat="item in auditStatusList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.textAuditStatus == item.value"></option>
          </select>
          </td>
        </tr>
      </table>
      <div class="center-buttons">
        <button class="btn btn-primary btn-bg-middle" ng-click="queryList(true);">查询</button>
      </div>

    <table class="div-width-100 table table-striped table-hover search-result main-list">
        <thead>
          <tr>
              <td class="modi-group" colspan="6">
               <button class="btn btn-info" ng-click="addNewBox();" >新增合同文本</button>
              </td>
            </tr>
            <tr class="result-head">
              <td width="20%">申请编号</td>
              <td width="30%">标准合同名称</td>
              <td width="20%">申请日期</td>
              <td width="10%">当前状态</td>
              <td width="10%">查看详情</td>
              <td width="10%">操作</td>
            </tr>
        </thead>
        <tbody>
          <tr ng-class="{even:$even}" ng-repeat="item in infoList" ng-repeat-end>
            <td class="red" ng-bind="item.originApplyNo"></td>
            <td ng-bind="item.name"></td>
            <td ng-bind="item.originDate"></td>
            <td ng-bind="item.textAuditStatus | kindf:'ContractTemplateAuditStatus'"></td>
            <td>
              <a href="javascript:void(0);" ng-click="lookDetail(item);">查看详情</a>
            </td>
            <td>
              <span ng-show="item.textAuditStatus!='02'">--</span>
              <a href="javascript:void(0);" ng-click="uploadBox(item);" ng-show="item.textAuditStatus=='02'">重新上传</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
            <td colspan="5">
                <div bt-pagination conf="listPage" func="queryList(false)"></div>
            </td>
        </tfoot>
    </table>

  </div>
</div>
  <!-- 模态框 -->
  <div id="select_box" bt-roll-modal="template/2_3/contract/standard/temp/select.html" bt-z-index="9991"></div>
  <div id="upload_box" bt-roll-modal="template/2_3/contract/standard/temp/upload.html" bt-z-index="9991"></div>
  <div id="detail_box" bt-roll-modal="template/2_3/contract/standard/temp/detail.html" bt-z-index="9991"></div>

  <!-- 附件上传 start -->
  <div bt-upload conf="uploadConf"></div>
