<div class="row-fluid">
    <div id="content" class="div-width-100">
        <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/operator.png" alt="">
          企e金服平台开户申请
        </h1>
        
       
        <table class="table div-width-60 div-center search-table">
          <tr>
            <td width="30%">申请机构名称：</td>
            <td width="70%" class="div-text-left">
                {{info.custName}}
            </td>
          </tr> 
          <tr>
            <td>当前任务进度：</td>
            <td class="div-text-left">
            <span class="auditStatus red ">审核中</span>
            </td>
          </tr>
          
        </table>


        <!-- 温馨提示 -->
        <div id="warm_prompt_box" class="div-width-100">
          <h1 class="prompt-title">
            <img class="prompt-icon" src="img/warm_prompt.png" alt="">
            温馨提示
          </h1>
          <div class="warm-prompt-content">
            <p>审批通过后，企e金服平台将通过短信或邮件进行告知，请您耐心等待！</p>
          </div>
        </div>
        <!-- 温馨提示END -->



    </div>
</div>