<div class="bt-modal">
  <div class="bt-modal-background"></div>
  <div class="bt-modal-content">
    <span class="bt-pop-close" ng-click="closeModal()"></span>
    <div class="bt-modal-body">
      <div class="header moving" bt-drag>
        <ul>
          <li class="active"><span>确认份额</span><span class="status"></span></li>
          <li><span>卖出结果</span><span class="status"></span></li>
        </ul>
      </div>
      <div class="content">
        <table class="bt-table">
          <thead class="bt-table-header">
            <tr>
              <th width=30%><span class="content-title name">方案名称</span></th>
              <th width=20%><span class="content-title money">可用金额</span></th>
              <th width=35%><span class="content-title out">输入卖出份额</span></th>
              <th width=15%><span class="content-title button">操作</span></th>
            </tr>
          </thead>
          <tbody class="bt-table-body">
            <tr ng-repeat=" item in rowDatas">
              <td>{{item.code}}</td>
              <td>{{item.code | number:2}}</td>
              <td><input type="number" ng-model="sometext" placeholder="1,000,000,000.00"></td>
              <td><a class="bt-table-button" ng-click="redeemOut(item,$event)">卖出</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>