    <div class="mAito">
    	<ul class="clearfix">
        	<li>
            	<a href="javascript:void(0)" ng-click="changeStatus();">融资状态<i class="ico ico14"></i></a>
            </li>
            <li>
            	<a href="javascript:void(0)"></a>
            </li>
            <li>
            	<a href="javascript:void(0)"></a>
            </li>
        </ul>
    </div>
	<div class="mpLt">
    	<ul>
        	<li ng-repeat="item in infoList" ng-click="showDetail(item);">
            	<div class="ti">
                	<span ng-bind="item.buyer"></span>
                    <em class="co co1">{{item.businStatus|kindf:'BillNoteStatus'}}<i class="ico ico13 ml5"></i></em>
                </div>
                <div class="bi"></div>
                <div class="ci">
                	<p class="tit">商业票据：¥{{item.balance|moneyFilter}}</p>
                    <p class="con">票据号：{{item.billNo}}</p>
                    <p class="time">有效期：{{item.invoiceDate}}至{{item.endDate}}</p>
                </div>
            </li>
        </ul>
        <div ng-page="listPage" func="queryList(false)" class="more"></div>
    </div>
