<div class="div-width-90 detail-box div-center">
  <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/operator.png" alt="">
    电子合同服务企业账户
  </h1>
  <div  class="row-fluid div-center div-margin-top">

    <table class="table table-striped table-hover table-bordered table-condensed big-input">
        <thead class="result-td-head result-head-green">
          <tr>
            <td colspan="3">基本信息</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="20%" class="div-text-right">
              <span class="title">合同服务商:</span>
            </td>
            <td width="40%" class="div-text-left"><span class="info">长度不超过120位</span></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="title">企业名称:</span>
            </td>
            <td class="div-text-left"><span class="info">长度不超过30位，由数字组成</span></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="title">组织机构代码号:</span>
            </td>
            <td class="div-text-left"><span class="info">长度不超过30位，由数字组成</span></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="title">注册类型:</span>
            </td>
            <td class="div-text-left"><span class="info">长度不超过30位，由数字组成</span></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="title">姓名:</span>
            </td>
            <td class="div-text-left"><span class="info">长度不超过30位，由数字组成</span></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="title">身份证号:</span>
            </td>
            <td class="div-text-left"><span class="info">长度不超过30位，由数字组成</span></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="title">企业账号:</span>
            </td>
            <td class="div-text-left"><span class="info">长度不超过30位，由数字组成</span></td>
          </tr>
        </tbody>
      </table>

      <table class="div-width-100 table table-striped table-hover search-result table-bordered">
          <thead>
            <tr>
              <td colspan="5" class="div-text-left">企业合同签字人</td>
            </tr>
            <tr class="result-head">
              <td width="20%">序号</td>
              <td width="80%">姓名</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in infoList" ng-repeat-end ng-class="{even:$even}" >
              <td>11</td>
              <td ng-bind="item.agreementStandardName"></td>
            </tr>
          </tbody>
          <tfoot>
            <td colspan="5">
              <div bt-pagination conf="listPage2" func="queryList2(false)"></div>
            </td>
          </tfoot>
        </table>

    </div>

    <div class="center-buttons" >
        <button class="btn btn-primary" ng-click="uploadSeal()">提交</button>
        <button class="btn btn-primary" bt-close-modal>返回</button>
    </div>


    <!-- 附件上传 start -->
    <div bt-upload conf="uploadConf"></div>

</div>
      