<div class="div-width-90 detail-box div-center child-list">
    <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/operator.png" alt="">
      关联贸易合同
    </h1>
    <table class="table table-condensed div-width-70 div-center search-table">
      <tr>
       <td width="30%">买方客户号:</td>
       <td width="70%" class="div-text-left">
         <select ng-model="childInfoSearch.buyerNo">
           <option ng-repeat="item in coreCustList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="childInfoSearch.buyerNo == item.value"></option>
         </select>
       </td>
      </tr>
      <tr>
       <td width="30%">卖方客户号:</td>
       <td width="70%" class="div-text-left">
         <select ng-model="childInfoSearch.supplierNo">
           <option ng-repeat="item in custList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="childInfoSearch.supplierNo == item.value"></option>
         </select>
       </td>
      </tr>
      <tr>
        <td>合同编号:</td>
        <td class="div-text-left">
        <input type="text" name="" ng-model="childInfoSearch.agreeNo">
        </td>
      </tr>
    </table>
    <div class="center-buttons">
      <button class="btn btn-primary btn-bg-middle" ng-click="searchChildInfoList('0');">查询</button>
      <!-- <button class="btn btn-primary btn-bg-middle" ng-click="">重置</button> -->
    </div>
    <table class="table table-striped table-hover table-bordered big-input">
      <thead class="result-td-head result-head-green">
        <tr>
          <td colspan="9" class="left">关联贸易合同</td>
        </tr>
      </thead>
      <thead class="result-head-center">
        <tr>
          <td colspan="9">已选择列表</td>
        </tr>
      </thead>
      <thead>
        <tr class="result-head-gray">
          <td width="12.5%">操作</td>
          <td width="16.5%">合同编号</td>
          <td width="18.5%">采购方</td>
          <td width="18.5%">供货方</td>
          <!-- <td width="16.5%">签署日期</td> -->
          <td width="16.5%">交付日期</td>
          <td width="16.5%">合同金额</td>
        </tr>
      </thead>
      <tbody ng-show="chilidInfoSelectPool.length<1">
        <tr>
          <td colspan="9" class="green">暂无已选项！</td>
        </tr>
      </tbody>
      <tbody>
          <tr ng-repeat-end ng-class="{even:$even}" ng-repeat="item in chilidInfoSelectPool">
            <td>
              <a href="javascript:void(0)" ng-click="removeChildInfoPool(item);">移除</a>
            </td>
            <td ng-bind="item.agreeNo"></td>
            <td ng-bind="item.buyer"></td>
            <td ng-bind="item.supplier"></td>
            <td ng-bind="item.deliveryDate"></td>
            <td class="red tab-text-right" ng-bind="item.balance|moneyFilter"></td>
          </tr>
      </tbody>
      <thead class="result-head-center">
        <tr>
          <td colspan="9">可选择列表</td>
        </tr>
      </thead>
      <thead>
        <tr class="result-head-gray">
          <td width="12.5%">操作</td>
          <td width="16.5%">合同编号</td>
          <td width="18.5%">采购方</td>
          <td width="18.5%">供货方</td>
          <!-- <td width="16.5%">签署日期</td> -->
          <td width="16.5%">交付日期</td>
          <td width="16.5%">合同金额</td>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat-end ng-class="{even:$even}" ng-repeat="item in childInfoList">
            <td>
              <a href="javascript:void(0)" ng-hide="item.isInPool" ng-click="addChildInfoPool(item);">添加</a>
              <span ng-show="item.isInPool" class="deep-gray">已添加</span>
            </td>
            <td ng-bind="item.agreeNo"></td>
            <td ng-bind="item.buyer"></td>
            <td ng-bind="item.supplier"></td>
            <td ng-bind="item.deliveryDate"></td>
            <td class="red tab-text-right" ng-bind="item.balance|moneyFilter"></td>
          </tr>
      </tbody>
      <tfoot>
        <td colspan="9">
          <div bt-pagination conf="childInfoListPage" func="queryChildInfoList('0',false);"></div>
        </td>
      </tfoot>
    </table>
    <div>
         <div class="center-buttons">
           <button class="btn btn-primary" ng-click="linkChildInfoList($event.target,'0');">确定添加</button>
           <button class="btn btn-primary" bt-close-modal >取消</button>
         </div>
    </div>
</div> 