<div class="div-width-90 detail-box div-center">
    <h1 class="content-title-1 content-title-condensed"><img src="../../../img/operator.png" alt="">
      编辑运输单据
    </h1>
    <table class="div-width-100 table table-bordered table-striped table-hover recieve-table big-input">
        <tr>
          <td width="30%">发货人:</td>
          <td class="div-text-left" width="70%"><input type="text"></td>
        </tr>
        <tr>
          <td width="30%">收货人:</td>
          <td class="div-text-left"><input type="text"></td>
        </tr>
        <tr>
          <td width="30%">发货日期:</td>
          <td class="div-text-left"><input type="text" id="begin_date" bt-date="searchData.GTErequestDate"> </td>
        </tr>
        <tr>
          <td width="30%">收货日期:</td>
          <td class="div-text-left"><input type="text" id="begin_date" bt-date="searchData.GTErequestDate"> </td>
        </tr>
        <tr>
          <td width="30%">发货地址:</td>
          <td class="div-text-left"><input type="text"></td>
        </tr>
        <tr>
          <td width="30%">收货地址:</td>
          <td class="div-text-left"><input type="text"></td>
        </tr>
        <tr>
          <td width="30%">备注:</td>
          <td class="div-text-left"><input type="text"></td>
        </tr>
        <tr>
          <td width="30%">附件:</td>
          <td class="div-text-left">
            <button class="btn btn-info">+上传附件</button>
          </td>
        </tr>
    </table>
    <div>
         <div class="center-buttons">
           <button class="btn btn-primary" ng-click="">确定新增</button>
           <button class="btn btn-primary" bt-close-modal >取消</button>
         </div>
    </div>
</div> 
