<div class="div-width-90 detail-box div-center">
	<!-- 订单基本信息 -->
	<div id="" class="row-fluid">
		<h1 class="content-title-1 content-title-condensed content-title-blue">
			<img src="../../../img/operator.png" alt="">订单新增
			<small class="small-select">
              <span>选择机构</span>
              <select ng-model="searchData.custNo" ng-change="changeCust();">
                <option ng-repeat="item in custList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.custNo == item.value"></option>
              </select>
            </small>
		</h1>
		<form action="" id="" class="form-horizontal">
			<div class="div-center div-width div-margin-top">
				<table class="table table-striped table-bordered table-hover" ng-box-enabled="info.modiType=edit">
				  	<caption class="table-caption table-caption-green clearFix">
					  	<span class="title-left">订单信息</span>
				  	</caption>
					<tbody>
					<tr>
						<td width="20%">订单编号:</td>
						<td width="30%" class="div-text-left" class="red"><input type="text" ng-model="info.orderNo"></td>
						<td width="20%">商品名称:</td>
						<td width="30%" class="div-text-left"><input type="text" ng-model="info.goodsName"></td>
					</tr>
					<tr>
						<td>订单总额:</td>
						<td class="tab-text-right"><input type="text" ng-model="info.balance"></td>
						<td>采购数量:</td>
						<td class="div-text-left"><input type="text" ng-model="info.amount"></td>
					</tr>
					<tr>
						<td>商品价格:</td>
						<td class="tab-text-right"><input type="text" ng-model="info.unit"></td>
						<td>核心企业:</td>
						<td class="div-text-left">
							<select ng-model="info.coreCustNo">
							  <option ng-repeat="item in coreCustList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="info.coreCustNo == item.value"></option>
							</select>
						</td>
					</tr>
					<tr>
						<td>订购日期:</td>
						<td class="div-text-left"><input type="text" bt-date="info.orderDate"> 
                  		</td>
						<td>结算方式:</td>
						<td class="div-text-left">
							<select ng-model="info.settlement">
							  <option ng-repeat="item in settleType" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="info.settlement == item.value"></option>
							</select>
						</td>
					</tr>
					<tr>
						<td>状态:</td>
						<td class="div-text-left">
							<select ng-model="info.businStatus">
							  <option ng-repeat="item in statusList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="info.businStatus == item.value"></option>
							</select>
						</td>
						<td></td>
						<td></td>
					</tr>
					</tbody>
				</table>


				<!-- 附件信息列表 -->
				<table class="table table-striped table-hover table-bordered">
				  	<caption class="table-caption table-caption-green clearFix">
					  	<span class="title-left">附件信息</span>
					  	<button class="btn btn-info btn-right" ng-show="info.modiType === 'edit'" ng-click="openUploadDropdown($event,'uploadType','infoFileList')">+添加附件</button>
				  	</caption>
				  	<thead>
					    <tr class="result-head-gray">
					      <!-- <td width="20%">所属文件</td> -->
					      <td width="20%">附件类型</td>
					      <td width="40%">附件名称</td>
					      <td width="10%">操作</td>
					    </tr>
					  </thead>
					  <tbody>
					     <tr ng-repeat-end ng-class="{even:$even}" ng-repeat="item in infoFileList">
					       <td ng-bind="item.fileInfoType|kindf:'BaseInfoFile'"></td>
					       <td ng-bind="item.fileName"></td>
					       <td>
					       	<a href="{{item.id|downf}}">下载</a>
					       	<a href="javascript:void(0);" ng-show="info.modiType === 'edit'" ng-click="delUploadItem(item,'infoFileList');">删除</a>
					       </td>
					     </tr>
					  </tbody>
				</table>

			</div>
			<div class="center-buttons">
			  <!-- <button class="btn btn-primary" ng-click="">重置</button> -->
			  <button class="btn btn-primary" ng-click="editInfo($event.target)" ng-show="info.modiType === 'edit'">提交</button>
			  <button class="btn btn-primary" bt-close-modal>返回</button>
			</div>
		</form>
	</div>
	

</div>
