<table class="table table-striped table-hover table-bordered big-input">
  <thead class="result-td-head result-head-green">
    <tr>
      <td>审批通过或驳回理由</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="70%">
      	<textarea bt-include-model="reject" cols="10" rows="10"></textarea>
      </td>
    </tr>
    <tr>
      <td width="70%">
        <button class="btn btn-primary" bt-include-event="reject">确定</button>
        <button class="btn btn-primary" bt-include-hide>取消</button>
      </td>
    </tr>
  </tbody>
</table>