<div class="div-width-90 detail-box div-center">
    <h1 class="content-title-1 content-title-condensed"><img src="../../../img/operator.png" alt="">
      选择贸易合同
    </h1>
   <div id="order_list_box">
   	<table class="div-width-100 table table-striped table-hover">
   	  <thead>
   	    <tr class="result-head">
   	      <td width="14%">合同号</td>
   	      <td width="14%">采购方</td>
   	      <td width="14%">供方</td>
   	      <td width="14%">签定地点</td>
   	      <td width="14%">签订时间</td>
   	      <td width="14%">合同金额</td>
   	      <td width="16%">登记日期</td>
   	    </tr>
   	  </thead>
   	  <tbody>
   	    <tr>
   	     <td><input name="" type="checkbox" checked />T-001</td>
   	     <td>深圳大江</td>
   	     <td>中昂郑重</td>
   	     <td>香蜜湖</td>
   	     <td>2012-12-02</td>
   	     <td>3,000,000</td>
   	     <td>2012-12-02</td>
   	    </tr>
   	    <tr>
   	     <td><input name="" type="checkbox" />T-001</td>
   	     <td>深圳大江</td>
   	     <td>中昂郑重</td>
   	     <td>香蜜湖</td>
   	     <td>2012-12-02</td>
   	     <td>3,000,000</td>
   	     <td>2012-12-02</td>
   	    </tr>
   	  </tbody>
   	</table>
   </div>
    <div>
         <div class="center-buttons">
           <button class="btn btn-primary" ng-click="">添加</button>
           <button class="btn btn-primary" bt-close-modal >取消</button>
         </div>
    </div>

</div> 
