<!DOCTYPE html>
<html>

<head>
    <title>资料复核管理</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11" />
    <!-- LXUI -->
    <link rel="stylesheet" href="https://static.qiejf.com/better/l/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://static.qiejf.com/better/scf2/css/qiecom/record/dataRecordRecheck.css">
    <script type="text/javascript" src="https://static.qiejf.com/better/l/seajs/sea.js"></script>
    <script type="text/javascript" src="https://static.qiejf.com/better/base/config_ng.js"></script>
</head>

<body id="body">
    <div id="container" class="container-fluid div-center">
    <div class="row-fluid">
        <div id="content" ng-controller="mainController" class="div-width-100">
            <div id="fund_search_way" class="row-fluid">
                <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/fast_money.png" alt="">资料复核查询
                </h1>
                <table class="table table-condensed div-width-70 div-center search-table">
                  <tr>
                    <td width="25%">公司名称:</td>
                    <td width="75%" class="div-text-left">
                        <input type="text" ng-model="searchData.LIKEcustName">
                    </td>
                  </tr>
                  <tr>
                    <td>申请日期:</td>
                    <td class="div-text-left date">
                      <input type="text" id="begin_date" bt-date="searchData.GTEregDate">-
                      <input type="text" id="end_date" bt-date="searchData.LTEregDate">
                    </td>
                  </tr> 
                </table>
                <div class="center-buttons">
                  <button class="btn btn-primary btn-bg-middle" ng-click="searchList();">查询</button>
                </div>
            </div>

            <div id="search_info" class="row-fluid">
                <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/operator.png" alt="">
                资料代录复核列表
                </h1>
                <table class="div-width-100 table table-striped table-hover search-result">
                <thead>
                    <tr class="font-size-12 result-head">
                        <td width="20%">机构名称</td>
                        <td width="20%">公司名称</td>
                        <td width="10%">代录类型</td>
                        <td width="15%">申请时间</td>
                        <!-- <td width="15%">完成时间</td> -->
                        <td width="15%">状态</td>
                        <td width="10%">申请详情</td>
                        <td width="10%">操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{even:$even}" ng-repeat="apply in applyList" ng-repeat-end>
                        <td ng-bind="apply.orgName"></td>
                        <td ng-bind="apply.custName"></td>
                        <td ng-bind="apply.insteadType | kindf:'InsteadType'"></td>
                        <td ng-bind="apply.regDate +' '+ apply.regTime"></td>
                        <!-- <td></td> -->
                        <td ng-bind="apply.businStatus | kindf:'InsteadApplyBusinStatus'"></td>
                        <td><a href="javascript:void(0);" ng-click="openDataRecord(apply);">查看详情</a></td>
                        <td>
                        <a href="javascript:void(0);" ng-show="apply.businStatus==3" ng-click="openReviewAction(apply);">复核</a>
                        <span class="deep-gray" ng-show="apply.businStatus!=3">暂无操作</span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="7">
                        <div bt-pagination conf="listPage"></div>
                    </td>
                </tfoot>
                </table>
            </div>

            <!-- 模板区域 -->
            <!-- 复核详细查看 -->
            <div id="data_review_detail_box" bt-roll-modal="recheckTemp/dataRecordDetailRecheck.html" bt-z-index="9991"></div>

            <!-- 公司复核具体操作（子项列表） -->
            <div id="data_review_action_box" bt-roll-modal="recheckTemp/dataRecordReviewRecheck.html" bt-z-index="9991"></div>

            <!-- 基本信息复核模板 -->
            <div id="basic_change_audite_box" bt-roll-modal="recheckTemp/baseDataRecordRecheck.html" bt-z-index="9992"></div>

            <!-- 法人信息复核模板 -->
            <div id="lawyer_change_audite_box" bt-roll-modal="recheckTemp/lawyerDataRecordRecheck.html" bt-z-index="9992"></div>

            <!-- 银行账户复核模板 -->
            <div id="business_change_audite_box" bt-roll-modal="recheckTemp/businessDataRecordRecheck.html" bt-z-index="9992"></div>

            <!-- 平台开户复核模板 -->
            <!-- <div id="account_change_audit_box" bt-roll-modal="recheckTemp/accountDataRecordRecheck.html" bt-z-index="9992"></div> -->
            <div id="account_change_audit_box" bt-roll-modal="recheckTemp/accountPlatReview.html" bt-z-index="9992"></div>



        </div>
    </div>
    </div>
    <!-- 引用js文件 -->
    <!--[if lt IE 9]>
      <script type="text/javascript">seajs.use('p/js/common/IErequire');</script>
  <![endif]-->
    <script type="text/javascript">
    // For development
      if (isBTTest) {
        seajs.use("scf2/js/qiecom/record/dataRecordRecheck");
      }
      // For production
      else {
        seajs.use("scf2/dist/qiecom/record/dataRecordRecheck");
      }
    </script>
</body>

</html>
