
<div id="flowImageContent">
	<h1 class="content-title-1 content-title-condensed content-title-blue"><img src="scf2/img/fast_money.png" alt="">流程图</h1>

	<link rel="stylesheet" href="https://static.qiejf.com/better/l/svgDrawer/css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="https://static.qiejf.com/better/l/svgDrawer/css/snaker.css" type="text/css" media="all" />

	<!-- <script src="https://static.qiejf.com/better/l/svgDrawer/js/raphael-min.js" type="text/javascript"></script>
	<script src="https://static.qiejf.com/better/l/svgDrawer/js/jquery-ui-1.8.4.custom/js/jquery.min.js" type="text/javascript"></script>
	<script src="https://static.qiejf.com/better/l/svgDrawer/js/jquery-ui-1.8.4.custom/js/jquery-ui.min.js" type="text/javascript"></script>
	<script src="https://static.qiejf.com/better/l/svgDrawer/js/snaker/snaker.designer.js" type="text/javascript"></script>
	<script src="https://static.qiejf.com/better/l/svgDrawer/js/snaker/snaker.model.js" type="text/javascript"></script>
	<script src="https://static.qiejf.com/better/l/svgDrawer/js/snaker/snaker.editors.js" type="text/javascript"></script> -->


	<table class="properties_all" align="center" border="0" cellpadding="0" cellspacing="0" style="margin-top: 0px">
		<div id="snakerflow" style="border: 0px solid #d2dde2; margin-top:10px; margin-left:10px; margin-bottom:10px; width:98%; overflow-x:scroll;">
		</div>
	</table>

</div>

