<div id="fund_search_way" class="row-fluid">
  <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/fast_money.png" alt="">流程任务</h1>
    <table  class="div-width-100 table table-bordered table-striped table-hover recieve-table handleTask div-text-center">
    <tbody>
      <tr>
        <td width="30%">审批内容</td>
        <td width="60%" class="div-text-left"><textarea></textarea></td>
      </tr>
      <tr>
        <td>审批结果</td>
        <td class="div-text-left">
          <label for="accept"><input type="radio" id="accept" name="result "> 通过</label>
          <label for="refuse"><input type="radio" id="refuse" name="result "> 驳回</label>
        </td>
      </tr>
      <tr>
        <td>驳回步骤</td>
        <td class="div-text-left">
          <select ng-model="searchData.custNo" ng-change="changeCust();">
            <option ng-repeat="item in custList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.custNo == item.value"></option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div id="search_info" class="row-fluid">
  <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/flow_money.png" alt="">
    流程审批记录
  </h1>
  <table class="div-width-100 table table-striped table-hover search-result main-list">
    <thead>
      <tr class="result-head">
        <td width="15%">审批节点</td>
        <td width="15%">审批机构</td>
        <td width="15%">审批人</td>
        <td width="15%">审批内容</td>
        <td width="15%">审批结果</td>
        <td width="15%">审批时间</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-end ng-class="{even:$even}" ng-repeat="item in infoList">
        <td ng-bind="item.name"></td>
        <td ng-bind="item.custName"></td>
        <td ng-bind="item.operator"></td>
        <td ng-bind="item.content"></td>
        <td ng-bind="item.result"></td>
        <td ng-bind="item.auditTime"></td>
      </tr>       
    </tbody>
    <tfoot>
      <td colspan="9">
        <div bt-pagination conf="listPage" func="queryList(false);"></div>
      </td>
    </tfoot>
  </table>
  
</div>