 .larger {
    height: 70px;
    display: block;
    padding-top: 30px;
    font-weight: bold;
    font-size: xx-large;
 }
  .header {
  background-color: #063c94;
	height: 66px;
	padding: 10px 20px 10px;
}
.header li {
  font-size: 14px;
  width: 33.3%;
  list-style: none;
  float: left;
	text-align: center;
}
.header li.active {
  color: white;
  background-image: url(../../../../../app/img/modal/bt-modal-air.png);
	background-position:100% 90%;
  background-repeat: no-repeat;
}
.header li .status {
	display: block;
	height: 25px;
	border-bottom: 1px solid black;
	background-image: url(../../../../../app/img/modal/bt-modal-circle.png);
	background-position:bottom center;
  background-repeat: no-repeat;
}
.header li.active .status {
	border-bottom-color: white;	
	background-image: url(../../../../../app/img/modal/bt-modal-circle-white.png);
} 