
<h4 class="text-center margin-tips orange_default">温馨提示</h4>

<div class="wid wid3">
    <p class="title">以下是您本次关联的保理机构：</p>
    <ul>
        <li ng-repeat="item in factorList">
            <a href="javascript:void(0)" class="gray9">
                <i ng-class="{mr5:true}"></i><!-- {{item.name}} -->
                <span class="gray9" ng-bind="item.name"></span>
            </a>
        </li>
    </ul>
</div>

<div class="butn butn2 bottom-holder">
    <a class="mui-btn mui-btn-primary" ng-click="applyAction($event.target);">确认开通</a>
</div>