	<div class="back-white margin-top-10">
		<div class="normal-list">
			<i class="new-icon big-icon-message"></i><!-- 
		--><div class="normal-content">
				<h4 ng-bind="detail.custName" class="font-14 gray3"></h4>
				<span class="gray6 font-10 margin-right-1" ng-bind="detail.sentDate"></span><!-- 
				 --><span class="gray6 font-10" ng-bind="detail.sentTime"></span>
			</div>
			<div class="background-gray tip-content">
				<div class="gray9" ng-bind="detail.subject"></div>
				<div class="gray3" id="content">		 
				</div>
			</div>	
		</div>	

	</div>
