	<div class="back-white margin-top-10">
		<div class="normal-list">
			<i class="new-icon big-icon-message"></i><!-- 
		--><div class="normal-content">
				<h4 ng-bind="detail.custName" class="font-14 gray3"></h4>
				<span class="gray6 font-10 margin-right-1" ng-bind="detail.publishDate"></span><!-- 
				 --><span class="gray6 font-10" ng-bind="detail.publishTime"></span>
			</div>
			<div class="background-gray tip-content">
				<div class="gray9 font-14 line-height-21" ng-bind="detail.subject"></div>
				<div class="gray6 " id="content">		 
				</div>
			</div>	
		</div>	
	</div>
