 <div id="container" class="container-fluid div-center">
        <div class="row-fluid">
            <div id="content" class="div-width-100">
                <div id="fund_search_way" class="row-fluid">
                    <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/fast_money.png" alt="">发票开票申请
                    </h1>
                    <table class="table table-striped table-bordered table-hover">
            <caption class="table-caption table-caption-green clearFix">
              <span class="title-left">申请信息</span>
            </caption>
            <tbody>
              <tr>
                <td width="20%">申请企业:</td>
                <td width="30%" class="div-text-left">
                    <span ng-bind="invoiceInfo.custName"></span>
                </td>
                <td width="20%">发票种类:</td>
                <td width="30%" class="div-text-left">
                  <span ng-bind="invoiceInfo.invoiceType | kindf:'commissionInvoiceType'"></span>
                </td>
              </tr>
              <tr>
                <td>金额:</td>
                <td class="div-text-left">
                   <span ng-bind="invoiceInfo.interestBalance"></span>
                </td>
                <td>税率:</td>
                <td class="div-text-left">
                    <span ng-bind="invoiceInfo.taxRate"></span>
                </td>
              </tr>             
              <tr>
                <td>税额:</td>
                <td class="div-text-left">
                    <span ng-bind="invoiceInfo.taxBalance"></span>
                </td>
                <td>价税合计:</td>
                <td class="div-text-left">
                  <span ng-bind="invoiceInfo.balance"></span>
                </td>
              </tr>                  
            </tbody>
        </table>
        <table class="table table-striped table-bordered table-hover">
            <caption class="table-caption table-caption-green clearFix">
              <span class="title-left">购买方信息</span>
            </caption>
            <tbody>
              <tr>
                <td width="20%">企业名称:</td>
                <td width="30%" class="div-text-left">
                    <span ng-bind="invoiceInfo.coreCustInvoiceInfo.coreCustName"></span>
                </td>
                <td width="20%">纳税人识别号:</td>
                <td width="30%" class="div-text-left">
                    <span ng-bind="invoiceInfo.coreCustInvoiceInfo.coreTaxPayerNo"></span>
                </td>
              </tr>
              <tr>
                <td>开户银行:</td>
                <td class="div-text-left">
                   <span ng-bind="invoiceInfo.coreCustInvoiceInfo.coreBank"></span>
                </td>
                <td>银行账号:</td>
                <td class="div-text-left">
                    <span ng-bind="invoiceInfo.coreCustInvoiceInfo.coreBankAccount"></span>
                </td>
              </tr>             
              <tr>
                <td>电 &nbsp;&nbsp;话:</td>
                <td class="div-text-left">
                    <span ng-bind="invoiceInfo.coreCustInvoiceInfo.corePhone"></span>
                </td>
                <td>地 &nbsp;&nbsp;址:</td>
                <td class="div-text-left">
                  <span ng-bind="invoiceInfo.coreCustInvoiceInfo.coreAddress"></span>
                </td>
              </tr>      
            </tbody>
        </table>
        <table class="table table-striped table-bordered table-hover">
            <caption class="table-caption table-caption-green clearFix">
              <span class="title-left">销售方信息</span>
            </caption>
            <tbody>
              <tr>
                <td width="20%">企业名称:</td>
                <td width="30%" class="div-text-left">
                    <span ng-bind="invoiceInfo.custInvoiceInfo.coreCustName"></span>
                </td>
                <td width="20%">纳税人识别号:</td>
                <td width="30%" class="div-text-left">
                    <span ng-bind="invoiceInfo.custInvoiceInfo.coreTaxPayerNo"></span>
                </td>
              </tr>
              <tr>
                <td>开户银行:</td>
                <td class="div-text-left">
                   <span ng-bind="invoiceInfo.custInvoiceInfo.coreBank"></span>
                </td>
                <td>银行账号:</td>
                <td class="div-text-left">
                    <span ng-bind="invoiceInfo.custInvoiceInfo.coreBankAccount"></span>
                </td>
              </tr>             
              <tr>
                <td>电 &nbsp;&nbsp;话:</td>
                <td class="div-text-left">
                    <span ng-bind="invoiceInfo.custInvoiceInfo.corePhone"></span>
                </td>
                <td>地 &nbsp;&nbsp;址:</td>
                <td class="div-text-left">
                  <span ng-bind="invoiceInfo.custInvoiceInfo.coreAddress"></span>
                </td>
              </tr>      
            </tbody>
        </table>
        <table class="table table-striped table-bordered table-hover">
            <caption class="table-caption table-caption-green clearFix">
              <span class="title-left">其他信息</span>
            </caption>
            <tbody>
              <tr>
                <td><strong class="red">*</strong> 发票内容:</td>
                <td class="div-text-left">
                  <input type="text" placeholder="请填写货物或应税劳务、服务名称" ng-model="invoiceInfo.invoiceContent">
                </td>
              </tr>
              <tr>
                <td width="20%">备 &nbsp;&nbsp;注:</td>
                <td width="30%" class="div-text-left">
                    <textarea style="min-width:650px; min-height:139px;max-width:650px; max-height:139px;" placeholder="请填写发票备注"  ng-model="invoiceInfo.description"></textarea>
                </td>
              </tr>
            </tbody>
        </table>
         <div class="center-buttons">
          <button class="btn btn-primary" ng-click="goadd($event.target);">提交</button>
          <button class="btn btn-primary" ng-click="goback()">返回</button>
        </div>
            </div>                 
        </div>
      </div>
    </div>