<div class="div-width-90 detail-box div-center">
  <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/operator.png" alt="">
    <span ng-show="info.state=='1'">账单确认</span>
    <span ng-show="info.state!='1'">账单投递详情</span>
  </h1>
  <div  class="row-fluid div-center div-margin-top">

    <table class="table table-striped table-hover table-bordered table-condensed big-input">
        <thead class="result-td-head result-head-green">
          <tr>
            <td colspan="4">基本信息</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="20%">
              <span class="title">投递企业:</span>
            </td>
            <td width="30%">
              <span ng-bind="info.custName"></span>
            </td>
            <td width="20%">
              <span class="title" >接收企业:</span>
            </td>
            <td width="30%">
              <span ng-bind="info.postCustName"></span>
            </td>
          </tr>
          <tr>
            <td width="20%">
              <span class="title" >投递编号:</span>
            </td>
            <td width="30%">
              <span ng-bind="info.refNo"></span>
            </td>
            <td width="20%">
              <span class="title" >投递时间:</span>
            </td>
            <td width="30%">
              <span ng-bind="info.postDate">222</span>
            </td>
          </tr>
          <tr>
            <td width="20%">
              <span class="title">账单总额(元):</span>
            </td>
            <td width="30%">
              <span ng-bind="info.totalBlance | moneyFilter"></span>
            </td>
            <td width="20%">
              <span class="title">金额大写(元):</span>
            </td>
            <td width="30%">
              <span>{{ info.totalBlance | moneybigf }}</span>
            </td>
          </tr>
          <tr>
            <td width="20%">
              <span class="title">状态:</span>
            </td>
            <td width="30%">
              <!-- <span ng-show="info.businStatus==1">待确认</span>
              <span ng-show="info.businStatus==2">确认完毕</span> -->
              <span ng-bind="info.businStatus | kindf:'deliveryRecordCoreCustStatus'"></span> 
            </td>
            <td width="20%">
              <span class="title">确认时间:</span>
            </td>
            <td width="30%">
              <span ng-bind="info.confirmDate"></span>
            </td>
          </tr>
        </tbody>
      </table>

       <table class="table table-striped table-hover table-bordered table-condensed big-input">
        <thead class="result-td-head result-head-green">
          <tr>
            <td>账单编号</td>
            <td>账单金额</td>
            <td>起始日期</td>
            <td>截止日期</td>
            <td>对账企业</td>
            <td>账单详情</td>
            <td>下载账单</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in info.recordStatementList" ng-repeat-end>
            <td width="15%">
               <a href="javascript:void(0);" ng-bind="item.monthlyStatementRefNo" ng-click="lookDetail($event.target,item.monthlyStatementId);"></a>
            </td>
            <td width="10%">
              <span ng-bind="item.interestBalance | moneyFilter">200</span>
            </td>
            <td width="10%">
              <span ng-bind="item.payBeginDate">200</span>
            </td>
            <td width="10%">
              <span ng-bind="item.payEndDate">200</span>
            </td>
            <td width="25%">
              <span ng-bind="item.ownCustName">200</span>
            </td>
            <td width="10%">
              <a href="javascript:void(0);" ng-click="lookDetail($event.target,item.monthlyStatementId);">查看详情</a>
            </td>
            <td width="10%">
              <a href="{{item.fileId|downf}}" download>下载</a>
            </td>
        </tbody>
      </table>

      <table class="table table-striped table-hover table-bordered big-input">
        <thead class="result-td-head result-head-green">
          <tr>
            <td colspan="2">备注信息</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="20%">备注</td>
            <td width="80%" class="div-text-left"><span ng-bind="info.description"></span></td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="center-buttons" >
        <button class="btn btn-primary" ng-click="ensureInfo($event.target,info.refNo)" ng-show="info.state=='1'">确认</button>
        <button class="btn btn-primary" bt-close-modal>返回</button>
    </div>

</div>
      