<!DOCTYPE html>
<html>

<head>
    <title>资料审核管理</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11" />
    <!-- LXUI -->
    <link rel="stylesheet" href="https://static.qiejf.com/better/l/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://static.qiejf.com/better/scf2/css/qiecom/custumer/dataAudite.css">
    <script type="text/javascript" src="https://static.qiejf.com/better/l/seajs/sea.js"></script>
    <script type="text/javascript" src="https://static.qiejf.com/better/base/config_ng.js"></script>
</head>

<body id="body">
    <div id="container" class="container-fluid div-center">
        <div class="row-fluid">
        <div id="content" ng-controller="mainController" class="div-width-100">
            <!-- <div id="fund_search_way" class="row-fluid">
                <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/fast_money.png" alt="">资料审核查询
                </h1>
                <table class="table table-condensed div-width-70 div-center search-table">
                  <tr>
                    <td width="25%">企业名称:</td>
                    <td width="75%" class="div-text-left">
                        <input type="text">
                    </td>
                  </tr>
                  <tr>
                    <td>申请日期:</td>
                    <td class="div-text-left date">
                      <input type="text" id="begin_date" bt-date="searchData.GTErequestDate">-
                      <input type="text" id="end_date" bt-date="searchData.LTErequestDate">
                    </td>
                  </tr> 
                </table>
                <div class="center-buttons">
                  <button class="btn btn-primary btn-bg-middle" ng-click="searchList();">查询</button>
                </div>
            </div> -->

            <div id="search_info" class="row-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="reqQuota">
                        <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/operator.png" alt="">
                        资料审核列表
                        </h1>
                        <table class="div-width-100 table table-striped table-hover search-result">
                            <thead>
                                <tr class="font-size-12 result-head">
                                    <td width="30%">企业名称</td>
                                    <td width="15%">企业法人</td>
                                    <td width="15%">申请人</td>
                                    <td width="20%">申请时间</td>
                                    <!-- <td width="15%">审核状态</td> -->
                                    <td width="18%">操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-class="{even:$even}" ng-repeat="item in accountList" ng-repeat-end>
                                    <td ng-bind="item.custName"></td>
                                    <td class="red" ng-bind="item.lawName"></td>
                                    <td ng-bind="item.operName"></td>
                                    <td ng-bind="item.regDate+' '+item.regTime"></td>
                                    <!-- <td ng-bind="item.businStatus"></td> -->
                                    <td>
                                        <a href="javascript:void(0);" ng-click="openDetailBox(item);" >审核</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <td colspan="6">
                                    <div bt-pagination conf="listPage" func="queryList(false);"></div>
                                </td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        
            <!-- 模板区域 -->
            <!-- 审核模板 -->
            <!-- <div id="audit_detail_box" bt-roll-modal="dataTemp/auditDetail.html" bt-z-index="9991"></div> -->
            <div id="audit_detail_box" bt-roll-modal="dataTemp/openAccountAudit.html" bt-z-index="9991"></div>

            <!-- 上传组件 -->
            <div bt-upload conf="uploadConf" ></div>
            
        </div>
        </div>

    </div>

    



    <!-- 引用js文件 -->
    <!--[if lt IE 9]>
      <script type="text/javascript">seajs.use('p/js/common/IErequire');</script>
  <![endif]-->
    <script type="text/javascript">
    // For development
      if (isBTTest) {
        seajs.use("scf2/js/qiecom/custumer/dataAudite");
      }
      // For production
      else {
        seajs.use("scf2/dist/qiecom/custumer/dataAudite");
      }
    </script>
</body>

</html>
