<div class="div-width-90 div-center detail-box">
  <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/operator.png" alt="">
    融资方案确认
  </h1>
  
  <table class="table table-striped table-hover table-bordered">
    <caption class="table-caption table-caption-green clearFix">
        <span class="title-left">基本信息</span>
        <button class="btn btn-info btn-right"  ng-click="showInfoDetail(financeInfo);">查看申请详情</button>
    </caption>
    <tbody>
    <tr>
      <td width="30%">融资企业:</td>
      <td width="70%" class="div-text-left red"><span ng-bind="financeInfo.custName"></span></td>
    </tr>
    <tr>
      <td width="30%">贷款金额:</td>
      <td width="70%" class="div-text-left red"><span ng-bind="financeInfo.balance"></span></td>
    </tr>
    <tr>
      <td width="30%">贷款期限:</td>
      <td width="70%" class="div-text-left">
        <span ng-bind="financeInfo.period"></span>
        <span ng-bind="financeInfo.periodUnit|kindf:'PeriodUnit'"></span>
      </td>
    </tr>
    <tr>
      <td width="30%">核心企业:</td>
      <td width="70%" class="div-text-left"><span ng-bind="financeInfo.coreCustName"></span></td>
    </tr>
    <tr>
      <td width="30%">保理产品:</td>
      <td width="70%" class="div-text-left"><span ng-bind="financeInfo.productName"></span></td>
    </tr>
    <tr>
      <td width="30%">确认状态:</td> 
      <!-- 核心企业确认状态 -->
      <td width="70%" class="div-text-left"><span ng-bind="financeInfo.tradeStatus|kindf:'FlowTypeDic' "></span></td>
    </tr>
    <tr>
      <td width="30%">授信类型:</td>
      <td width="70%" class="div-text-left"><span ng-bind="financeInfo.creditMode|kindf:'CreditMode'"></span></td>
    </tr>
    <tr>
      <td width="30%">申请类型:</td>
      <td width="70%" class="div-text-left"><span ng-bind="financeInfo.requestType|kindf:'RaiseCapitalType'"></span></td>
    </tr>
    <!-- 经销商才有保证金 -->
    <tr ng-show="financeInfo.requestType==4">
      <td width="30%">已交保证金:</td>
      <td width="70%" class="div-text-left"><span ng-bind="financeInfo.bondBalance"></span></td>
    </tr>
    </tbody>
  </table>

  




  <!-- 审批结果 -->
  <table class="table table-striped table-hover table-bordered">
     <caption class="table-caption table-caption-green clearFix">
       <span class="title-left">审批结果</span>
     </caption>
    <tbody>
        <tr>
          <td width="20%">申请金额:</td>
          <td width="30%" class="div-text-left">
            <span  ng-bind="loanInfo.requestBalance"></span> 
          </td>
          <td width="20%">审批金额:</td>
          <td width="30%" class="div-text-left"><span ng-bind="loanInfo.approvedBalance"></td>
        </tr>
        <tr>
          <td>申请期限:</td>
          <td class="div-text-left double_box">
            <span ng-bind="loanInfo.period"></span>
            <span ng-bind="loanInfo.periodUnit|kindf:'PeriodUnit' "></span>
          </td>
          <td>审批期限:</td>
          <td class="div-text-left double_box">
            <span ng-bind="loanInfo.approvedPeriod"></span>
            <span ng-bind="loanInfo.approvedPeriodUnit|kindf:'PeriodUnit' "></span>
          </td>
        </tr>
        <tr>
          <td>融资利率:</td>
          <td class="div-text-left"><span ng-bind="loanInfo.approvedRatio"></span>&nbsp;%</td>
          <td>其他费用利率:</td>
          <td class="div-text-left"><span ng-bind="loanInfo.approvedManagementRatio"></span>&nbsp;%</td>
        </tr>
        <tr>
          <td>手续费费率:</td>
          <td class="div-text-left"><span ng-bind="loanInfo.servicefeeRatio"></span>&nbsp;‰</td>
          <td>使用授信类型:</td>
          <td class="div-text-left">
            <span ng-bind="loanInfo.creditMode|kindf:'CreditMode' "></span>
          </td>
        </tr>
    </tbody>
  </table>




  <!-- 订单列表 -->
   <table id="order_list_table" class="div-width-100 table table-striped table-hover table-bordered" ng-show="linkedType=='order' && orderList.length!=0">
     <caption class="table-caption table-caption-green clearFix">
         <span class="title-left">订单列表</span>
     </caption>
     <thead>
       <tr class="result-head-gray">
         <td width="15%">订单编号</td>
         <td width="15%">订单金额</td>
         <td width="12.5%">结算方式</td>
         <td width="15%">核心企业</td>
         <td width="15%">产品名称</td>
         <td width="15%">订单日期</td>
         <!-- <td width="12.5%">是否使用</td> -->
         <td width="12.5%">操作</td>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="order in orderList" ng-repeat-end ng-class="{even:$even}">
         <td ng-bind="order.orderNo"></td>
         <td ng-bind="order.balance|moneyFilter"></td>
         <td ng-bind="order.settlement|kindf:'OrderSettleType'"></td>
         <td ng-bind="order.coreCustName"></td>
         <td ng-bind="order.goodsName"></td>
         <td ng-bind="order.orderDate"></td>
         <td>
           <a href="#" ng-click="showfactorProofDetail('order',order)" >查看详情</a>
         </td>
       </tr>
     </tbody>
   </table>

  
   <!-- 应收账款列表 -->
   <table id="recieve_list_table" class="div-width-100 table table-striped table-hover table-bordered" ng-show="linkedType=='recieve' && recieveList.length!=0">
     <caption class="table-caption table-caption-green clearFix">
         <span class="title-left">应收账款列表</span>
     </caption>
     <thead>
       <tr class="result-head-gray">
         <td width="15%">应收账款编号</td>
         <td width="13%">债权人</td>
         <td width="12%">债务人</td>
         <td width="10%">商品名称</td>
         <td width="10%">商品价格</td>
         <td width="10%">采购数量</td>
         <td width="10%">金额</td>
         <td width="10%">付款到期日期</td>
         <!-- <td width="10%">是否使用</td> -->
         <td width="10%">操作</td>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="item in recieveList" ng-repeat-end ng-class="{even:$even}">
         <td ng-bind="item.receivableNo"></td>
         <td ng-bind="item.debtor"></td>
         <td ng-bind="item.creditor"></td>
         <td ng-bind="item.goodsName"></td>
         <td ng-bind="item.unit"></td>
         <td ng-bind="item.amount"></td>
         <td ng-bind="item.balance|moneyFilter"></td>
         <td ng-bind="item.endDate"></td>
         <td>
           <a href="#" ng-click="showfactorProofDetail('recieve',item)" >查看详情</a>
         </td>
       </tr>
     </tbody>
   </table>

   <!-- 汇票列表 -->
   <table id="bill_list_table" class="div-width-100 table table-striped table-hover table-bordered" ng-show="linkedType=='bill' && billList.length!=0 ">
     <caption class="table-caption table-caption-green clearFix">
         <span class="title-left">汇票列表</span>
     </caption>
     <thead>
       <tr class="result-head-gray">
         <td width="16%">汇票编号</td>
         <td width="12%">汇票类型</td>
         <td width="12%">流通方式</td>
         <td width="12%">票据金额</td>
         <td width="12%">开票日期</td>
         <!-- <td width="11%">兑付日期</td> -->
         <td width="12%">融资标志</td>
         <td width="12%">票据状态</td>
         <!-- <td width="12%">是否使用</td> -->
         <td width="12%">操作</td>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="bill in billList" ng-repeat-end ng-class="{even:$even}">
         <td ng-bind="bill.billNo"></td>
         <td ng-bind="bill.billType|kindf:'BillNoteType'"></td>
         <td ng-bind="bill.billMode|kindf:'BillFlowMode'"></td>
         <td ng-bind="bill.balance|moneyFilter"></td>
         <td ng-bind="bill.invoiceDate"></td>
         <!-- <td ng-bind="bill.cashDate"></td> -->
         <td ng-bind="bill.financeFlag|kindf:'FinancingMark'"></td>
         <td ng-bind="bill.businStatus|kindf:'BillNoteStatus'"></td>
         <td>
           <a href="#" ng-click="showfactorProofDetail('draft',bill)" >查看详情</a>
         </td>
       </tr>
     </tbody>
   </table>


  <!-- 融资协议 -->
  <table class="table table-striped table-hover table-bordered" ng-show="contractList.length!=0">
      <caption class="table-caption table-caption-green clearFix">
        <span class="title-left">融资协议</span>
      </caption>
      <thead>
        <tr class="result-head-gray">
          <td width="10%">序号</td>
          <td width="20%">协议类型</td>
          <td width="50%">协议名称</td>
          <td width="20%">操作</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in contractList" ng-repeat-end ng-class="{even:$even}">
           <td ng-bind="$index + 1"></td>
           <td ng-bind="item.agreeType|kindf:'SignType' "></td>
           <td ng-bind="item.agreeName"></td>
           <td>
             <a href="" ng-click="showAgreeInfo(item);" >查看详情</a>
             <a href="{{item.appNo|elecf}}">下载</a>
           </td>
         </tr>
      </tbody>
  </table>

  
   <form action="" class="form-inline">
      <label for="">
        <span>确认转让债权:</span>
        <select name="" id="" ng-model="confirmResult">
           <option ng-repeat="item in confirmStatus" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="confirmResult==item.value"></option>
        </select>
      </label>

      <label for="" ng-show="confirmResult!=='2'">
          <!-- 输入验证码 -->
          <span>验证码:</span>
          <input id="identify" type="text" ng-model="identifyInfo.verifyCode">
          <button ng-show="identifyInfo.canSend" class="btn deep-gray" ng-click="sendIdentifyCode();">获取验证码</button>
          <!-- 读秒提示 -->
          <span class="count_down" ng-show="!identifyInfo.canSend" ng-bind="identifyInfo.timerMsg"></span>
      </label>
  </form>


  <!-- 发送验证提示 -->
  <div id="identify_box">
    <table  class="table table-striped table-condensed action_table">
        <tr ng-show="!identifyInfo.canSend">
          <td>
            <div class="alert success-alert">已向您的手机发送验证码，请注意查看！</div>
          </td>
        </tr>
    </table>  
  </div>


  <div class="center-buttons">
    <button class="btn btn-primary" ng-click="confirmLoanScheme($event.target);">确定</button>
    <button class="btn btn-primary" bt-close-modal >返回</button>
  </div>
</div>