

<div class="icon-grid">
	<h3 class="title">资产管理</h3>
	<ul class="clearfix">
		<li>
			<a href="#/billPool">
				<p>
					<i class="new-icon icon-pool"></i>
				</p>
				
				<span>票据池</span>
			</a>
		</li>		
		<li>
			<a href="#/tradeContract/list">
				<p>
					<i class="new-icon icon-contract"></i>
				</p>
				<span>合同</span>
			</a>
		</li>
		 <li>
			<a href="#/recieve">
				<p>
					<i class="new-icon icon-recieve"></i>
				</p>
				<span>应收账款</span>
			</a>
		</li>
		<!-- <li>
			<a href="">
				<p>
					<i class="new-icon icon-invoice"></i>
				</p>
				<span>发票</span>
			</a>
		</li>
		<li>
			<a href="">
				<p>
					<i class="new-icon icon-order"></i>
				</p>
				<span>订单</span>
			</a>
		</li> -->
	</ul>
</div>


<div class="icon-grid margin-top-10">
	<h3 class="title">业务办理</h3>
	<ul class="clearfix">
		<li>
			<a href="#/inquiry">
				<p>
					<i class="new-icon icon-ask"></i>
				</p>
				<span>询价</span>
			</a>
		</li>
		<li>
			<a href="#/lead/financing/">
				<p>
					<i class="new-icon icon-apply"></i>
				</p>
				
				<span>申请融资</span>
			</a>
		</li>
	</ul>
</div>


<div class="icon-grid margin-top-10">
	<h3 class="title">统计查询</h3>
	<ul class="clearfix">
		<li>
			<a href="#/financeSearch/pend">
				<p>
					<i class="new-icon icon-audit"></i>
				</p>
				<span>待批融资</span>
			</a>
		</li>
		<li>
			<a href="#/financeSearch/repay">
				<p>
					<i class="new-icon icon-repay"></i>
				</p>
				<span>融资还款</span>
			</a>
		</li>
		<li>
			<a href="#/financeSearch/history">
				<p>
					<i class="new-icon icon-text"></i>
				</p>
				<span>历史融资</span>
			</a>
		</li>
		<li>
			<a href="#/sign">
				<p>
					<i class="new-icon icon-sign"></i>
				</p>
				<span>我的签约</span>
			</a>
		</li>
	</ul>
</div>


<div class="icon-grid margin-top-10 margin-bottom-60">
	<h3 class="title">产品服务</h3>
	<ul class="clearfix">
		<li>
			<a href="#/product">
				<p>
					<i class="new-icon icon-product"></i>
				</p>
				<span>保理产品</span>
			</a>
		</li>
	</ul>
</div>


<!-- 底部 -->
<footer class="home-footer">
    <ul class="clearfix">
    	<li>
    		<div>
    			<i class="new-icon icon-finance-active"></i>
    		</div>
    		<span>融资</span>
    	</li>
    	<li ng-click="switch('invest')">
    		<div>
    			<i class="new-icon icon-invest"></i>
    		</div>
    		<span>投资</span>
    	</li>
    	<li ng-click="switch('single')">
    		<div>
    			<i class="new-icon icon-person"></i>
    		</div>
    		<span>个人</span>
    	</li>
    </ul>
</footer>