<div class="logo-box">
	<img src="img/e-u15.png" alt="">
</div>
<div class="width-90 marginauto">
		<span class="line-height-20 inline-block gray6 text_indent font-13"><i class="color-sblue">企e金服</i>是专注于企业金融服务的互联网金融服务平台，先由深圳市前海拜特互联网金融服务有限公司运营。平台核心成员均有在国内外知名的银行、证券、基金、互联网等企业服务的经历，积累了丰富的金融行业相关经验。母公司深圳市拜特科技股份有限公司，是国内领先的资金管理系统与服务提供商，专业从事资金管理领域的顾问咨询和软件开发及系统集成在内的整体资金管理解决方案和服务，已累计超过500家大型企业集团客户。企e金服平台专注于金融服务，目前提供企业金融服务涵盖理财、供应链金融等领域。<br>
		<i class="inline-block text_indent">秉承专业、客观、服务、共赢的企业文化，以企业客户需求为核心，打造一站式金融服务平台。</i>
		</span>
</div>
<div class="marginauto single-line back-white underline foot-compan">
	<a href="javascript:void(0);" >
		<p>
		</p>
		<i class="title">当前版本号</i>
		<i class="fotcent">v2.3.0</i>
	</a>
</div>
<a href="#/home/introduct" >
	<div class="marginauto single-line back-white underline foot-company">
			<p>
			</p>
			<i class="title">公司简介</i>
			<i class="detail new-icon icon-go-active"></i>
	</div>
</a>
<p class="text-center gray6 line-height-20 font-13 padding-bottom-70">
	<span>微信版&nbsp;|&nbsp;拜特科技<br>由前海拜特提供技术支持<br>粤ICP备15089713号-1</span>
</p>
