<div id="slider" class="mui-slider" >
    <div class="mui-slider-group mui-slider-loop">
        <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
        <div class="mui-slider-item mui-slider-item-duplicate">
            <a href="javascript:void(0);">
                <img src="images/cbd.jpg">
            </a>
        </div>
        <!-- 第一张 -->
        <div class="mui-slider-item">
            <a href="javascript:void(0);">
                <img src="images/cbd.jpg">
            </a>
        </div>
        <!-- 第二张 -->
        <div class="mui-slider-item">
            <a href="javascript:void(0);">
                <img src="images/cbd.jpg">
            </a>
        </div>
        <!-- 第三张 -->
        <div class="mui-slider-item">
            <a href="javascript:void(0);">
                <img src="images/cbd.jpg">
            </a>
        </div>
        <!-- 第四张 -->
        <div class="mui-slider-item">
            <a href="javascript:void(0);">
                <img src="images/cbd.jpg">
            </a>
        </div>
        <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
        <div class="mui-slider-item mui-slider-item-duplicate">
            <a href="javascript:void(0);">
                <img src="images/cbd.jpg">
            </a>
        </div>
    </div>
    <div class="mui-slider-indicator">
        <div class="mui-indicator mui-active"></div>
        <div class="mui-indicator"></div>
        <div class="mui-indicator"></div>
        <div class="mui-indicator"></div>
    </div>
</div>
<div class="pcit">
	<ul class="clearfix">
    	<li>
        	<a href="#/bill">
            	<p><i class="ico ico1"></i></p>
                <p class="ti">票据池</p>
                <p class="ci">百种新玩法</p>
            </a>
        </li>
        <li>
        	<a href="#/finance">
            	<p><i class="ico ico2"></i></p>
                <p class="ti">融资管理</p>
                <p class="ci">最低融资风险</p>
            </a>
        </li>
    </ul>
</div>
<div class="pOc no-hori-padding no-padding-top">
	<ul class="clearfix">
    	<li>
        	<a href="#/inquiry">
            	<p><i class="ico ico3"></i></p>
                <p class="ti">询价</p>
                <p class="ci">一键快速询价</p>
            </a>
        </li>
        <li>
        	<a href="#/sign">
            	<p><i class="ico ico4"></i></p>
                <p class="ti">签约管理</p>
                <p class="ci">用户签约便捷管理</p>
            </a>
        </li>
        <li>
        	<a href="#/product">
            	<p><i class="ico ico5"></i></p>
                <p class="ti">保理产品</p>
                <p class="ci">产品相关信息</p>
            </a>
        </li>
        <li>
        	<a href="flow.html#/flow/todoList">
            	<p><i class="ico ico15"></i></p>
                <p class="ti">事务处理</p>
                <p class="ci">用户事务便捷管理</p>
            </a>
        </li>
        <!-- <li>
        	<a href="#">
            	<p><i class="ico ico6"></i></p>
                <p class="ti">还款计划</p>
                <p class="ci">多重计划可选</p>
            </a>
        </li> -->
    </ul>
</div>

<!-- 页脚 -->

<footer class="am-footer am-footer-default">
    <div class="am-footer-switch">
    <span class="am-footer-ysp">
          微信版
    </span>
      <span class="am-footer-divider"> | </span>
      <a id="godesktop" data-rel="desktop" class="am-footer-desktop" href="http://www.bytter.com/">
          拜特科技
      </a>
    </div>
    <div class="am-footer-miscs ">

          <p>由 <a href="http://www.qiejf.com/" title="前海拜特"
                                                target="_blank" class="">前海拜特</a>
            提供技术支持</p>
        <p>粤ICP备15089713号-1</p>
    </div>
</footer>
