<div class="logo-box">
	<img src="img/ue-39.png" alt="">
</div>
<div class="width-90 marginauto">
		<span class="line-height-20 inline-block gray6 text_indent font-13"><i class="color-sblue">拜特科技</i>是国内领先的资金管理信息化系统与服务提供商,专业从事资金管理领域研究的顾问咨询和软件开发,面向企业集团、财务公司、银行及政府机构提供资金管理咨询、软件产品、项目开发与实施以及系统集成在内的整体解决方案和服务。<br>
		<i class="inline-block text_indent">拜特科技一直坚持“让资金管理得更好”的服务理念,拜特将继续凭借对客户的深刻理解和认知,怀着对“资金管理”第一品牌的追求与信念,为企业集团提供更先进、更完善的资金管理整体解决方案和优质的服务，让企业的资金管理得更好!</i>
		</span>
</div>
<div class="marginauto single-line back-white underline foot-compan">
	<a href="javascript:void(0);" >
		<p>
		</p>
		<i class="title">公司官网:http://www.bytter.com</i>
		<i class="detail new-icon icon-go-active"></i>
	</a>
</div>
<div class="marginauto single-line back-white underline foot-company">
	<a href="javascript:void(0);" >
		<p>
		</p>
		<i class="title">企e金服官网:http://www.qiejf.com</i>
		<i class="detail new-icon icon-go-active"></i>
	</a>
</div>
