<div class="bt-container">
	<div class="bt-title-header">
		<span>企鹅宝</span>
	</div>
	<div class="tabs-button">
		<button class="bt-btn" ng-click="queryList('01')" ng-class="{true: 'bt-btn-info', false: 'bt-btn-default'}[searchData.schemeType == '01']">活期宝</button>
		<button style="margin-left: -6px;" class="bt-btn" ng-click="queryList('02')"  
		ng-class="{true: 'bt-btn-info', false: 'bt-btn-default'}[searchData.schemeType == '02']">固定期限</button>
		<button style="margin-left: -6px;" class="bt-btn" ng-click="queryList('03')" 
		ng-class="{true: 'bt-btn-info', false: 'bt-btn-default'}[searchData.schemeType == '03']">高收益</button>
		<a class="bt-table-button new-item" ng-click="newItem($event)">添加新方案</a>
	</div>
	<table class="bt-table">
		<thead class="bt-table-header">
			<tr>
				<th width=15%>方案名称</th>
				<th width=10%>万份收益</th>
				<th width=10%>七日年化收益</th>
				<th width=10%>发布日期</th>
				<th width=10%>有效期</th>
				<th width=10%>类型</th>
				<th width=25%>描述</th>
				<th width=10%>操作</th>
			</tr>
		</thead>
		<tbody class="bt-table-body">
			<tr ng-repeat=" item in tableParams.rowData">
				<td ng-class="{'recom':item.firstChoice ==9}"><a class="bt-table-button" ng-click="lookItem(item,$event)">{{item.schemeName}}</a></td>
				<td>{{item.incomeUnit}}</td>
				<td>{{item.incomeRatio}}</td>
				<td>{{item.cDate}}</td>
				<td>{{item.validDate}}</td>
				<td class="bt-align-right">{{item.schemeType | currency:''}}</td>
				<td><span class="bt-table-status error"></span>已生效2</td>
				<td>
					<a class="bt-table-button" ng-disabled="item.firstChoice ==9" ng-click="setFirst(item,$event)">首选</a>
					<div class="bt-table-hr"></div>
					<a class="bt-table-button" ng-click="editItem(item,$event)">编辑</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="bt-search-page" bt-pager="tableParams"></div>
</div>