@charset "UTF-8";
/* 待收页面样式文件 */
@import "common/base";
@import "common/bootstrapplus";
@import "common/tooltip";
@import "common/pie";
@import "common/pages";

#container{
	@include init;
	@include deep-blue-border;
	@include line-checkbox;
	// @include td-line-checkbox;
	@include line-hover;
	@include div-width(100%);
	@include plus-ie-css3;
	@include Spage_plugin; 
}

#content{
	@include plus-nav-tabs;
	@include center-buttons;
	@include td-input-width(42% , 44%);
	@include td-pack-align(center,middle);
	@include content-title(15px);
	@include div-line;
	@include div-text-align;
	@include double-check;
}

//行内查询样式
#order_select_box {
	.search-form-inline{
		background-color:#EEE;
		font-size:12px;
		span,select,input,button{
			font-size: 12px;
		}
	}
} 

#successBox .alert-success{
	padding-left:40%;
	margin-top:10px;
}


