<!DOCTYPE html>
<html>
  <head>
    <title>应付账款管理</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11" />
    <!-- LXUI -->
    <link rel="stylesheet" href="https://static.qiejf.com/better/l/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://static.qiejf.com/better/scf2/css/core/recieve/coreRecieveManage.css">
    <script type="text/javascript" src="https://static.qiejf.com/better/l/seajs/sea.js"></script>
    <script type="text/javascript" src="https://static.qiejf.com/better/base/config_ng.js"></script>

  </head>
  <body id="body">
  	<div id="container" class="container-fluid div-center">
  		<div class="row-fluid">
  			<div id="content" ng-controller="mainController" class="span12">

          <div id="fund_search_way" class="row-fluid">
            <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/fast_money.png" alt="">应付账款管理
            </h1>
            <table class="table table-condensed div-width-70 div-center search-table">
              <tr>
               <td width="30%">核心企业:</td>
               <td width="70%" class="div-text-left">
                 <select ng-model="searchData.coreCustNo" ng-change="changeQueryCust();">
                   <option ng-repeat="item in coreCustList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.coreCustNo == item.value"></option>
                 </select>
               </td>
              </tr>
              <tr>
               <td width="30%">供应商:</td>
               <td width="70%" class="div-text-left">
                 <select ng-model="searchData.custNo">
                   <option ng-repeat="item in custList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.custNo == item.value"></option>
                 </select>
               </td>
              </tr>
              <tr>
                <td>应付账款编号:</td>
                <td class="div-text-left">
                  <input type="text" ng-model="searchData.receivableNo">
                </td>
              </tr>
              <tr>
                <td>付款到期日期:</td>
                <td class="div-text-left date">
                  <input type="text" id="begin_date" bt-date="searchData.GTEendDate" bt-max-date="end_date">-
                  <input type="text" id="end_date" bt-date="searchData.LTEendDate" bt-min-date="begin_date">
                </td>
              </tr>
            </table>
            <div class="center-buttons">
              <button class="btn btn-primary btn-bg-middle" ng-click="searchList();">查询</button>
            </div>
          </div>

          <div id="search_info" class="row-fluid">
            <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/flow_money.png" alt="">
              应付账款列表
            </h1>
            <form class="form-inline">  
                <label><button type="button" class="btn btn-info" ng-click="addInfoBox({});">+添加应付账款</button></label>
            </form>
            <table class="div-width-100 table table-striped table-hover search-result main-list">
              <thead>
                <tr class="result-head">
                  <td width="12%">应付账款编号</td>
                  <td width="12%">债权人</td>
                  <td width="13%">债务人</td>
                  <td width="11%">商品名称</td>
                  <td width="10%">商品价格</td>
                  <td width="10%">采购数量</td>
                  <td width="10%">金额</td>
                  <td width="10%">付款到期日期</td>
                  <td width="10%">操作</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat-end ng-class="{even:$even}" ng-repeat="item in infoList">
                  <td ng-bind="item.receivableNo"></td>
                  <td ng-bind="item.creditor"></td>
                  <td ng-bind="item.debtor"></td>
                  <td ng-bind="item.goodsName"></td>
                  <td class="red tab-text-right" ng-bind="item.unit"></td>
                  <td ng-bind="item.amount"></td>
                  <td class="tab-text-right"><strong class="red" ng-bind="item.balance|moneyFilter"></strong></td>
                  <td ng-bind="item.endDate"></td>
                  <td>
                    <p class="no-margin-bottom"><span ng-show="mainListCtrl.isCanRead(item)"><a href="javascript:void(0);" ng-click="detailInfoBox(item);">查看</a></span></p>
                    <p class="no-margin-bottom"><span ng-show="mainListCtrl.isCanDo(item)" ><a href="javascript:void(0);" ng-click="editInfoBox(item);">编辑</a></span></p>
                    <p class="no-margin-bottom"><span ng-show="mainListCtrl.isCanDo(item)" ><a href="javascript:void(0);" ng-click="aduitInfoBox(item);">审核</a></span></p>
                  </td>
                </tr>           
              </tbody>
              <tfoot>
                <td colspan="9">
                  <div bt-pagination conf="listPage" func="queryList(false);"></div>
                </td>
              </tfoot>
            </table>
            
          </div>

        
        <!-- 应付账款新增 -->
        <div id="add_box" bt-roll-modal="temp/recieveAdd.html" bt-z-index="6661"></div>

        <!-- 应付账款详情 -->
        <div id="detail_box" bt-roll-modal="temp/recieveDetail.html" bt-z-index="6661"></div>

        <!-- 应付账款编辑 -->
        <div id="edit_box" bt-roll-modal="temp/recieveEdit.html" bt-z-index="6661"></div>


        <!-- 附件上传 start -->
        <div bt-upload conf="uploadConf" ></div>

        
  			</div>
  		</div>

  	</div>





	<!-- 引用js文件 -->
	<!--[if lt IE 9]>
	    <script type="text/javascript">seajs.use('p/js/common/IErequire');</script>
	<![endif]-->
	<script type="text/javascript">
    // For development
      if (isBTTest) {
        seajs.use("scf2/js/core/recieve/coreRecieveManage");
      }
      // For production
      else {
        seajs.use("scf2/dist/core/recieve/coreRecieveManage");
      } 
  </script>
  </body>
</html>