<div class="bt-container">
  <div class="bt-title-header">
    <span>时间控件展示</span>
  </div>
  <div class="bt-title-card">
    <span class="icon"></span>基本用法
  </div>
  <div class="bt-form-group">
    <div class="bt-form-input">
      <input class="bt-date" ng-model="searchData.GTEregDate1" bt-date>
    </div>
  </div>
  <div class="bt-title-card">
    <span class="icon"></span>回调函数
  </div>
  <div class="bt-form-group">
    <div class="bt-form-input">
      <input class="bt-date" ng-model="searchData.GTEregDate2" bt-date callback="callback()">
    </div>
  </div>
</div>