<div class="pjce">
    <ul>
        <li>
            <!-- <p><span>授信核心企业：</span>{{info.buyer}}</p>
            <p><span>商业汇票号：</span>{{info.billNo}}</p>
            <p><span>票据流通方式：</span>{{info.billMode|kindf:'BillMode'}}</p>
            <p><span>有效期：</span>{{info.invoiceDate}} 到 {{info.endDate}}</p>
            <p><span>金融机构：</span>{{info.factorName}}</p>
            <p><span>保理产品：</span>{{info.productName}}</p>
            <p><span>融资金额(元)：</span>{{info.balance}}</p> -->
            <p><span>协议：</span>{{info.agreeName}}</p>
            <p><span>协议编号：</span>{{info.agreeNo}}</a>
            </p>
            <!-- <p><span>协议签署日期：</span>{{info.signDate}}</p> -->

            
        </li>
        <li><p ng-show="contractInfo"><img ng-click="showAllImage()" width="100%" src="{{contractInfo[0]}}" alt=""></p></li>
    </ul>
</div>

<div class="pBtnc">
    <a href="javascript:void(0)" ng-click="skipSign();">签约记录</a>
</div>