<div class="bt-container">
  <div class="bt-title-header">
    <span>活期宝申购</span>
  </div>
  <div class="header">
    <ul>
      <li class="active"><span>选基金</span><span class="status"></span></li>
      <li class="active"><span>确认金额</span><span class="status"></span></li>
      <li class="active"><span>预览</span><span class="status"></span></li>
      <li class="active last"><span>完成</span><span class="status"></span></li>
    </ul>
  </div>
  <div class="bt-title-card">
    <span class="icon"></span>完成
  </div>
  <div class="alert-success">
    <p>申购<span class="bt-red" ng-bind="purchaseInfo.balance"></span>元<span class="bt-red"
        ng-bind="purchaseInfo.fundName"></span>的申请已提交</p>
    <p>支付信息:<span ng-bind="purchaseResult.message"></span></p>
    <p><span class="bt-red"> 注:申购交易已经完成,请提醒复核人员复核!</span></p>
    <p><span> 收款银行账户: <span class="bt-red" ng-bind="purchaseResult.bankAccount"></span></span>
    </p>
    <p><span> 收款账户名称: <span class="bt-red" ng-bind="purchaseResult.bankAcountName"></span></span>
    </p>
    <p><span> 收款银行: <span class="bt-red" ng-bind="purchaseResult.bankName"></span></span>
    </p>
  </div>
  <div class="center">
    <button class="bt-btn bt-btn-confirm" ng-click="toIndexPage(1)">返回首页</button>
    <button class="bt-btn bt-btn-confirm" ng-click="toIndexPage(1)">查看基金产品</button>
  </div>
  <div class="bt-prompt-header">
    <span>温馨提示</span>
  </div>
  <div class="bt-prompt-content">
    <p>1.您选择“其他基金”访问的页面将跳转至天天基金网，该网站是本司的第三方合作平台，为您提供更多样的基金产品服务。如有疑问可致电我司客服热线：0755-33000719</p>
    <p>2.若使用汇款交易：客户需承担网银转账费用，建议购买2万元以上的大额申购使用。</p>
    <p>3.请注意交易资金的到账截止时间为T日15:00，客户需提前汇款。</p>
    <p>4.请务必使用您选择的充值渠道进行汇款，如使用其他银行卡将造成资金不能匹配、申请交易无效。</p>
  </div>
</div>