<!DOCTYPE html>
<html>
  <head>
    <title>机构列表</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11" />
    <!-- LXUI -->
    <link rel="stylesheet" href="https://static.qiejf.com/better/l/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://static.qiejf.com/better/scf2/css/supplier/info/agencyList.css">
    <script type="text/javascript" src="https://static.qiejf.com/better/l/seajs/sea.js"></script>
    <script type="text/javascript" src="https://static.qiejf.com/better/base/config_ng.js"></script>

  </head>
  <body id="body">
    <div id="container" class="container-fluid div-center">
      <div class="row-fluid">
        <div id="content" ng-controller="mainController" class="span12">
        
         <div id="search_info" class="row-fluid">
            <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/flow_money.png" alt="">
              机构列表
            </h1>
            <table class="div-width-100 table table-striped table-hover search-result">
              <thead>
                <tr class="result-head">
                  <td width="50%">企业名称</td>
                  <!-- <td width="20%">企业法人</td>
                  <td width="20%">审核状态</td> -->
                  <td width="25%">基本信息</td>
                  <td width="25%">经营信息</td>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="agency in agencyList" ng-repeat-end ng-class="{even:$even}">
                  <td class="red" ng-bind="agency.custName"></td>
                  <!-- <td></td>-->
                  <td><span><a href="javascript:void(0);" ng-click="cacheCustInfo(agency,'basicInfo.html');">查看基本信息</a></span></td> 
                  <td><span><a href="javascript:void(0);" ng-click="cacheCustInfo(agency,'businessInfo.html');">查看经营信息</a></span></td>
                </tr>
              </tbody>
              <!-- <tfoot>
                <td colspan="6">
                  <div bt-pagination conf="pageConf" func="$scope.reFreshAgencyList(false);"></div>
                </td>
              </tfoot> -->
            </table>
            
          </div>


        </div>
      </div>

    </div>


<!-- 引用js文件 -->
  <!--[if lt IE 9]>
      <script type="text/javascript">seajs.use('p/js/common/IErequire');</script>
  <![endif]-->
  <script type="text/javascript">
    // For development
      if (isBTTest) {
        seajs.use("scf2/js/supplier/info/agencyList");
      }
      // For production
      else {
        seajs.use("scf2/dist/supplier/info/agencyList");
      } 
  </script>
  </body>
</html>