<div class="div-width-90 detail-box div-center">

    <div class="div-center div-width div-margin-top">

     <!-- 融资信息 -->

     <table class="table table-striped table-hover ">
         <caption class="table-caption table-caption-green clearFix table-caption-noborder">
           <span class="title-left">融资列表</span>
           <button class="btn btn-info btn-right"  ng-click="openAddBox('financing');">+添加</button>
         </caption>
       <thead>
         <tr class="result-head-gray">
           <td width="13%">授信额度</td>
           <td width="13%">融资余额</td>
           <td width="13%">担保方式</td>
           <td width="13%">融资机构</td>
           <td width="13%">业务模式</td>
           <td width="13%">融资到期日</td>
           <td width="18%">操作</td>
         </tr>
       </thead>
       <tbody>
          <tr ng-repeat="item in financingList" ng-repeat-end ng-class="{even:$even}">
           <td ng-bind="item.creditLimit"></td>
           <td ng-bind="item.balance "></td>
           <td ng-bind="item.guaranteeType|kindf:'GuaranteeType' "></td>
           <td ng-bind="item.businType "></td>
           <td ng-bind="item.financingOrg "></td>
           <td ng-bind="item.expireDate"></td>
           <td>
             <span class="deep-gray">暂无</span>
           </td>
         </tr>
       </tbody>
        <tfoot>
            <td colspan="7">
              <div bt-pagination conf="financingPage" func="queryOperateList(false,'financing')" ></div>
            </td>
        </tfoot>
     </table>

    </div>
    
</div> 
