      
<div id="openAccountAudit" class="div-width-90 div-center detail-box">
  <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/operator.png" alt="">
    平台审核
  </h1>
  <div  class="row-fluid div-center div-margin-top">

      <table class="table table-striped table-hover table-bordered big-input">
        <thead class="result-td-head result-head-green">
          <tr>
            <td colspan="3">基本资料</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="30%" class="div-text-right">
              <span class="required">*</span>
              <span class="title">申请机构名称:</span>
            </td>
            <td width="70%"><input type="text" ng-model="info.custName"/></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">组织机构代码:</span>
            </td>
            <td><input type="text" ng-model="info.orgCode"/></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">税务登记证号码:</span>
            </td>
            <td><input type="text" ng-model="info.taxNo"/></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">营业执照号码:</span>
            </td>
            <td><input type="text" ng-model="info.businLicence"/></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">营业执照有效期:</span>
            </td>
            <td>
              <input type="text" ng-model="info.businLicenceValidDate"/>
            </td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">业务联系电话:</span>
            </td>
            <td><input type="text" ng-model="info.phone"/></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">传真:</span>
            </td>
            <td><input type="text" ng-model="info.fax"/></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">邮政编码:</span>
            </td>
            <td><input type="text" ng-model="info.zipCode"/></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">办公地址:</span>
            </td>
            <td><input type="text" ng-model="info.address"/></td>
          </tr>
        </tbody>
      </table>


      <table class="table table-striped table-hover table-bordered big-input">
        <thead class="result-td-head result-head-green">
          <tr>
            <td colspan="3">账户信息</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="30%" class="div-text-right">
              <span class="required">*</span>
              <span class="title">银行账户名称:</span>
            </td>
            <td width="70%"><input type="text" ng-model="info.bankAccoName"/></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">银行账号:</span>
            </td>
            <td><input type="text" ng-model="info.bankAcco"/></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="title">开户许可证核准号:</span>
            </td>
            <td><input type="text" ng-model="info.openLicense"/></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">所属银行:</span>
            </td>
            <td>
                <select ng-model="info.bankNo">
                  <option ng-repeat="item in bankList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="info.bankNo == item.value"></option>
                </select>
            </td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">开户行全称:</span>
            </td>
            <td>
              <input type="text" ng-model="info.bankName"/>
            </td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">开户行所在地:</span>
            </td>
            <td class="double-select">
              <select ng-model="info.provinceNo">
                <option value="">请选择省份</option>
                <option ng-repeat="item in provinceList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="info.provinceNo == item.value"></option>
              </select>
              <select ng-model="info.bankCityno">
                <option value="">请选择城市</option>
                <option ng-repeat="item in cityList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="info.bankCityno == item.value"></option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>


      <table class="table table-striped table-hover table-bordered big-input">
        <thead class="result-td-head result-head-green">
          <tr>
            <td colspan="3">法定代表人/负责人信息</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="30%" class="div-text-right">
              <span class="required">*</span>
              <span class="title">姓名:</span>
            </td>
            <td width="70%"><input type="text" ng-model="info.lawName"/></td>
          </tr>
          <tr>
            <td class="div-text-right">
            <span class="required">*</span>
              <span class="title">证件类型:</span>
            </td>
            <td>
              <select ng-model="info.lawIdentType" ng-change="$emit('ngRepeatFinished')">
                <option ng-repeat="item in lawIdentTypeList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="info.lawIdentType  == item.value"></option>
              </select>
            </td>
            <td class="div-text-left"><span class="info"></span></td>
          </tr>
          <tr ng-show="info.lawIdentType==7 ">
            <td width="20%" class="div-text-right">
              <span class="title">证件类型名称:</span>
            </td>
            <td width="40%"><input type="text" ng-model="info.lawOtherIdentType"></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">证件号码:</span>
            </td>
            <td>
              <input type="text" ng-model="info.lawIdentNo"/>
            </td>
          </tr>
           <tr>
             <td class="div-text-right">
              <span class="required">*</span>
               <span class="title">证件有效期:</span>
             </td>
             <td>
               <input type="text" ng-model="info.lawValidDate"/>
             </td>
           </tr>
        </tbody>
      </table>

      <table class="table table-striped table-hover table-bordered big-input">
        <thead class="result-td-head result-head-green">
          <tr>
            <td colspan="3">经办人信息</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="30%" class="div-text-right">
              <span class="required">*</span>
              <span class="title">姓名:</span>
            </td>
            <td width="70%">
              <input type="text" ng-model="info.operName "/>
            </td>
          </tr>
          <tr>
            <td class="div-text-right">
            <span class="required">*</span>
              <span class="title">证件类型:</span>
            </td>
            <td>
              <select ng-model="info.operIdenttype" ng-change="$emit('ngRepeatFinished')">
                <option ng-repeat="item in operIdenttypeList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="info.operIdenttype  == item.value"></option>
              </select>
            </td>
            <td class="div-text-left"><span class="info"></span></td>
          </tr>
          <tr ng-show="info.operIdenttype==7 ">
            <td width="20%" class="div-text-right">
              <span class="title">证件类型名称:</span>
            </td>
            <td width="40%"><input type="text" ng-model="info.operOtherIdenttype"></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">证件号码:</span>
            </td>
            <td><input type="text" ng-model="info.operIdentno"/></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">证件有效期:</span>
            </td>
            <td><input type="text" ng-model="info.operValiddate"/></td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">手机号码:</span>
            </td>
            <td>
              <input type="text" ng-model="info.operMobile"/>
            </td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">电子邮箱:</span>
            </td>
            <td>
              <input type="text" ng-model="info.operEmail"/>
            </td>
          </tr>
          <tr>
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">联系电话:</span>
            </td>
            <td>
              <input type="text" ng-model="info.operPhone"/>
            </td>
          </tr>
          <tr>  
            <td class="div-text-right">
              <span class="required">*</span>
              <span class="title">传真:</span>
            </td>
            <td>
              <input type="text" ng-model="info.operFaxNo"/>
            </td>
          </tr>
        </tbody>
      </table>

      
      <!-- 附件列表 -->
     <table class="table table-striped table-hover table-bordered">
          <caption class="table-caption table-caption-green clearFix">
            <span class="title-left">开户资料清单</span>
          </caption>
          <thead>
          <tr class="result-head-gray">
            <td width="30%">附件类型</td>
            <td width="40%">附件名称</td>
            <td width="30%">操作</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in childUploadList" ng-repeat-end>
            <td class="div-text-right"><span ng-bind="item.fileInfoType|kindf:'CustOpenAccountFile'"></span></td>
            <td ng-bind="item.fileName"></td>
            <td>
              <a href="javascript:void(0);" ng-show="!item.id" ng-click="openUploadCopy($event,item.fileInfoType,'childUploadList');">上传</a>
              <a href="{{item.id|downf}}" ng-show="item.id">下载</a>
              <a href="javascript:void(0);" ng-show="item.id" ng-click="delUploadItemCopy(item,'childUploadList');">移除</a>
            </td>
          </tr>
            
        </tbody>
      </table>


      <div class="center-buttons" >
          <button class="btn btn-primary"  ng-click="auditAccountPass($event.target);">确认开户</button>
          <button class="btn btn-primary"  ng-click="saveAccountInfo($event.target);">保存</button>
          <button class="btn btn-primary" bt-close-modal>返回</button>
      </div>


    </div>

</div>
      