<div id="search_info" class="row-fluid">
  <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/flow_money.png" alt="">
    业务类型维护
  </h1>
  <table class="div-width-100 table table-striped table-hover search-result main-list">
    <thead>
      <tr class="result-head">
        <td width="20%">业务类型编号</td>
        <td width="15%">业务类型名称</td>
        <td width="25%">授信标识</td>
        <td width="40%">备注</td>        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-end ng-class="{even:$even}" ng-repeat="item in infoList">
        <td ng-bind="item.code"></td>
        <td ng-bind="item.name"></td>
        <td ng-bind="item.creditFlag| kindf :'BusinessTypeCredit'"></td>
        <td ng-bind="item.comments"></td>       
      </tr>  
            
    </tbody>
  </table>
  
</div>