
    <div id="container" class="container-fluid div-center">
        <div class="row-fluid">
            <div id="content" class="div-width-100">
                <div id="fund_search_way" class="row-fluid">
                    <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/fast_money.png" alt="">融资产品查询
                    </h1>
                    <table class="table table-condensed div-width-70 div-center search-table">     
                            <tr>
                                <td width="25%">操作机构:</td>
                                <td width="75%" class="div-text-left">
                                  <select ng-model="searchData.coreCustNo">
                                    <option ng-repeat="item in coreCustList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.coreCustNo == item.value"></option>
                                  </select>
                                </td>
                            </tr> 
                            <tr>
                                <td width="25%">保理机构:</td>
                                <td width="75%" class="div-text-left">
                                  <select ng-model="searchData.factorNo">
                                    <option value="">----所有----</option>
                                    <option ng-repeat="item in factorList" ng-option-filter value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.factorNo == item.value"></option>
                                  </select>
                                </td>
                            </tr>
                            <tr>
                                <td width="25%">输入产品编号:</td>
                                <td width="75%" class="div-text-left">
                                   <input type="text" ng-model="searchData.productCode" id="searchData.productCode">
                                </td>
                            </tr>                         
                        
                                           
                    </table>
                    <div class="center-buttons">
                      <button class="btn btn-primary btn-bg-middle" ng-click="searchList();">查询</button>
                    </div>
                </div>

            <div id="search_info" class="row-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="reqQuota">
                        <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/operator.png" alt="">
                        产品列表
                        </h1>
                        <table class="div-width-100 table table-striped table-hover search-result main-list">
                            <thead class="result-head">
                                <tr class="font-size-12 info-title">
                                    <td width="11%">产品编号</td>
                                    <td width="13%">产品名称</td>
                                    <td width="10%">保理类型</td>
                                    <td width="8%">融资类型</td>
                                    <td width="12%">通用利率(%)</td>
                                    <td width="10%">融资限额</td>
                                    <td width="12%">核心企业授信</td>
                                    <td width="12%">录入日期</td>                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-class="{even:$even}" ng-repeat="item in infoList" ng-repeat-end>
                                    <td>
                                        <a href="javascript:void(0);" ng-click="detailCoreBox(item);" ng-bind="item.productCode"></a>
                                    </td>
                                    <td ng-bind="item.productName"></td>
                                    <td ng-bind="item.factorType|kindf:'FactorType'"></td>
                                    <td ng-bind="item.financeType|kindf:'FinanceType'"></td>
                                    <td><strong class="red" ng-bind="item.ratio"></strong></td>
                                    <td class="red">
                                       <span ng-bind="item.minFactorAmmount|moneyFilter"></span> ~ 
                                       <span ng-bind="item.maxFactorAmmount|moneyFilter"></span>
                                    </td>
                                    <td ng-bind="item.coreCredict|kindf:'CoreCredict'"></td>
                                    <td ng-bind="item.regDate"></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <td colspan="10">
                                    <div bt-pagination conf="listPage" func="queryList(false);"></div>
                                </td>
                            </tfoot>
                        </table>
                    </div>
                <!-- 温馨提示END -->

                <!-- 模板区域 -->
                <!-- 新增产品模板 -->
               <!--  <div id="add_box" bt-roll-modal="template/2_3/factoring/temp/basicInfoAll.html" bt-z-index="9991"></div> -->
               <div id="checkCore" bt-roll-modal="template/2_3/factoring/temp/coreDetailBox.html" bt-z-index="9991"></div>

         <!--   修改产品模板
         <div id="edit_box" bt-roll-modal="temp/modifyProduct.html" bt-z-index="9991"></div> -->

            </div>
        </div>
    </div>



