<div class="single-line back-white underline margin-top-10 padding-vertical-3" ng-click="skipSecurity()">
	<a href="#/more/security">
		<p>
			<i class="new-icon icon-tool"></i>
		</p>
		<i class="title black padding-left-12">账户与安全</i>		
		<i class="detail new-icon icon-go gray9"></i>
	</a>
</div>
<div class="single-line back-white underline padding-vertical-3" ng-click="skipCompany()">
	<a href="#/home/company">
		<p>
			<i class="new-icon icon-info"></i>
		</p>
		<i class="title black padding-left-12">关于我们</i>		
		<i class="detail new-icon icon-go gray9"></i>
	</a>
</div>