<div class="single-line margin-top-10 back-white underline padding-vertical-3">
	<a href="javascript:void(0);">
		<p>
			<i class="new-icon icon-account"></i>
		</p>
		<i class="title black padding-left-12">企e金服账号</i>
		<i class="content gray9" ng-bind="info.operCode"></i>
		
	</a>
</div>

<div class="single-line back-white underline padding-vertical-3">
	<a href="javascript:void(0);">
		<p>
			<i class="new-icon icon-phone"></i>
		</p>
		<i class="title black padding-left-12">手机号</i>
		<i class="content gray9" ng-bind="info.mobileNo"></i>
		<i class="detail new-icon icon-go gray9"></i>
	</a>
</div>

<div class="single-line back-white underline padding-vertical-3">
	<a href="javascript:void(0);">
		<p>
			<i class="new-icon icon-email"></i>
		</p>
		<i class="title black padding-left-12">邮箱</i>
		<i class="content gray9" ng-bind="info.email"></i>
		
	</a>
</div>

<div class="single-line back-white underline padding-vertical-3">
	<a href="javascript:void(0);">
		<p>
			<i class="new-icon icon-lock"></i>
		</p>
		<i class="title black padding-left-12">密码设置</i>		
		<i class="detail new-icon icon-go gray9"></i>
	</a>
</div>