<div class="top-box">
    <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="img/operator.png" alt="">
    标准合同停用
  </h1>
    <table class="table table-striped table-hover table-bordered big-input">
       <!--  <thead class="result-td-head result-head-green">
            <tr>
                <td colspan="3" class="div-text-center-prio">标准合同停用</td>
            </tr>
        </thead> -->
        <tbody>
            <tr>
                <td width="30%" class="div-text-right">
                    <span class="title">合同类型:</span>
                </td>
                <td width="70%" ng-bind="info.typeIdName">
                </td>
            </tr>
            <tr>
                <td class="div-text-right">
                    <span class="title">标准合同编号:</span>
                </td>
                <td class="red" ng-bind="info.id"></td>
            </tr>
            <tr>
                <td class="div-text-right">
                    <span class="title">标准合同名称:</span>
                </td>
                <td ng-bind="info.name"></td>
            </tr>
            <tr>
                <td class="div-text-right">
                    <span class="title">备注:</span>
                </td>
                <td ng-bind="info.description">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                  <div class="alert alert-success div-text-left no-margin-bottom">
                    提示：停用后将导致该标准合同无法签署，请谨慎使用该功能！
                  </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="center-buttons">
      <button class="btn btn-primary" type="button" ng-click="disable($event.target);">停用</button>
      <button class="btn btn-primary" type="button" ng-click="goBack();">返回</button>
    </div>
</div>
