<div class="top-box">
  <h1 class="content-title-1 content-title-condensed content-title-blue div-margin-bottom-none"><img src="img/operator.png" alt="">
    标准合同类型
  </h1>

  <div class="row-fluid">
      <table class="table table-condensed div-width-70 div-center search-table">
        <tr>
          <td width="25%">合同类型:</td>
          <td width="75%" class="div-text-left">
          <select ng-model="searchData.typeId">
            <option value="">---全部类型---</option>
            <option ng-repeat="item in List" ng-option-filter value="{{item.id}}" ng-bind="item.agreementTypeName" ng-selected="searchData.typeId == item.value"></option>
          </select>
          </td>
        </tr>
      </table>
      <div class="center-buttons">
        <button class="btn btn-primary btn-bg-middle" ng-click="queryList(true);">查询</button>
      </div>
  </div>

  <div>
    <h1 class="content-title-1 content-title-condensed content-title-blue div-margin-bottom-none"><img src="img/operator.png" alt="">
      标准合同类型列表
    </h1>

    <table class="div-width-100 table table-striped table-hover search-result main-list">
        <thead>
            <tr class="result-head">
              <td width="10%">标准合同编号</td>
              <td width="30%">标准合同名称</td>
              <td width="20%">合同类型</td>
              <td width="20%">业务类型</td>
            </tr>
        </thead>
        <tbody>
          <tr ng-class="{even:$even}" ng-repeat="item in infoList" ng-repeat-end>
            <td class="red" ng-bind="item.code"></td>
            <td ng-bind="item.name"></td>
            <td ng-bind="item.typeIdName"></td>
            <td ng-bind="item.businTypeId | kindf:'BusinessTypeListDict'"></td>
          </tr>
        </tbody>
   
    </table>

  </div>
</div>
