<!DOCTYPE html>
<html lang="en">
<head>
	<title>融资录单</title>
	<base href="https://static.qiejf.com/better/" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11" />

    <link rel="stylesheet" href="l/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="scf2/css/agency/apply/financeRec.css">
    <script type="text/javascript" src="l/seajs/sea.js"></script>
    <script type="text/javascript" src="base/config_ng.js"></script>
</head>
<body>
	
	

	<div id="container" class="container-fluid div-center" ng-app="mainApp">
		<div class="row-fluid">
		<div id="content" ng-controller="orderEntry" class="span12">

			<div id="finance_order_add_box" class="row-fluid">
				<h1 class="content-title-1 content-title-condensed content-title-blue"><img src="scf2/img/operator.png" alt="">融资录单</h1>
				<form action="" id="" class="form-horizontal">
				<h2 class="content-title content-title-2 content-back-none first">1.申请信息</h2>
					<div class="div-center div-width">
						<table class="table table-striped table-bordered table-hover table-condensed">
							<tr>
								<td width="30%">融资企业:</td>
								<td class="div-text-left">
									<select name="" id="">
										<option value="">恒丰</option>
										<option value="">海悦</option>
									</select>
								</td>
							</tr>
							<tr class="even">
								<td width="30%">贷款金额:</td>
								<td width="70%" class="div-text-left"><input type="text" name="" ></td>
							</tr>
							<tr>
								<td width="30%">贷款期限:</td>
								<td class="div-text-left">
								<input type="text" name="" >&nbsp;月
								</td>
							</tr>
							<tr>
								<td width="30%">核心企业:</td>
								<td class="div-text-left">
									<select name="" id="">
										<option value="">恒丰</option>
										<option value="">海悦</option>
									</select>
								</td>
							</tr>
							<tr>
								<td width="30%">保理公司:</td>
								<td class="div-text-left">
									<select name="" id="">
										<option value="">江南大江</option>
										<option value="">深圳高科</option>
									</select>
								</td>
							</tr>
							<tr>
								<td width="30%">产品:</td>
								<td class="div-text-left">
									<select name="" id="">
										<option value="">产品1</option>
										<option value="">产品2</option>
									</select>
								</td>
							</tr>
							<tr>
								<td width="30%">已交保证金:</td>
								<td class="div-text-left">
								<input type="text" name="" >
								</td>
							</tr>
						</table>
					</div>
				</form>
			</div>

			<!-- 客户订单选择 -->
			<div  id="order_select_box" class="row-fluid">

				<h2 class="content-title content-title-2 content-back-none content-split">2.客户订单列表</h2>
				<!-- 订单查询条件 -->
		        <form class="form-inline search-form-inline">
					<!-- <label>
						<span>结算方式</span>
						<select name="" id="">
	    					<option value="">商业汇票</option>
	    					<option value="">赊销</option>
	    				</select>
					</label> -->
					<label>
						<span>订单编号</span>
						<input type="text">
					</label>
					<label>
						<span>应收时间</span>
						<input type="text" id="begin_date" bt-date="searchData.GTErequestDate"> -
						<input type="text" id="begin_date" bt-date="searchData.GTErequestDate">
					</label>
					<button class="btn btn-primary btn-bg-middle" ng-click="">查询</button>
				</form>
				<!-- 查询结果列表 -->
				<div id="order_list_box">
					<table class="div-width-100 table table-striped table-hover">
					  <thead>
					    <tr class="result-head">
					      <td width="12.5%">订单编号</td>
					      <td width="12.5%">订单金额</td>
					      <td width="12.5%">结算方式</td>
					      <td width="12.5%">核心企业</td>
					      <td width="12.5%">产品名称</td>
					      <td width="12.5%">到期日期</td>
					      <td width="12.5%">是否使用</td>
					      <td width="12.5%">操作</td>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					     <td>A001</td>
					     <td>3,000,000</td>
					     <td>赊销</td>
					     <td></td>
					     <td></td>
					     <td>2012-12-02</td>
					     <td><input name="use_order" type="checkbox" checked /></td>
					     <td><a href="#" ng-click="" >查看详情</a></td>
					    </tr>
					    <tr>
					     <td>A002</td>
					     <td>3,000,000</td>
					     <td>赊销</td>
					     <td></td>
					     <td></td>
					     <td>2012-12-02</td>
					     <td><input name="use_order" type="checkbox"  /></td>
					     <td><a href="#" ng-click="" >查看详情</a></td>
					    </tr>
					    <tr>
					     <td>A003</td>
					     <td>3,000,000</td>
					     <td>赊销</td>
					     <td></td>
					     <td></td>
					     <td>2012-12-02</td>
					     <td><input name="use_order" type="checkbox" /></td>
					     <td><a href="#" ng-click="" >查看详情</a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>

			<div>
			     <div class="center-buttons">
			       <button class="btn btn-primary" ng-click="">提交</button>
			       <button class="btn btn-primary" ng-click="">暂存</button>
			     </div>
			</div>

		</div>
		</div>	
	</div>
	

	<!-- 引用js文件 -->
	<script type="text/javascript">
      // For development
      if (isBTTest) {
        seajs.use("scf2/js/agency/apply/financeRec");
      }
      // For production
      else {
        seajs.use("scf2/dist/agency/apply/financeRec");
      } 
  </script>
</body>
</html>