<!DOCTYPE html>
<html>
  <head>
    <title>应收账款转让申请核准书</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11" />
    <!-- LXUI -->
    <link rel="stylesheet" href="https://static.qiejf.com/better/l/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://static.qiejf.com/better/scf2/css/etc/accountsReceApproval.css">

  </head>
  <body id="body">
  	<div id="container" class="container-fluid div-center" >
      <div class="row-fluid">
        <div id="content" ng-controller="testController" class="span12">

        <div id="letter">
           <h3 class="div-center">应收账款转让申请核准书</h3>
           <div class="clearFix"><div class="right">编号：<input type="text"></input></div></div>
  	        <h5>致:<input type="text"></input>(卖方全称)</h5>
           <p>一、我司同意购买的应收账款明细如下：</p>

           <table class="table table-bordered div-center">
             <thead>
               <tr>
                 <td>序号</td>
                 <td>付款人名称</td>
                 <td>合同编号</td>
                 <td>合同金额</td>
                 <td>已付款金额</td>
                 <td>预付款金额</td>
                 <td>佣金及折让金额</td>
                 <td>应收账款金额</td>
                 <td>合同付款方式及账号</td>
                 <td>合同到期日</td>
                 <td>备注</td>
               </tr>
             </thead>
             <tbody>
                 <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                 </tr>
                 <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                 </tr>
                 <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                 </tr>
             </tbody>
             <tfoot>
               <tr>
                   <td>合计</td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                 </tr>
             </tfoot>
           </table>

           
            <p>二、我司给予贵方的融资为：</p>
            <p><input type="checkbox"> 预支价金：<input type="text">（币种）<input type="text">万元。融资起始日为<input type="text">年<input type="text">月<input type="text">日，融资到期日为<input type="text">年<input type="text">月<input type="text">日。融资费率为<input type="text">。</p>
            <p><input type="checkbox"> 向贵方发放总额不超过<input type="text">（币种）<input type="text">万元的贷款。具体内容见编号为<input type="text">的《<input type="text">》。</p>
            <p><input type="checkbox"> 贴现贵方为申请人/承兑人/背书人的商业承兑汇票，具体内容见编号为<input type="text">的《<input type="text">》。</p>
            <p><input type="checkbox"> 接受贵方为申请人/承兑人/背书人的商业承兑汇票出具保贴函，具体内容见编号为<input type="text">的 《<input type="text">》。</p>
            <p><input type="checkbox"> 接受贵方申请开立总额不超过<input type="text">（币种）<input type="text">万元的不可撤销的跟单信用证/保函。具体内容见编号为<input type="text">的 《<input type="text">》。</p>
            <p>三、保理费用共计<input type="text">元。</p>


           <div class="letter-foot clearFix">
              <table>
                <tr>
                  <td>保理商（盖章）：</td>
                  <td></td>
                </tr>
                <tr>
                  <td>法定代表人或授权委托人（签字）：</td>
                  <td></td>
                </tr>
                <tr>
                  <td>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</td>
                  <td></td>
                </tr>
              </table>
            </div>
            
            <p><strong>卖方确认：</strong>我方已收到__________________（编号）《应收账款转让申请核准书》，对上述内容同意，并保证按________________号《保理业务合同》履行有关义务。</p>

            <div class="letter-foot clearFix">
              <table>
                <tr>
                  <td>卖方（盖章）：</td>
                  <td></td>
                </tr>
                <tr>
                  <td>法定代表人或委托代理人（签字）：</td>
                  <td></td>
                </tr>
                <tr>
                  <td>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</td>
                  <td></td>
                </tr>
              </table>
            </div>
        </div>

      </div>
    </div>
  </div>
  </body>
</html>