<!DOCTYPE html>
<html>
  <head>
    <title>应收账款转让申请书</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11" />
    <!-- LXUI -->
    <link rel="stylesheet" href="https://static.qiejf.com/better/l/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://static.qiejf.com/better/scf2/css/etc/accountsReceApplication.css">

  </head>
  <body id="body">
  	<div id="container" class="container-fluid div-center" >
      <div class="row-fluid">
        <div id="content" ng-controller="testController" class="span12">

        <div id="letter">
           <h3 class="div-center">应收账款转让申请书</h3>
           <div class="clearFix"><div class="right">编号：<input type="text"></input></div></div>
  	        <h5>致 财富共赢商业保理（深圳）有限公司：</h5>
           <p>根据贵我双方于<input type="text">年<input type="text">月<input type="text">日签署的编号为：<input type="text">号《保理业务合同》，我公司现请求贵司将附表所列的我司销售所产生的合格应收账款转让。以上经我司同意转让的应收账款项的所有权益全部转让给贵司。</p>
           <p>申请贵司购买的应收账款明细如下：</p>

           <table class="table table-bordered div-center">
             <thead>
               <tr>
                 <td>序号</td>
                 <td>付款人名称</td>
                 <td>合同编号</td>
                 <td>合同金额</td>
                 <td>已付款金额</td>
                 <td>预付款金额</td>
                 <td>佣金及折让金额</td>
                 <td>应收账款金额</td>
                 <td>合同付款方式及账号</td>
                 <td>合同到期日</td>
                 <td>备注</td>
               </tr>
             </thead>
             <tbody>
                 <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                 </tr>
                 <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                 </tr>
                 <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                 </tr>
             </tbody>
             <tfoot>
               <tr>
                   <td>合计</td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                 </tr>
             </tfoot>
           </table>

           
            <p>二、申请贵司购买的应收账款占用贵司在上述合同项下为买方核定的额度。</p>
            <p>三、我方保证严格遵守《保理业务合同》的约定。</p>
            <p>我司郑重声明：</p>
            <p>1、以上应收账款中所列明的债务人名称和到期日记载正确。</p>
            <p>2、有关应收账款到期日后五个工作日内，若发生上述《保理业务合同》提及的情形致使贵司不能按期收回该等款项，贵司有权向我司行使追索权，要求我司承担对该应收账款回购责任或采取其他办法强行收款，直至全部收回贵司的融资本金、利息及相关费用为止。</p>
            <p>四、 我司拟凭上述受核准的应收账款向贵司申请提供资金融通。我司保证将按贵司要求支付融资利息及费用。</p>
            <p>特此申请，敬请贵司对我方申请予以核准。</p>


           <div class="letter-foot clearFix">
              <table>
                <tr>
                  <td>申请人（盖章）：</td>
                  <td></td>
                </tr>
                <tr>
                  <td>法定代表人或授权委托人（签字）：</td>
                  <td></td>
                </tr>
                <tr>
                  <td>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</td>
                  <td></td>
                </tr>
              </table>
            </div>

        </div>

      </div>
    </div>
  </div>
  </body>
</html>