<!DOCTYPE html>
<html>
  <head>
    <title>保兑仓业务三方合作协议</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11" />
    <!-- LXUI -->
    <link rel="stylesheet" href="https://static.qiejf.com/better/l/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://static.qiejf.com/better/scf2/css/etc/threeCooperationAgreement.css">

  </head>
  <body id="body">
  	<div id="container" class="container-fluid div-center" >
      <div class="row-fluid">
        <div id="content" ng-controller="testController" class="span12">

        <div id="letter">
           <h3 class="div-center">保兑仓业务三方合作协议</h3>
           <div class="clearFix"><div class="right">编号：<input type="text"></input></div></div>

           <table class="table div-center">
             <tbody>
                <tr>
                 <td width="25%">甲方：</td>
                 <td width="25%">兴业银行股份有限公司</td>
                 <td width="25%"></td>
                 <td width="25%"></td>
                </tr>
                <tr>
                   <td>地址：</td>
                   <td colspan="3"></td>
                </tr>
                <tr>
                  <td>电话：</td>
                  <td></td>
                  <td>传真：</td>
                  <td></td>
                </tr>
                <tr>
                  <td>负责人：</td>
                  <td></td>
                  <td>职务：</td>
                  <td></td>
                </tr>
             </tbody>
           </table>

           <table class="table div-center">
             <tbody>
                <tr>
                 <td width="25%">乙方（买方）：</td>
                 <td width="25%"></td>
                 <td width="25%"></td>
                 <td width="25%"></td>
                </tr>
                <tr>
                   <td>地址：</td>
                   <td colspan="3"></td>
                </tr>
                <tr>
                  <td>电话：</td>
                  <td></td>
                  <td>传真：</td>
                  <td></td>
                </tr>
                <tr>
                  <td>法定代表人或负责人：</td>
                  <td></td>
                  <td>职务：</td>
                  <td></td>
                </tr>
             </tbody>
           </table>

           <table class="table div-center">
             <tbody>
                <tr>
                 <td width="25%">丙方（卖方）：</td>
                 <td width="25%"></td>
                 <td width="25%"></td>
                 <td width="25%"></td>
                </tr>
                <tr>
                   <td>地址：</td>
                   <td colspan="3"></td>
                </tr>
                <tr>
                  <td>电话：</td>
                  <td></td>
                  <td>传真：</td>
                  <td></td>
                </tr>
                <tr>
                  <td>法定代表人或负责人：</td>
                  <td></td>
                  <td>职务：</td>
                  <td></td>
                </tr>
             </tbody>
           </table>
           
            <p>为保障甲方与乙方于<input type="text"></input>年<input type="text"></input>月<input type="text"></input>日至<input type="text"></input>年<input type="text"></input>月<input type="text"></input>日期间发生的各类授信业务项下协议（统称为“授信及担保协议”）的履行，同时为加强甲乙丙三方之间的互利合作关系，确保乙方与丙方之间贸易合同的顺利履行，经三方当事人平等协商，按照《中华人民共和国合同法》等法律法规，订立本协议。乙方在甲方的融资业务甲方有独立的最终授信审查审批权，甲方对是否提供融资以及融资金额等进行独立审核并独立决定。</p>

            <h5>第一条  贸易合同</h5>
            <p> 一、乙、丙双方同意贸易合同采用以下列第<input type="text"></input>种付款方式：</p>
            <p>1、乙、丙双方同意以银行承兑汇票作为双方贸易合同的付款方式，并由甲方作为汇票的承兑银行，丙方作为汇票的收款人。 </p>
            <p>2、甲方同意贷款给乙方，并由甲方以受托支付的方式将贷款划至丙方指定账户，用以支付乙方在上述贸易合同项下的货款。</p>
            <p>3、乙、丙双方同意以商业承兑汇票作为双方贸易合同的付款方式，甲方承诺对该汇票予以保贴，贴现款由甲方直接支付给丙方。</p>
            <p>4、以国内信用证作为双方贸易合同的付款方式，用以支付乙方在上述贸易合同项下的货款，信用证的受益人为丙方。</p>
            <p>若采用上述第2种付款方式，乙方授权甲方直接将款项付至丙方帐户。</p>
            <p>若采用上述第1种和第3种付款方式，乙方同意由甲方负责将银行承兑汇票或商业承兑汇票送达丙方。 </p>
            <p>若采用上述第4种付款方式，由甲方将国内信用证寄送或发送至丙方的通知行。</p>
            <p>丙方在收到相关款项或商业汇票后应出具《预收款及货物监管确认函》（附件1）给甲方。但无论丙方是否出具《预收款及货物监管确认函》，均不影响丙方履行本协议项下义务和甲方按照本协议约定行使权利。</p>
            <p>二、第一款的规定并不构成甲方的授信承诺，甲方有权自主决定是否给予乙方授信，以及授信的有效期限、数额和条件。</p>

            <h5>第二条 保证金</h5>
            <p>乙方向甲方申请贷款、开立银行承兑汇票/商业承兑汇票/国内信用证时应当向甲方交存初始保证金，初始保证金最低不少于贷款金额/票/证面金额的<input type="text"></input>%（含）。</p>

            <h5>第三条 提货</h5>
            <p>提货采用乙方从丙方自行提货的模式。</p>
            <p>（1）银行承兑汇票/商业承兑汇票/国内信用证开出后，乙方向甲方续存保证金或经甲方允许提前偿还贷款，即可向丙方提取与续存保证金或已还款金额100%等值的货物。</p>
            <p>（2）乙方每次向丙方提货时，丙方均应凭甲方签发的《提货通知书》（附件3）办理。</p>
            <p>乙方提取货物时应先向甲方提交《提货申请审批表》（附件2），并按照《提货申请审批表》提前落实相应的追加保证金或者还款手续。</p>
            <p>该贷款/商业汇票/信用证项下最后一次续存保证金后可提取剩余所有未发货值的货物。甲方收到《提货申请审批表》并审核追加保证金手续或还款手续后，直接向丙方出具《提货通知书》（附件3）。</p>
            <p>丙方收到《提货通知书》的当日立即向甲方签发《发货通知书》（附件4），并按《提货通知书》规定向乙方办理发货事宜。</p>
            <p>乙方确认该操作流程的合理、合法性，无条件同意丙方按本合同规定的放货流程办理提货，乙方无条件且不可撤销地承诺不因与丙方的贸易合同向丙方主张任何抗辩或者其他权利。</p>
            <p>丙方违反《提货通知书》规定给乙方办理提货手续的，不影响其依据本协议的约定应承担的差额退款责任。</p>

            <h5>第四条 丙方的退款责任</h5>
            <p>（1）当货物的市场价格与初始采购价格相比跌幅大于５％时，乙方应在三个工作日内按照市价跌幅的比率追加保证金，逾期未补的，视为乙方违约，甲方有权宣布授信提前到期，直接扣划乙方缴存的保证金，并通知丙方退款；</p>
            <p>（2）融资到期前十日，乙方应足额将融资款备足，如未能备足，甲方有权直接扣划乙方缴存的保证金，并通知丙方退款；</p>
            <p>丙方收到甲方《退款通知书》（附件5）后五个工作日内，必须无条件按《退款通知书》的要求退款，退款金额为乙方缴存保证金不足以清偿乙方向甲方融资的本金或银行承兑汇票的票面金额的差额部分。</p>
            <p>丙方按照本协议约定履行上述退款义务后，有权处置、折价变卖货物，甲方、乙方对此无异议。</p>

            <h5>第五条 约定联系方式</h5>
            <p>丙方如使用约定传真机向甲方发出《发货通知书》，传真件与原件具有同等效力。原件应于三日内送达甲方。其中：</p>
            <p> 甲方约定传真机号码为：</p>
            <p> 乙方约定传真机号码为：</p>
            <p> 丙方约定传真机号码为：</p>
            <p> 甲方通信地址：</p>
            <p> 甲方邮政编码：</p>
            <p> 甲方收件人名称：</p>
            <p> 甲方收件人联系电话：</p>

            <h5>第六条 预留印鉴</h5>
            <p>  甲方预留印鉴为甲方公章加甲方指定人员的亲笔签名，公章式样为：</p><br><br><br><br><br>
            <p>甲方指定人员为：</p>
            <p>（1）<input type="text"></input>，其签字式样为<input type="text"></input>；或</p>
            <p>（2）<input type="text"></input>，其签字式样为：<input type="text"></input>。</p>
            <p>  乙方预留印鉴为乙方公章加乙方指定人员的亲笔签名，公章式样为：</p><br><br><br><br><br>
            <p>乙方指定人员为：</p>
            <p>（1）<input type="text"></input>，其签字式样为<input type="text"></input>；或</p>
            <p>（2）<input type="text"></input>，其签字式样为：<input type="text"></input>。</p>
            <p>  丙方预留印鉴为丙方公章加丙方指定人员的亲笔签名，公章式样为：</p><br><br><br><br><br>
            <p>丙方指定人员为：</p>
            <p>（1）<input type="text"></input>，其签字式样为<input type="text"></input>；或</p>
            <p>（2）<input type="text"></input>，其签字式样为：<input type="text"></input>。</p>

            <h5>第七条 条款的独立性</h5>
            <p>本合同的部分条款或条款的部分内容在现在或将来成为无效，该无效条款或该无效部分并不影响本合同及本合同其它条款或该条款其它内容的有效性。</p>
            <p>本合同条款不论何种原因在法律上成为无效或部分无效时，不影响乙方和丙方在本合同项下的义务与责任。</p>
            <p>本合同不论何种原因在法律上成为无效或部分无效时，不影响甲乙丙三方之间或任两方间签订的其它合同项下的任一方的义务与责任，乙方仍应履行全部还款责任。</p>

            <h5>第八条 违约责任</h5>
            <p>1、乙方违反本协议的，甲方有权宣布授信提前到期，立即要求乙方清偿全部已发放的授信并有权停止发放未发放的授信，并直接扣划乙方缴存的保证金。</p>
            <p>2、丙方未按照本协议的规定履行发货义务的，应向甲方承担本合同项下还款责任。</p>
            <p>3、丙方违反本协议第四条规定的退款责任的，应当按照未给付金额的每日万分之二点一向甲方支付滞纳金。</p>

            <h5>第九条 乙方、丙方的声明与保证</h5>
            <p>乙方、丙方保证在法律上有资格签订和履行本合同，并且签订和履行本合同已获得其董事会或任何其他有权机构的充分授权（如需授权）。</p>
            <p>乙方、丙方保证提供的各项资料是真实、合法、有效的，不含有与事实不符的任何重大错误或遗漏任何重大事实。</p>
            <p>乙方、丙方已经充分知悉、理解本合同的全部条款内容，签署本合同是其真实意思表示。</p>
            <p>乙方、丙方不以其双方之间的任何约定或其内部权限的限制来对抗本协议项下义务的履行或者对本协议的效力提出异议。</p>
            <p>根据本协议第四条规定，丙方需要向甲方履行的退款责任，丙方保证不受与乙方之间的贸易合同、票据争议或其他基础交易合同项下任何行为的影响。</p>
            <p>丙方保证，甲方在要求丙方承担差额退款责任时，不必（1）先向乙方索偿；或（2）先对乙方采取任何法律行动；或（3）先对乙方提出破产申请。</p>

            <h5>第十条 其他</h5>
            <p>1、在协议生效期间，甲方对乙方和丙方的任何违约或延误行为施以任何宽容、宽限或延缓行使本协议内甲方应享有的权利，均不能损害、影响或限制甲方依本协议和有关法律规定应享有的一切权利，不能作为甲方对任何破坏本协议行为的许可或认可，也不能视为甲方放弃对现有或将来违约行为采取行动的权利。</p>
            <p>2、经各方协商一致，可修改或解除本协议。如修改或解除协议的，必须采用书面方式，由各方加盖行政公章生效。</p>

            <h5>第十一条 法律适用及争议解决</h5>
            <p>本协议按中华人民共和国法律订立，适用中华人民共和国法律。协议履行中如发生争议，双方应进行协商或调解；协商或调解不成的，应按以下第      <input type="text"></input>项规定的方式解决争议。</p>
            <p>1、向甲方所在地人民法院提起诉讼。</p>
            <p>2、向<input type="text"></input>仲裁委员会申请仲裁。</p>

            <h5>第十二条 协议生效</h5>
            <p>1、本协议经三方签字、盖章后生效，至乙方偿清授信及担保协议项下的全部债务时终止。</p>
            <p>2、下列附件作为本协议不可分割的组成部份，与本协议正文有相同的法律效力：</p>
            <p>附件1：《预收款及货物监管确认函》</p>
            <p>附件2：《提货申请审批表》</p>
            <p>附件3：《提货通知书》</p>
            <p>附件4：《发货通知书》</p>
            <p>附件5：《退款通知书》</p>
            <p>3、本协议中手写文字与印刷文字具有同等效力。</p>

            <h5>第十三条 本协议一式三份，每方各执一份，每份均具同等的法律效力。</h5>

            <table class="table div-center">
             <tbody>
                <tr>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                </tr>
                <tr>
                 <td width="33.3%">甲方（公章）</td>
                 <td width="33.3%">乙方（公章）</td>
                 <td width="33.3%">丙方（公章）</td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                </tr>
                <tr>
                 <td width="33.3%">法人代表（签章）</td>
                 <td width="33.3%">法人代表（签章）</td>
                 <td width="33.3%">法人代表（签章）</td>
                </tr>
                <tr>
                 <td width="33.3%">（或授权代理人）</td>
                 <td width="33.3%">（或授权代理人）</td>
                 <td width="33.3%">（或授权代理人）</td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                </tr>
                <tr>
                 <td width="33.3%">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</td>
                 <td width="33.3%">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</td>
                 <td width="33.3%">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</td>
                </tr>
                
             </tbody>
           </table>


        </div>

      </div>
    </div>
  </div>
  </body>
</html>