	<div class="pjce">
    	<ul>
        	<li>
            	<p><span>授信核心企业：</span>德豪润达</p>
                <p><span>商业汇票号：</span>42913439124912349231</p>
                <p><span>收款方：</span>深圳市润翔工程有限公司</p>
                <p><span>收款账号：</span>898777871616178097</p>
                <p><span>票据流通方式：</span>纸票</p>
            </li>
            <li>
            	<p><span>授信核心企业：</span>德豪润达</p>
                <p><span>商业汇票号：</span>42913439124912349231</p>
                <p><span>收款方：</span>深圳市润翔工程有限公司</p>
                <p><span>收款账号：</span>898777871616178097</p>
                <p><span>票据流通方式：</span>纸票</p>
            </li>
        </ul>
    </div>
    <div class="butn butn2">
    	<a href="#" class="btn btn2">询价</a>
    	<a href="#" class="btn">融资</a>
    </div>
</div>
<div class="uiMask"></div>
<div class="tpWind">
	<div class="wid">
    	<ul>
        	<li>
            	<span class="ci">保理产品</span>
                <div class="ci">
                	<select class="text">
                    	<option>百乐润-德豪润达1号</option>
                        <option>百乐润-德豪润达1号</option>
                    </select>
                </div>
            </li>
            <li>
            	<span class="ci">融资金额</span>
                <div class="ci">
                	<input name="" type="text" class="text" placeholder="请输入融资金额">
                </div>
            </li>
            <li>
            	<span class="ci">保理用途</span>
                <div class="ci">
                	<input name="" type="text" class="text" placeholder="请输入保理用途">
                </div>
            </li>
            <li>
            	<span class="ci">交易密码</span>
                <div class="ci">
                	<input name="" type="text" class="text" placeholder="请输入交易密码">
                </div>
            </li>
        </ul>
            <div class="edWin">
    	<a href="#/billDetail" class="fgt">放弃</a>
        <a href="#/billDetail">提交</a>
    </div>
    </div>
    <div class="pBtnc pBtnc2">
        <a href="#" class="rod">发票信息</a>
        <a href="#">附件信息</a>
    </div>