<div class="div-width-90 detail-box div-center">

    <div class="div-center div-width div-margin-top">
    <form action="" id="" class="form-horizontal ng-pristine ng-valid">
      <div class="div-center div-width div-margin-top">
        <!-- 银行流水资料 -->
        <table class="table table-striped table-bordered table-hover table-condensed">
            <caption class="table-caption table-caption-green clearFix">
              <span class="title-left">银行流水资料</span>
            </caption>
          <tbody>
          <tr>
            <td>数据开始时间:</td>
            <td class="div-text-left"><input type="text"  bt-date="bankFlowInfo.startDate"></td>
            <td>数据结束时间:</td>
            <td class="div-text-left"><input type="text"  bt-date="bankFlowInfo.endDate"></td>
          </tr>
          <!-- <tr>
            <td>附件:</td>
            <td colspan="3" class="div-text-left">
              <button class="btn btn-info" type="button" ng-click="openUpload($event,'InvoiceAccessory','银行流水','bankFlowAttach')" ng-show="!bankFlowAttach[0]">上传附件</button>
              <a href="#" ng-bind="bankFlowAttach[0].fileName" ng-show="bankFlowAttach[0]"></a>
            </td>
          </tr> -->
          </tbody>
        </table>

        <!-- 附件信息列表 -->
        <table class="table table-striped table-hover table-bordered">
            <caption class="table-caption table-caption-green clearFix">
              <span class="title-left">附件列表</span>
              <button class="btn btn-info btn-right" ng-show="!bankFlowAttach[0]"  ng-click="openUpload($event,'InvoiceAccessory','银行流水','bankFlowAttach')">+上传附件</button>
            </caption>
          <thead>
            <tr class="result-head-gray">
              <td width="30%">附件类型</td>
              <td width="40%">附件名称</td>
              <td width="30%">操作</td>
            </tr>
          </thead>
          <tbody>
             <tr ng-repeat="file in bankFlowAttach" ng-repeat-end ng-class="{even:$even}">
               <td>银行流水</td>
               <td>
                  <a href=""><span ng-bind="file.fileName"></span></a>
               </td>
               <td>
                  <a href="{{file.id|downf}}" >下载</a>  
                  <a href="#" ng-click="removeAttach(file.id,'bankFlowAttach');">删除</a>
               </td>
             </tr>
          </tbody>
        </table>

    </div>
      <div>
         <div class="center-buttons">
           <button class="btn btn-primary" ng-click="addRecord($event.target,'bankFlow');">保存</button>
           <button class="btn btn-primary" bt-close-modal >返回</button>
         </div>
    </div>
    

</div> 
