<!DOCTYPE html>
<html>

<head>
    <title>未读公告管理</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,10,11" />
    <!-- LXUI -->
    <link rel="stylesheet" href="https://static.qiejf.com/better/l/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://static.qiejf.com/better/scf2/css/supplier/notice/unreadNotice.css">
    <script type="text/javascript" src="https://static.qiejf.com/better/l/seajs/sea.js"></script>
    <script type="text/javascript" src="https://static.qiejf.com/better/base/config_ng.js"></script>
</head>

<body id="body">
    <div id="container" class="container-fluid div-center">
        <div class="row-fluid">
            <div id="content" ng-controller="mainController" class="div-width-100">
                <div id="fund_search_way" class="row-fluid">
                    <h1 class="content-title-1 content-title-condensed"><img src="../../../img/fast_money.png" alt="">未读公告查询
                    </h1>
                    <table class="table table-condensed div-width-70 div-center search-table">
                      <tr>
                        <td width="25%">机构选择:</td>
                        <td width="75%" class="div-text-left">
                            <select ng-model="searchData.custNo">
                                <option ng-repeat="item in custList" value="{{item.value}}" ng-bind="item.name" ng-selected="searchData.custNo == item.value"></option>
                            </select>
                        </td>
                      </tr>
                      <tr>
                        <td width="25%">标题内容:</td>
                        <td width="75%" class="div-text-left">
                            <input type="text" ng-model="searchData.LIKEsubject">
                        </td>
                      </tr>
                      <tr>
                        <td>发布日期:</td>
                        <td class="div-text-left date">
                          <input type="text" id="begin_date" bt-max-date="end_date" bt-date="searchData.GTEpublishDate">-
                          <input type="text" id="end_date" bt-min-date="begin_date" bt-date="searchData.LTEpublishDate">
                        </td>
                      </tr>
                    </table>
                    <div class="center-buttons">
                      <button class="btn btn-primary btn-bg-middle" ng-click="searchList();">查询</button>
                    </div>
                </div>

            <div id="search_info" class="row-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="reqQuota">
                        <h1 class="content-title-1 content-title-condensed content-title-blue"><img src="../../../img/operator.png" alt="">
                        未读公告申请列表
                        </h1>
                        <table class="div-width-100 table table-striped table-hover search-result">
                            <thead>
                                <tr class="font-size-12 result-head">
                                    <td width="8%">序号</td>
                                    <td width="20%">标题</td>
                                    <td width="18%">发布机构</td>
                                    <td width="18%">接收机构</td>
                                    <td width="12%">发布日期</td>
                                    <td width="12%">发布时间</td>
                                    <td width="12%">操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-class="{even:$even}" ng-repeat="item in noticeList" ng-repeat-end>
                                    <td ng-bind="$index+1"></td>
                                    <td class="red" ng-bind="item.subject"></td>
                                    <td class="red" ng-bind="item.custName"></td> 
                                    <td ng-bind="item.receiveCustName"></td>
                                    <td ng-bind="item.publishDate"></td>
                                    <td ng-bind="item.publishTime"></td>
                                    <td>
                                        <a href="javascript:void(0);" ng-click="openNoticeInfoBox(item);">查看</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <td colspan="7">
                                    <div bt-pagination conf="listPage" conf="reFreshNoticeList(false);"></div>
                                </td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <!-- 温馨提示END -->
            <!-- 模板区域 -->
            <!-- 公告详情模板 -->
            <div id="notice_detail_box" bt-roll-modal="temp/noticeDetail.html" bt-z-index="9991"></div>
         </div>
    </div>
    </div>
    

    <!-- 引用js文件 -->
    <!--[if lt IE 9]>
      <script type="text/javascript">seajs.use('p/js/common/IErequire');</script>
  <![endif]-->
    <script type="text/javascript">
    // For development
      if (isBTTest) {
        seajs.use("scf2/js/supplier/notice/unreadNotice");
      }
      // For production
      else {
        seajs.use("scf2/dist/supplier/notice/unreadNotice");
      }
    </script>
</body>

</html>
