@charset "UTF-8";
/* 待收页面样式文件 */
/**
*项目基础文件、公用组件样式文件
*/
/* IE兼容配置 */
/* line 7, ../../../sass/common/base.scss */
#container {
  width: 900px;
  padding-top: 10px; }

/* line 14, ../../../sass/common/base.scss */
.div-center {
  margin-left: auto;
  margin-right: auto; }

/* line 513, ../../../sass/common/base.scss */
.unchecked {
  color: #A0A0A0 !important; }

/* line 517, ../../../sass/common/base.scss */
.checkbox-left-sp,
.checkbox-right-sp {
  cursor: pointer; }

/* line 522, ../../../sass/common/base.scss */
input[type="checkbox"] {
  margin-top: 0; }

/**
*bootstrap自定义增强文件
*/
/**
*bootstrap中IE兼容区域
*/
/* 提示工具条的样式插件 */
/* line 6, ../../../sass/common/tooltip.scss */
.tipbar-wrap {
  min-width: 100px;
  min-height: 16px;
  line-height: 16px;
  padding: 6px;
  color: #8c3901;
  display: block;
  font-family: 'trebuchet ms', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #A7A7A7;
  background-color: #FEF9D9;
  border-radius: 8px;
  position: absolute;
  left: 30px;
  top: 10px;
  z-index: 500; }

/* line 25, ../../../sass/common/tooltip.scss */
.bubble-wrap {
  min-width: 240px;
  min-height: 16px;
  line-height: 16px;
  padding: 6px;
  color: #8c3901;
  display: block;
  font-family: 'trebuchet ms', arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #A7A7A7;
  background-color: #FEF9D9;
  border-radius: 8px;
  position: relative;
  left: 0;
  top: 0;
  behavior: url(../../../css/common/pie/PIE.htc);
  z-index: 500; }

/* line 45, ../../../sass/common/tooltip.scss */
.tipbar-wrap-arrow {
  width: 10px;
  height: 20px;
  background: transparent url(../../../img/tip-yellow_arrows.png) no-repeat -49px 0;
  position: absolute;
  left: -8px;
  top: 6px;
  z-index: 9998; }

/* line 55, ../../../sass/common/tooltip.scss */
.tipbar-wrap-arrow-top {
  width: 20px;
  height: 10px;
  background: transparent url(../../../img/tip-yellow_arrows.png) no-repeat -29px 0;
  position: absolute;
  left: 20px;
  bottom: -10px;
  z-index: 9998; }

/* line 65, ../../../sass/common/tooltip.scss */
.tipbar-wrap-arrow-left {
  width: 10px;
  height: 20px;
  background: transparent url(../../../img/tip-yellow_arrows.png) no-repeat -20px 0;
  position: absolute;
  right: -10px;
  top: 6px;
  z-index: 9998; }

/* 分页专用样式
	作者binhg
 */
/* line 13, ../../../sass/core/business/financeSearch.scss */
#container {
  /* .table-caption{
  	background-color: #dff0d8;
      font-weight: bold;
      color: #0088cc;
  } */
  /**翻页_why**/
  /**无边框样式**/
  /**只有上下翻页效果样式**/
  /*默认彩色*/
  /**/
  /**蓝色**/
  /**红色**/
  /**橙色**/ }
  /* line 23, ../../../sass/common/base.scss */
  #container a:hover {
    text-decoration: none;
    color: #f14e32; }
  /* line 28, ../../../sass/common/base.scss */
  #container a:visited {
    text-decoration: none; }
  /* line 32, ../../../sass/common/base.scss */
  #container a:focus {
    text-decoration: none; }
  /* line 37, ../../../sass/common/base.scss */
  #container .div-center {
    margin-left: auto;
    margin-right: auto; }
  /* line 44, ../../../sass/common/base.scss */
  #container .clearFix {
    zoom: 1; }
    /* line 47, ../../../sass/common/base.scss */
    #container .clearFix:after {
      display: block;
      content: ' ';
      visibility: hidden;
      clear: both;
      width: 0;
      height: 0; }
    /* line 56, ../../../sass/common/base.scss */
    #container .clearFix .float-left {
      float: left; }
    /* line 60, ../../../sass/common/base.scss */
    #container .clearFix .float-right {
      float: right; }
  /* line 65, ../../../sass/common/base.scss */
  #container .red {
    color: red; }
  /* line 69, ../../../sass/common/base.scss */
  #container .green {
    color: green; }
  /* line 73, ../../../sass/common/base.scss */
  #container .deep-gray {
    color: #888889; }
  /* line 77, ../../../sass/common/base.scss */
  #container .required {
    color: red !important;
    margin-right: 3px; }
  /* line 82, ../../../sass/common/base.scss */
  #container .bg-color-gray {
    background-color: #d4d2cf; }
  /* line 86, ../../../sass/common/base.scss */
  #container input[readonly].Wdate {
    cursor: pointer; }
  /* line 90, ../../../sass/common/base.scss */
  #container #error_info_box {
    position: absolute;
    left: 0;
    top: 5px;
    z-index: 9999;
    background: #EFEEEF;
    opacity: 0.9;
    filter: Alpha(Opacity=90); }
    /* line 99, ../../../sass/common/base.scss */
    #container #error_info_box .alert {
      margin-top: 300px; }
      /* line 102, ../../../sass/common/base.scss */
      #container #error_info_box .alert p {
        text-align: center;
        margin-bottom: 0; }
    /* line 108, ../../../sass/common/base.scss */
    #container #error_info_box * {
      opacity: 1;
      filter: Alpha(Opacity=100); }
  /* line 114, ../../../sass/common/base.scss */
  #container .inline-label {
    display: inline-block; }
  /* line 123, ../../../sass/common/base.scss */
  #container .table-caption {
    vertical-align: middle;
    height: 24px;
    line-height: 24px;
    color: #2B93C7;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 15px;
    border: 1px solid #DDD;
    border-bottom: 0;
    background-color: #F9CC9D; }
    /* line 135, ../../../sass/common/base.scss */
    #container .table-caption .title-left {
      float: left; }
    /* line 139, ../../../sass/common/base.scss */
    #container .table-caption .btn-right {
      font-size: 13px;
      margin: 0;
      padding: 2px 6px;
      float: right;
      margin-left: 10px; }
  /* line 148, ../../../sass/common/base.scss */
  #container .table-intable {
    margin-bottom: 0;
    background: whitesmoke; }
    /* line 152, ../../../sass/common/base.scss */
    #container .table-intable td {
      background: whitesmoke;
      text-align: left;
      padding-left: 15px;
      border: 0; }
      /* line 158, ../../../sass/common/base.scss */
      #container .table-intable td input {
        margin-right: 3px; }
      /* line 162, ../../../sass/common/base.scss */
      #container .table-intable td input[type="radio"] {
        margin: 0; }
  /* line 168, ../../../sass/common/base.scss */
  #container .table-caption-noborder {
    border: 0; }
  /* line 172, ../../../sass/common/base.scss */
  #container .table-caption-green {
    background-color: #DFF0D8; }
  /* line 176, ../../../sass/common/base.scss */
  #container .result-head {
    font-size: 12px;
    background: #F9CC9D; }
  /* line 182, ../../../sass/common/base.scss */
  #container .result-head-center td {
    text-align: center;
    font-size: 12px;
    color: #2B93C7;
    background: #F9CC9D;
    font-weight: bold;
    padding: 6px 15px; }
  /* line 193, ../../../sass/common/base.scss */
  #container .result-td-head td {
    text-align: left;
    font-size: 12px;
    color: #2B93C7;
    background: #F9CC9D;
    font-weight: bold;
    padding: 6px 15px; }
  /* line 202, ../../../sass/common/base.scss */
  #container .result-td-head .left {
    text-align: left;
    padding: 6px 15px; }
  /* line 207, ../../../sass/common/base.scss */
  #container .result-td-head .right {
    text-align: right;
    padding-right: 10px;
    border-left: 0; }
    /* line 211, ../../../sass/common/base.scss */
    #container .result-td-head .right .btn {
      padding: 2px 6px; }
  /* line 218, ../../../sass/common/base.scss */
  #container .label-inline {
    display: inline; }
  /* line 223, ../../../sass/common/base.scss */
  #container .result-head-green td {
    background-color: #DFF0D8; }
  /* line 229, ../../../sass/common/base.scss */
  #container .result-head-center td {
    text-align: center; }
  /* line 235, ../../../sass/common/base.scss */
  #container .result-head-consense td {
    padding: 8px 4px;
    font-size: 10px; }
  /* line 241, ../../../sass/common/base.scss */
  #container .result-head-gray {
    font-size: 12px;
    background: rgba(84, 111, 119, 0.08);
    background-color: #f1f3f4 \9; }
  /* line 247, ../../../sass/common/base.scss */
  #container .ico {
    display: inline-block;
    vertical-align: middle;
    background: url("../../../img/ico.png");
    background-image: -webkit-image-set(url(../../../img/ico.png) 1x, url(../../../img/ico2x.png) 2x);
    background-repeat: no-repeat; }
  /* line 255, ../../../sass/common/base.scss */
  #container .ico8 {
    background-position: -426px 1px;
    width: 20px;
    height: 20px; }
  /* line 261, ../../../sass/common/base.scss */
  #container .ico7 {
    background-position: -403px 1px;
    width: 20px;
    height: 20px; }
  /* line 268, ../../../sass/common/base.scss */
  #container .top-box .content-title-1 {
    margin-bottom: 10px; }
  /* line 275, ../../../sass/common/base.scss */
  #container .top-box tbody td textarea,
  #container .top-box thead td textarea {
    height: 150px; }
  /* line 279, ../../../sass/common/base.scss */
  #container .top-box tbody td input[type="password"],
  #container .top-box tbody td input[type="text"],
  #container .top-box tbody td select,
  #container .top-box tbody td textarea,
  #container .top-box thead td input[type="password"],
  #container .top-box thead td input[type="text"],
  #container .top-box thead td select,
  #container .top-box thead td textarea {
    width: 85% !important;
    margin: 0; }
  /* line 287, ../../../sass/common/base.scss */
  #container .top-box tbody td input[type='radio'],
  #container .top-box thead td input[type='radio'] {
    width: 10% !important; }
  /* line 291, ../../../sass/common/base.scss */
  #container .top-box tbody td select,
  #container .top-box thead td select {
    width: 88% !important; }
  /* line 297, ../../../sass/common/base.scss */
  #container .top-box tbody .double_input input[type="text"],
  #container .top-box thead .double_input input[type="text"] {
    width: 20% !important;
    margin-right: 5px; }
  /* line 304, ../../../sass/common/base.scss */
  #container .top-box tbody .date input[type="text"],
  #container .top-box thead .date input[type="text"] {
    width: 37% !important; }
  /* line 310, ../../../sass/common/base.scss */
  #container .top-box tbody .double-select select,
  #container .top-box thead .double-select select {
    width: 45% !important; }
  /* line 318, ../../../sass/common/base.scss */
  #container .top-box .lined_table td textarea {
    height: 150px; }
  /* line 322, ../../../sass/common/base.scss */
  #container .top-box .lined_table td input[type="password"],
  #container .top-box .lined_table td input[type="text"],
  #container .top-box .lined_table td select,
  #container .top-box .lined_table td textarea {
    width: 85% !important;
    margin: 0; }
  /* line 330, ../../../sass/common/base.scss */
  #container .top-box .lined_table td input[type='radio'] {
    width: 10% !important; }
  /* line 334, ../../../sass/common/base.scss */
  #container .top-box .lined_table td select {
    width: 91% !important; }
  /* line 342, ../../../sass/common/base.scss */
  #container .top-box table.big-input tbody td input[type="password"],
  #container .top-box table.big-input tbody td input[type="text"],
  #container .top-box table.big-input tbody td select,
  #container .top-box table.big-input tbody td textarea {
    width: 94% !important;
    margin: 0; }
  /* line 350, ../../../sass/common/base.scss */
  #container .top-box table.big-input tbody td select {
    width: 98% !important; }
  /* line 355, ../../../sass/common/base.scss */
  #container .top-box table.big-input tbody td.date input {
    width: 54% !important;
    margin-right: 3%; }
  /* line 360, ../../../sass/common/base.scss */
  #container .top-box table.big-input tbody td.date span {
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: gray;
    padding: 0 8px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer; }
    /* line 371, ../../../sass/common/base.scss */
    #container .top-box table.big-input tbody td.date span:hover {
      border: 1px solid #248ac9;
      box-shadow: 0 0 2px 1px #248ac9;
      background-color: whitesmoke;
      color: #248ac9;
      transition: all 0.5s; }
  /* line 382, ../../../sass/common/base.scss */
  #container .top-box table.big-input tbody td.double-date input {
    width: 38% !important;
    margin-right: 1%; }
  /* line 389, ../../../sass/common/base.scss */
  #container .top-box table.big-input tbody td.double-select select {
    width: 45% !important;
    margin: 0 3% 0 0; }
  /* line 397, ../../../sass/common/base.scss */
  #container .top-box .btn-outline-none:focus {
    outline: 0px !important; }
  /* line 401, ../../../sass/common/base.scss */
  #container .top-box .table-intable {
    margin-bottom: 0;
    background: whitesmoke; }
    /* line 405, ../../../sass/common/base.scss */
    #container .top-box .table-intable td {
      background: whitesmoke;
      text-align: left;
      padding-left: 15px;
      border: 0; }
      /* line 411, ../../../sass/common/base.scss */
      #container .top-box .table-intable td input {
        margin-right: 3px; }
  /* line 417, ../../../sass/common/base.scss */
  #container .top-box .height-500 {
    height: 500px; }
  /* line 421, ../../../sass/common/base.scss */
  #container .top-box .height-200 {
    height: 200px; }
  /* line 425, ../../../sass/common/base.scss */
  #container .top-box .width-300 {
    width: 300px; }
  /* line 429, ../../../sass/common/base.scss */
  #container .top-box .max-width-400 {
    max-width: 400px; }
  /* line 433, ../../../sass/common/base.scss */
  #container .top-box .scroll-auto {
    overflow: auto; }
  /* line 438, ../../../sass/common/base.scss */
  #container .top-box .div-width-200 {
    width: 200px !important; }
  /* line 443, ../../../sass/common/base.scss */
  #container #warm_prompt_box {
    margin-top: 20px; }
    /* line 446, ../../../sass/common/base.scss */
    #container #warm_prompt_box .prompt-title {
      border-bottom: 2px solid #248AC9;
      margin: 3px 0;
      height: 35px;
      line-height: 35px;
      font-size: 18px;
      font-weight: bold; }
      /* line 454, ../../../sass/common/base.scss */
      #container #warm_prompt_box .prompt-title .prompt-icon {
        width: 20px;
        height: 20px; }
    /* line 460, ../../../sass/common/base.scss */
    #container #warm_prompt_box .warm-prompt-content {
      margin-top: 10px;
      padding: 4px; }
      /* line 464, ../../../sass/common/base.scss */
      #container #warm_prompt_box .warm-prompt-content p {
        color: #2da7e0;
        font-family: 宋体;
        font-size: 14px; }
  /* line 472, ../../../sass/common/base.scss */
  #container .form-inline {
    margin: 0;
    padding: 5px;
    line-height: 35px;
    background-color: whitesmoke; }
    /* line 478, ../../../sass/common/base.scss */
    #container .form-inline label {
      margin: 0 10px;
      height: 35px;
      line-height: 35px; }
      /* line 483, ../../../sass/common/base.scss */
      #container .form-inline label input,
      #container .form-inline label select {
        margin: 0;
        width: 100px; }
  /* line 491, ../../../sass/common/base.scss */
  #container .margin-bottom-40 {
    margin-bottom: 40px; }
  /* line 779, ../../../sass/common/base.scss */
  #container input[type="password"],
  #container input[type="text"],
  #container select,
  #container textarea {
    border: 1px solid #248AC9; }
  /* line 786, ../../../sass/common/base.scss */
  #container input[type="checkbox"] {
    border: 0; }
  /* line 792, ../../../sass/common/base.scss */
  #container .line-checkbox {
    width: 80%;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    margin-top: 10px; }
    /* line 799, ../../../sass/common/base.scss */
    #container .line-checkbox input {
      margin-right: 6%;
      *margin-right: 3%;
      margin-top: 0; }
    /* line 575, ../../../sass/common/base.scss */
    #container .line-checkbox .input-underline {
      border: 0;
      border-bottom: 1px solid #248AC9;
      width: 10%;
      border-radius: 0;
      background-color: transparent;
      margin-left: 5px; }
      /* line 583, ../../../sass/common/base.scss */
      #container .line-checkbox .input-underline:focus {
        box-shadow: 0; }
  /* line 809, ../../../sass/common/base.scss */
  #container .td-line-checkbox {
    width: 98%;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding-left: 1%; }
    /* line 816, ../../../sass/common/base.scss */
    #container .td-line-checkbox input {
      margin-right: 5%;
      *margin-right: 3%;
      margin-top: 0; }
    /* line 575, ../../../sass/common/base.scss */
    #container .td-line-checkbox .input-underline {
      border: 0;
      border-bottom: 1px solid #248AC9;
      width: 10%;
      border-radius: 0;
      background-color: transparent;
      margin-left: 5px; }
      /* line 583, ../../../sass/common/base.scss */
      #container .td-line-checkbox .input-underline:focus {
        box-shadow: 0; }
  /* line 826, ../../../sass/common/base.scss */
  #container .control-group {
    cursor: pointer; }
    /* line 829, ../../../sass/common/base.scss */
    #container .control-group:hover {
      cursor: pointer; }
  /* line 590, ../../../sass/common/base.scss */
  #container .div-width {
    width: 100%; }
  /* line 594, ../../../sass/common/base.scss */
  #container .div-width-10 {
    width: 10%; }
  /* line 598, ../../../sass/common/base.scss */
  #container .div-width-20 {
    width: 20%; }
  /* line 602, ../../../sass/common/base.scss */
  #container .div-width-30 {
    width: 30%; }
  /* line 606, ../../../sass/common/base.scss */
  #container .div-width-40 {
    width: 40%; }
  /* line 610, ../../../sass/common/base.scss */
  #container .div-width-50 {
    width: 50%; }
  /* line 614, ../../../sass/common/base.scss */
  #container .div-width-60 {
    width: 60%; }
  /* line 618, ../../../sass/common/base.scss */
  #container .div-width-70 {
    width: 70%; }
  /* line 622, ../../../sass/common/base.scss */
  #container .div-width-80 {
    width: 80%; }
  /* line 626, ../../../sass/common/base.scss */
  #container .div-width-90 {
    width: 90%; }
  /* line 630, ../../../sass/common/base.scss */
  #container .div-width-100 {
    width: 100%; }
  @media screen\9 {
    /* line 107, ../../../sass/common/bootstrapplus.scss */
    #container .even {
      background-color: #f4f4f4; } }
  @media screen\9 {
    /* line 117, ../../../sass/common/bootstrapplus.scss */
    #container input[type="text"], #container input[type="password"], #container textarea {
      border: 1px solid #248AC9;
      position: relative;
      z-index: 10; }
      /* line 119, ../../../sass/common/bootstrapplus.scss */
      #container input[type="text"]:hover, #container input[type="password"]:hover, #container textarea:hover {
        box-shadow: #52D9EF 0px 0px 10px; } }
  /* line 8, ../../../sass/common/pages.scss */
  #container .Spage {
    font-family: simsun; }
  /* line 9, ../../../sass/common/pages.scss */
  #container .Spage ul {
    font-size: 0;
    line-height: 26; }
  /* line 10, ../../../sass/common/pages.scss */
  #container .Spage ul li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    white-space: nowrap;
    color: #333;
    line-height: 26px;
    font-size: 14px;
    color: #888;
    margin-right: 6px; }
  /* line 11, ../../../sass/common/pages.scss */
  #container .Spage ul li.previous, #container .Spage ul li.next {
    font-size: 12px; }
  /* line 12, ../../../sass/common/pages.scss */
  #container .Spage ul li.selected {
    font-weight: bold; }
  /* line 14, ../../../sass/common/pages.scss */
  #container .Spage ul li span {
    color: #888;
    line-height: 26px; }
  /* line 15, ../../../sass/common/pages.scss */
  #container .Spage ul li a, #container .Spage ul li.hidden span {
    display: block;
    color: #333;
    border: 1px solid #CCC;
    height: 24px;
    min-width: 16px;
    _width: 16px;
    text-align: center;
    padding: 0 4px;
    line-height: 24px; }
  /* line 16, ../../../sass/common/pages.scss */
  #container .Spage ul li a:hover, #container .Spage ul li.selected a {
    color: #F67301;
    border-color: #F67301;
    text-decoration: none; }
  /* line 18, ../../../sass/common/pages.scss */
  #container .Spage ul li.previous a,
  #container .Spage ul li.next a,
  #container .Spage ul li.previous span,
  #container .Spage ul li.next span {
    background-image: url(../../../img/bg.gif);
    background-repeat: no-repeat; }
  /* line 22, ../../../sass/common/pages.scss */
  #container .Spage ul li.previous a {
    background-position: 9px 8px;
    padding: 0 9px 0 19px; }
  /* line 23, ../../../sass/common/pages.scss */
  #container .Spage ul li.previous a:hover {
    background-position: 9px -11px; }
  /* line 24, ../../../sass/common/pages.scss */
  #container .Spage ul li.next a {
    padding: 0 19px 0 9px;
    background-position: right -30px; }
  /* line 25, ../../../sass/common/pages.scss */
  #container .Spage ul li.next a:hover {
    background-position: right -49px; }
  /* line 26, ../../../sass/common/pages.scss */
  #container .Spage input.pageNo {
    ime-mode: disabled;
    height: 20px;
    line-height: 20px;
    margin: 0 5px;
    width: 25px;
    text-align: center;
    color: #333; }
  /* line 27, ../../../sass/common/pages.scss */
  #container .Spage input.submit_go {
    height: 24px;
    width: 49px;
    margin: 0 0 0 3px;
    text-align: center;
    color: #333;
    border: 1px solid #B7B7B7;
    border-radius: 2px;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#EBEBEB');
    background: linear-gradient(top, #F7F7F7, #EBEBEB);
    background: -moz-linear-gradient(top, #F7F7F7, #EBEBEB);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#EBEBEB)); }
  /* line 32, ../../../sass/common/pages.scss */
  #container .Spage ul li {
    margin-right: 6px; }
  /* line 33, ../../../sass/common/pages.scss */
  #container .Spage ul li.previous span {
    background-position: 9px 8px;
    padding: 0 9px 0 19px; }
  /* line 34, ../../../sass/common/pages.scss */
  #container .Spage ul li.next span {
    padding: 0 19px 0 9px;
    background-position: right -30px; }
  /* line 35, ../../../sass/common/pages.scss */
  #container .Spage ul li.hidden span {
    color: #CCC;
    cursor: default;
    margin-right: 0; }
  /* line 38, ../../../sass/common/pages.scss */
  #container .Spage_noB button, #container .Spage_noB input, #container .Spage_noB ul li {
    line-height: 18px; }
  /* line 39, ../../../sass/common/pages.scss */
  #container .Spage_noB ul li a, #container .Spage_noB ul li.hidden span {
    border: 1px solid #FFF;
    height: 18px;
    line-height: 18px;
    min-width: 12px;
    _width: 12px;
    padding: 0 3px; }
  /* line 40, ../../../sass/common/pages.scss */
  #container .Spage_noB ul li.previous a {
    background-position: 9px 5px; }
  /* line 41, ../../../sass/common/pages.scss */
  #container .Spage_noB ul li.previous a:hover {
    background-position: 9px -14px; }
  /* line 42, ../../../sass/common/pages.scss */
  #container .Spage_noB ul li.next a {
    background-position: right -33px; }
  /* line 43, ../../../sass/common/pages.scss */
  #container .Spage_noB ul li.next a:hover {
    background-position: right -52px; }
  /* line 44, ../../../sass/common/pages.scss */
  #container .Spage_noB input.to_txt {
    height: 16px;
    line-height: 16px; }
  /* line 45, ../../../sass/common/pages.scss */
  #container .Spage_noB .pageNo {
    height: 16px;
    line-height: 16px; }
  /* line 46, ../../../sass/common/pages.scss */
  #container .Spage_noB input.submit_go {
    height: 22px;
    width: 49px;
    text-align: center;
    color: #333; }
  /* line 49, ../../../sass/common/pages.scss */
  #container .Spage_noB .hidden {
    display: none; }
  /* line 52, ../../../sass/common/pages.scss */
  #container .Spage_ico_but {
    _height: 20px;
    min-height: 20px; }
  /* line 53, ../../../sass/common/pages.scss */
  #container .Spage_ico_but ul li {
    line-height: 17px;
    height: 17px;
    overflow: hidden; }
  /* line 54, ../../../sass/common/pages.scss */
  #container .Spage_ico_but ul li.previous, #container .Spage_ico_but ul li.next {
    border: 1px solid #B3B3B3;
    border-radius: 2px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#EBEBEB');
    background: linear-gradient(top, #F7F7F7, #EBEBEB);
    background: -moz-linear-gradient(top, #F7F7F7, #EBEBEB);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#EBEBEB)); }
  /* line 62, ../../../sass/common/pages.scss */
  #container .Spage_ico_but ul li.previous a, #container .Spage_ico_but ul li.next a {
    width: 17px;
    height: 17px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    border: 0px none #FFF;
    background-repeat: no-repeat; }
  /* line 63, ../../../sass/common/pages.scss */
  #container .Spage_ico_but ul li.previous a {
    background-position: 5px 4px; }
  /* line 64, ../../../sass/common/pages.scss */
  #container .Spage_ico_but ul li.previous a:hover {
    background-position: 5px -15px; }
  /* line 65, ../../../sass/common/pages.scss */
  #container .Spage_ico_but ul li.next a {
    background-position: 7px -34px; }
  /* line 66, ../../../sass/common/pages.scss */
  #container .Spage_ico_but ul li.next a:hover {
    background-position: 7px -53px; }
  /* line 70, ../../../sass/common/pages.scss */
  #container .Spage ul li.previous a {
    background-position: 9px -11px; }
  /* line 71, ../../../sass/common/pages.scss */
  #container .Spage ul li.next a {
    background-position: right -49px; }
  /* line 72, ../../../sass/common/pages.scss */
  #container .Spage_noB ul li.previous a {
    background-position: 9px -14px; }
  /* line 73, ../../../sass/common/pages.scss */
  #container .Spage_noB ul li.next a {
    background-position: right -52px; }
  /* line 74, ../../../sass/common/pages.scss */
  #container .Spage_ico_but ul li.previous a {
    background-position: 5px -15px; }
  /* line 75, ../../../sass/common/pages.scss */
  #container .Spage_ico_but ul li.next a {
    background-position: 7px -53px; }
  /* line 79, ../../../sass/common/pages.scss */
  #container .Spage_blue ul li a:hover,
  #container .Spage_blue ul li.selected a {
    color: #0183F6;
    border-color: #0183F6;
    text-decoration: none; }
  /* line 81, ../../../sass/common/pages.scss */
  #container .Spage_blue ul li.previous a,
  #container .Spage_blue ul li.next a,
  #container .Spage_blue ul li.previous span,
  #container .Spage_blue ul li.next span {
    background-image: url(../../../img/bg_blue.gif);
    background-repeat: no-repeat; }
  /* line 87, ../../../sass/common/pages.scss */
  #container .Spage_red ul li a:hover,
  #container .Spage_red ul li.selected a {
    color: #E94545;
    border-color: #E94545;
    text-decoration: none; }
  /* line 89, ../../../sass/common/pages.scss */
  #container .Spage_red ul li.previous a,
  #container .Spage_red ul li.next a,
  #container .Spage_red ul li.previous span,
  #container .Spage_red ul li.next span {
    background-image: url(../../../img/bg_red.gif);
    background-repeat: no-repeat; }
  /* line 95, ../../../sass/common/pages.scss */
  #container .Spage_orange ul li a:hover,
  #container .Spage_orange ul li.selected a {
    color: #F60;
    border-color: #F60;
    text-decoration: none; }
  /* line 97, ../../../sass/common/pages.scss */
  #container .Spage_orange ul li.previous a,
  #container .Spage_orange ul li.next a,
  #container .Spage_orange ul li.previous span,
  #container .Spage_orange ul li.next span {
    background-image: url(../../../img/bg_orange.gif);
    background-repeat: no-repeat; }
  /* line 104, ../../../sass/common/pages.scss */
  #container .Spage li {
    margin-left: 2%;
    margin-right: 2%; }
  /* line 108, ../../../sass/common/pages.scss */
  #container .Spage .toPage {
    margin-left: 50px;
    height: 26px;
    line-height: 26px; }
    /* line 112, ../../../sass/common/pages.scss */
    #container .Spage .toPage div {
      height: 26px;
      line-height: 26px; }
    /* line 116, ../../../sass/common/pages.scss */
    #container .Spage .toPage input {
      padding: 0;
      text-align: center;
      margin-bottom: 3px;
      width: 40px;
      height: 24px;
      *height: 20px;
      behavior: none; }
    /* line 126, ../../../sass/common/pages.scss */
    #container .Spage .toPage select {
      padding: 0;
      margin-bottom: 3px;
      width: 50px;
      height: 26px; }
    /* line 132, ../../../sass/common/pages.scss */
    #container .Spage .toPage button {
      height: 26px;
      *height: 22px;
      position: relative;
      bottom: 3px;
      left: 5px; }

/* line 9, ../../../sass/common/bootstrapplus.scss */
#content .plus-nav-tabs-init {
  width: 92%;
  margin: 0;
  padding-left: 8%;
  background: transparent url(../../../img/bytter_skin.png) repeat 0 -298px; }
  /* line 16, ../../../sass/common/bootstrapplus.scss */
  #content .plus-nav-tabs-init li {
    min-width: 14%;
    text-align: center;
    margin-left: 1%; }
    /* line 20, ../../../sass/common/bootstrapplus.scss */
    #content .plus-nav-tabs-init li a {
      *min-width: 100px;
      border-color: #eee #eee #ddd;
      text-decoration: none;
      background-color: #eee;
      *padding-left: 1px;
      *padding-right: 1px;
      *margin-left: 0;
      *margin-right: 0;
      position: relative;
      z-index: 10; }
      /* line 33, ../../../sass/common/bootstrapplus.scss */
      #content .plus-nav-tabs-init li a:hover {
        border: 1px solid transparent;
        background-color: transparent;
        color: #f14e32; }
    /* line 41, ../../../sass/common/bootstrapplus.scss */
    #content .plus-nav-tabs-init li.active a {
      *min-width: 100px;
      border-color: #dddddd;
      text-decoration: none;
      background-color: white;
      border-bottom: 0;
      position: relative;
      z-index: 10;
      bottom: -1px;
      *zoom: 1;
      position: relative;
      z-index: 10; }
/* line 57, ../../../sass/common/bootstrapplus.scss */
#content .plus-nav-tabs-content {
  width: 100%; }
  /* line 59, ../../../sass/common/bootstrapplus.scss */
  #content .plus-nav-tabs-content > div {
    width: 100%; }
/* line 64, ../../../sass/common/bootstrapplus.scss */
#content .tab-content {
  overflow: hidden; }
/* line 559, ../../../sass/common/base.scss */
#content .center-buttons {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px; }
  /* line 564, ../../../sass/common/base.scss */
  #content .center-buttons .btn {
    margin: 0 40px 0 20px; }
  /* line 568, ../../../sass/common/base.scss */
  #content .center-buttons .prev-step {
    margin-left: 130px; }
/* line 837, ../../../sass/common/base.scss */
#content table td input[type="password"],
#content table td input[type="text"],
#content table td textarea {
  width: 95%; }
/* line 843, ../../../sass/common/base.scss */
#content table td select {
  width: 86%; }
/* line 850, ../../../sass/common/base.scss */
#content table td {
  text-align: center;
  vertical-align: middle; }
/* line 636, ../../../sass/common/base.scss */
#content .content-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  padding-left: 15px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 30px;
  background: transparent url("../../../img/bytter_skin.png") repeat-x 0 -264px; }
  /* line 648, ../../../sass/common/base.scss */
  #content .content-title.first {
    margin-top: 10px; }
/* line 653, ../../../sass/common/base.scss */
#content .content-title-1 {
  border-bottom-color: #d1d1d1;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #8e7b62;
  display: block;
  font-family: 'microsoft yahei';
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 70px;
  line-height: 70px;
  margin: 0;
  padding: 0;
  position: relative; }
  /* line 670, ../../../sass/common/base.scss */
  #content .content-title-1 img {
    width: 37px;
    height: 37px;
    margin-right: 10px; }
  /* line 676, ../../../sass/common/base.scss */
  #content .content-title-1 small {
    color: #D32349;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; }
  /* line 682, ../../../sass/common/base.scss */
  #content .content-title-1 .plus-info-right {
    color: #888889;
    font-family: ' Arial, 宋体';
    font-size: 16px;
    *zoom: 1;
    float: right;
    *position: absolute;
    *right: 0; }
    /* line 691, ../../../sass/common/base.scss */
    #content .content-title-1 .plus-info-right span {
      color: #d32349;
      display: inline;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px; }
/* line 700, ../../../sass/common/base.scss */
#content .content-title-2 {
  background-image: none;
  background-color: #DFF0D8;
  color: #2B93C7;
  margin-top: 30px;
  margin-bottom: 3px; }
  /* line 707, ../../../sass/common/base.scss */
  #content .content-title-2 .btn-right {
    margin: 0 15px 0 0;
    padding: 2px 5px;
    float: right; }
/* line 714, ../../../sass/common/base.scss */
#content .content-back-none {
  background: none; }
/* line 718, ../../../sass/common/base.scss */
#content .content-title-blue {
  border-bottom: 2px solid #248AC9; }
/* line 722, ../../../sass/common/base.scss */
#content .content-title-condensed {
  height: 50px;
  line-height: 50px; }
/* line 727, ../../../sass/common/base.scss */
#content .content-title-noborder {
  border: 0; }
/* line 731, ../../../sass/common/base.scss */
#content .content-first-title {
  color: #837b62;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  font-family: "Microsoft Yahei"; }
/* line 739, ../../../sass/common/base.scss */
#content .content-banner-info {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  font-family: "Microsoft Yahei"; }
/* line 746, ../../../sass/common/base.scss */
#content .content-split {
  margin-top: 0; }
/* line 750, ../../../sass/common/base.scss */
#content .small-select {
  height: 30px;
  line-height: 30px;
  margin-left: 30px; }
  /* line 755, ../../../sass/common/base.scss */
  #content .small-select span {
    font-size: 14px;
    margin-right: 3px;
    height: 30px;
    line-height: 30px;
    color: black; }
  /* line 763, ../../../sass/common/base.scss */
  #content .small-select select {
    margin: 0;
    *position: relative;
    *top: 8px;
    *right: 3px; }
/* line 773, ../../../sass/common/base.scss */
#content .div-line-bottom {
  border-bottom: 1px solid #d1d1d1; }
/* line 527, ../../../sass/common/base.scss */
#content .div-text-right {
  text-align: right; }
/* line 531, ../../../sass/common/base.scss */
#content .div-text-left {
  text-align: left; }
/* line 535, ../../../sass/common/base.scss */
#content .div-text-center {
  text-align: center; }
/* line 539, ../../../sass/common/base.scss */
#content .div-text-center-prio {
  text-align: center !important; }
/* line 496, ../../../sass/common/base.scss */
#content .double-check-sp {
  display: inline-block;
  width: 90%;
  cursor: pointer;
  border: 1px solid #D3D4D5;
  border-radius: 5px;
  position: relative;
  z-index: 10; }
  /* line 503, ../../../sass/common/base.scss */
  #content .double-check-sp.active {
    border: 1px solid #54B6E5;
    box-shadow: 0 0 10px #54B6E5;
    *background-color: white; }

/* line 39, ../../../sass/core/business/financeSearch.scss */
#fund_search_way .content-title-1, #repay_serach_way .content-title-1 {
  border-bottom: 2px solid #248AC9; }
/* line 42, ../../../sass/core/business/financeSearch.scss */
#fund_search_way .search-table, #repay_serach_way .search-table {
  margin-top: 15px; }
  /* line 45, ../../../sass/core/business/financeSearch.scss */
  #fund_search_way .search-table select, #fund_search_way .search-table input, #repay_serach_way .search-table select, #repay_serach_way .search-table input {
    margin: 0; }
  /* line 48, ../../../sass/core/business/financeSearch.scss */
  #fund_search_way .search-table select, #repay_serach_way .search-table select {
    width: 52% !important;
    padding: 0;
    *position: relative;
    *top: 4px; }
  /* line 54, ../../../sass/core/business/financeSearch.scss */
  #fund_search_way .search-table input, #repay_serach_way .search-table input {
    width: 50% !important; }
  /* line 58, ../../../sass/core/business/financeSearch.scss */
  #fund_search_way .search-table .date input, #repay_serach_way .search-table .date input {
    width: 22.5% !important; }
  /* line 496, ../../../sass/common/base.scss */
  #fund_search_way .search-table .double-check-sp, #repay_serach_way .search-table .double-check-sp {
    display: inline-block;
    width: 90%;
    cursor: pointer;
    border: 1px solid #D3D4D5;
    border-radius: 5px;
    position: relative;
    z-index: 10; }
    /* line 503, ../../../sass/common/base.scss */
    #fund_search_way .search-table .double-check-sp.active, #repay_serach_way .search-table .double-check-sp.active {
      border: 1px solid #54B6E5;
      box-shadow: 0 0 10px #54B6E5;
      *background-color: white; }
/* line 64, ../../../sass/core/business/financeSearch.scss */
#fund_search_way .center-buttons, #repay_serach_way .center-buttons {
  margin-top: 15px;
  margin-bottom: 10px; }

/* line 70, ../../../sass/core/business/financeSearch.scss */
#search_info {
  min-height: 400px;
  position: relative; }

/* line 76, ../../../sass/core/business/financeSearch.scss */
#upload_fac_box {
  position: absolute;
  top: 52px;
  left: 0;
  z-index: 99999;
  background: white; }
  /* line 82, ../../../sass/core/business/financeSearch.scss */
  #upload_fac_box #upload_fac_page {
    height: 230px; }
  /* line 85, ../../../sass/core/business/financeSearch.scss */
  #upload_fac_box .center-buttons {
    margin: 0; }

/* line 90, ../../../sass/core/business/financeSearch.scss */
#upload_plus_box, #upload_edit_plus_box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
  background: white; }
  /* line 96, ../../../sass/core/business/financeSearch.scss */
  #upload_plus_box .upload-detail-box, #upload_edit_plus_box .upload-detail-box {
    width: 820px; }
  /* line 102, ../../../sass/core/business/financeSearch.scss */
  #upload_plus_box iframe, #upload_edit_plus_box iframe {
    height: 230px; }
  /* line 105, ../../../sass/core/business/financeSearch.scss */
  #upload_plus_box .center-buttons, #upload_edit_plus_box .center-buttons {
    margin: 0; }

/* line 112, ../../../sass/core/business/financeSearch.scss */
#search_info .search-result .modi-group, #serch_repay_info .search-result .modi-group {
  text-align: left !important;
  vertical-align: middle; }
  /* line 115, ../../../sass/core/business/financeSearch.scss */
  #search_info .search-result .modi-group .btn, #serch_repay_info .search-result .modi-group .btn {
    margin-left: 20px; }
/* line 119, ../../../sass/core/business/financeSearch.scss */
#search_info .search-result .result-head, #serch_repay_info .search-result .result-head {
  font-size: 12px;
  background: #F9CC9D; }
/* line 127, ../../../sass/core/business/financeSearch.scss */
#search_info .recieve-table .btn-td-group .btn, #serch_repay_info .recieve-table .btn-td-group .btn {
  margin-left: 10px;
  margin-right: 10px; }
/* line 133, ../../../sass/core/business/financeSearch.scss */
#search_info .content-title-1, #serch_repay_info .content-title-1 {
  border-bottom: 2px solid #248AC9;
  position: relative; }
  /* line 136, ../../../sass/core/business/financeSearch.scss */
  #search_info .content-title-1 .search-info, #serch_repay_info .content-title-1 .search-info {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    height: 50px;
    line-height: 50px;
    margin-left: 30px; }
    /* line 143, ../../../sass/core/business/financeSearch.scss */
    #search_info .content-title-1 .search-info input, #serch_repay_info .content-title-1 .search-info input {
      margin-bottom: 0; }
    /* line 146, ../../../sass/core/business/financeSearch.scss */
    #search_info .content-title-1 .search-info .btn-group, #serch_repay_info .content-title-1 .search-info .btn-group {
      height: 30px;
      line-height: 30px;
      position: relative;
      bottom: 1px; }
    /* line 152, ../../../sass/core/business/financeSearch.scss */
    #search_info .content-title-1 .search-info .dropdown-toggle, #serch_repay_info .content-title-1 .search-info .dropdown-toggle {
      min-width: 0; }
    /* line 155, ../../../sass/core/business/financeSearch.scss */
    #search_info .content-title-1 .search-info .dropdown-menu, #serch_repay_info .content-title-1 .search-info .dropdown-menu {
      min-width: 107px; }

/* line 178, ../../../sass/core/business/financeSearch.scss */
#upload_list_box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  background: white; }
  /* line 185, ../../../sass/core/business/financeSearch.scss */
  #upload_list_box .detail-box .content-title-1 {
    border-bottom: 2px solid #248AC9; }
  /* line 190, ../../../sass/core/business/financeSearch.scss */
  #upload_list_box .center-buttons .btn {
    min-height: 20px !important; }
  /* line 195, ../../../sass/core/business/financeSearch.scss */
  #upload_list_box table {
    margin-top: 15px;
    margin-bottom: 25px; }
    /* line 198, ../../../sass/core/business/financeSearch.scss */
    #upload_list_box table thead td {
      background-color: #dff0d8;
      font-weight: bold;
      color: #0088cc; }
